[2016-09-01 16:15] jminor opened #1 "AAF Adapter (Read)"
OTIO needs support for reading & writing AAF files.

[2016-09-01 16:20] jminor opened #2 "Final Cut Pro 7 XML Adapter"
OTIO needs support for reading & writing FCPXML files.

[2016-09-01 16:23] jminor opened #3 "Adobe Premiere Support"
OTIO needs support for reading & writing Adobe Premiere prproj files.

[2016-09-01 16:25] jminor opened #4 "Cross-platform Viewer Application"
OTIO needs a cross-platform viewer application.

This will let you see the contents of a timeline including tracks, clips, markers, etc. but not necessarily  the actual media the timeline refers to.

[2016-09-01 16:31] jminor opened #5 "Support for non-24 fps timecode"
Opentime should support all of the standard video editing frame rates: 24, 25, 30, 48, 60 and the drop frame variants 23.98, etc.

[2016-09-01 16:35] jminor opened #6 "Support for Transitions"
OTIO should understand transitions (cross dissolves, wipes, etc.)

[2016-09-06 20:20] ssteinbach opened #7 "ALE Adapter"
We could use an adapter for reading/writing Avid Log Exchange (`.ALE`) files.

[2016-09-06 20:23] ssteinbach opened #8 "PIX System Integration"
## Would be nice to:
- Upload a `.otio` file and have it also upload associated media to pix
- Download a `.otio` file and get associated media from pix

[2016-09-06 20:25] ssteinbach opened #9 "CMX EDL Adapter should support markers"
`tests/sample_data/screening_example.edl` includes markers, but the current adapter ignores them.  We should be able to read and write markers.

[2016-09-08 18:26] ssteinbach opened #10 "Support for versioning schemas"
Currently there is a version in every schema version label, for example:

`Timeline.1`

Supporting versioning up the schemas, so that if the current version of the schema is `.2` and it gets a `.1` it knows how to upgrade (to the best of its abilities) from 1 to 2.

[2016-10-06 14:03] #10 closed, assigned to nobody

[2016-10-07 18:57] reinecke opened #14 "OpenTime should have to_seconds and from_seconds for RationalTime"
Just like `to_frames` and `from_frames` exist for `RationalTime`, there should be `to_seconds` and `from_seconds`

[2016-10-07 18:57] reinecke opened #15 "HLS Playlist Adapter"
Create an adapter that expresses Fragments or Segments as clips in a sequence to allow authoring of HLS playlists from OpenTimelineIO.

[2016-10-07 20:08] jminor opened #16 "range_of_child should work for nested compositions"

[2016-10-11 00:51] #14 closed, assigned to reinecke

[2016-10-20 21:38] jminor opened #19 "Python 3 support"
Some stuff doesn't run correctly in python 3.

[2016-11-08 18:55] #16 closed, assigned to ssteinbach

[2016-11-08 21:50] ssteinbach opened #25 "Remove slow test (and the need for make fast_test)"
The `fast_test` target is redundant.  Lets find a faster way to run that robust test so we don't need a "faster" and "slower" make target.

[2016-11-08 23:37] ssteinbach opened #26 "Comparing Timelines"
There have been requests of the ability to have a tool or library for diffing OTIO data. This includes:
- When things change on items that are the same
- A way to programmatically specify how to hash an item (for example, by a particular metadata key or by name)
- A way to detect when an item has moved to another location in the hierarchy

[2016-11-09 18:36] jminor opened #27 "Marker colors"
Most (if not all) editing systems allow for each marker to have a color. We should promote this to a property on the Marker class. We just need to decide how it is represented (a string, RGB, etc.) To decide we should look to see how AAF, FCPXML, etc. represent marker colors.

[2016-11-09 18:38] jminor opened #28 "Adapter warning/error reporting"
Adapters should be able to report warnings and errors to the caller in a clear way.

[2016-11-09 18:42] jminor opened #29 "Marker range should be renamed"
"range" is a reserved word, we should call it "marked_range" or something else.

[2016-11-09 18:45] ssteinbach opened #30 "Sphinx documentation support"
We should add support for generating docs via sphinx (the python system) with a  make target of some kind.

[2016-11-09 19:31] jminor opened #31 "Support for multiple timelines in one file"
Several of the existing formats, FCPXML, PRPROJ and AAF allow you to store multiple timelines, or whole projects, in a single file. When reading from one of those, OTIO needs to know which timeline/sequence you want from it.

We could also support a container object that holds multiple timelines and other stuff, but this feels likely out of scope of the aims of OTIO. Further discussion & real worl

[2016-11-10 22:15] #19 closed, assigned to reinecke

[2016-11-29 22:29] #25 closed, assigned to ssteinbach, jminor

[2016-12-01 17:57] jminor opened #37 "Final Cut Pro X XML Adapter"
After we complete the Final Cut Pro 7 XML Adapter (see https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/2)
we will build support for the newer Final Cut Pro X XML format, which is slightly different.

Apple has offered advice/guidance on the differences between the 7 and X formats.

[2016-12-05 18:46] jminor opened #39 "Support for speed up, slow down effects"
Most NLEs support effects which speed up or slow down clips. OTIO should support this also.

There are three important questions that applications using OTIO will want to know:

1. Does this Item have a speed vary effect on it?
2. For each frame of output, which frame of source should be displayed?
3. For a given clip, what is the earliest and latest source frame visible on the timeline?

Note tha

[2016-12-09 18:05] ssteinbach opened #42 "otio.opentime.to_frames should return an int, not a float"

[2016-12-09 18:08] ssteinbach opened #43 "Clarify inclusive/exclusive end_time() on otio.opentime.TimeRange"
The `end_time` function on TimeRange documentation does not agree with the implementation, however, there is a time when you want either inclusive or exclusive.  We should consider splitting the method up or clarifying the language.

[2016-12-09 18:18] ssteinbach opened #44 "Remove the pretty_print_string adapter"
Since the JSON format is pretty clean now, we should be able to deprecate and remove the `pretty_print_string` adapter.

- Remove the `pretty_print_string` adapter (+remove from manifest)
- Switch `bin/otiocat` to print out the json rather than use the pretty_print_string

[2016-12-13 19:33] #30 closed, assigned to ssteinbach

[2016-12-16 18:47] #29 closed, assigned to ssteinbach

[2016-12-16 18:47] #42 closed, assigned to ssteinbach

[2016-12-16 18:47] #44 closed, assigned to ssteinbach

[2016-12-21 16:56] #9 closed, assigned to jminor

[2016-12-21 17:42] ssteinbach opened #50 "FCP7 adapter unit test"
Right now we don't have one, lets add one!

[2016-12-21 17:58] #2 closed, assigned to bashesenaxis, jasonfairleyaxis

[2016-12-28 17:36] schworer opened #53 "`pretty_print_string` adapter missing from master"
Running `make test` on a clean checkout of master returns:

[code]

[2017-01-03 10:32] bashesenaxis opened #55 "opentime.from_timecode does not return correct value"
This method currently only works with 24.0 fps

[2017-01-03 21:58] #53 closed, assigned to schworer

[2017-01-04 19:54] #55 closed, assigned to nobody

[2017-01-04 21:31] #50 closed, assigned to bashesenaxis

[2017-01-05 17:19] ssteinbach opened #57 "Add convenience function for returning the list of file extensions with known adapters"
For integration with applications, its useful to be able to ask OTIO which file suffixes it has adapters for, so that an application can present a file chooser with a meaningful set of files.

in the mean time, this snippet will do it:
[code]

[2017-01-05 18:49] jminor opened #58 "Continuous integration on GitHub"
We should set up continuous integration so that all the tests run on every commit.

[2017-01-10 20:11] reinecke opened #59 "FCP XML adapter fails python 3.5 unittests"
The issues that come up when making the `test3.5` target are:

- `ImportError` for `urlparse`
- `singleton_decorator` uses `+` to concatenate `dict.values()` which becomes an iterable in Python 3 - `max(br_map[tag].values() + [0])`
- `write_to_string` function returns a bytes object instead of a string. Python requires files to be open with `wb` mode to write bytes.

The first two are fairly strai

[2017-01-13 17:17] jminor opened #61 "Generator clips"
Some systems allow solid color, gradients, etc. We should support this.

[2017-01-13 17:18] jminor opened #62 "Subtitles & captions"
We should support subtitles and captions.

[2017-01-13 17:58] ssteinbach opened #63 "Add conceptual architecture document like the readme says"

[2017-01-14 01:16] jminor opened #64 "RV session file adapter"
OpenTimelineIO should be able to read & write RV session files.

[2017-01-16 10:51] bashesenaxis opened #65 "maya importer / exporter"
Demonstration how to use otio for importing / exporting editorial data in Maya.
(For the contrib area.)

[2017-01-17 19:58] #4 closed, assigned to bashesenaxis

[2017-01-17 23:03] #3 closed, assigned to bashesenaxis, jasonfairleyaxis

[2017-01-20 23:37] jminor opened #67 "Support for ordered collections?"
Some use cases, like the ALE adapter, project bins, etc. call for an ordered list of OTIO objects, but without the formality of a Sequence. Should we model this as a new Collection schema?

[2017-01-23 17:47] jminor opened #68 "Document still/held image support"
Sometimes a clip's media is a single image, held for some duration. We have found that folks using OTIO are surprised by this. They seem to expect that a clip's media_reference is always a movie file, or an ImageSequenceReference, but that is not a requirement.

We should document this use case, and provide OTIO samples with clips that point to still images.

[2017-01-23 17:47] jminor opened #69 "Image sequence support"
Sometimes the media for a clip is a sequence of images.

[2017-02-01 23:38] #57 closed, assigned to ssteinbach

[2017-02-13 18:06] jminor opened #71 "C++ API"
The Python API is fine for many studio use cases, but for embedding OTIO into a 3rd party application, a C API is preferred.

We should use a library like libgit2 as a model for how the C API should work (e.g. minimal dependencies, re-entrant, cross-platform, standard error codes, clear memory allocation rules, etc.)

[2017-03-03 20:12] jminor opened #73 "PySide vs PyQt"
otioview uses PySide, but some folks might need to use PyQt. If we need to support both, then this shim might help: https://github.com/mottosso/Qt.py

[2017-03-15 17:54] ssteinbach opened #75 "add utility function for telling if a reference is a missing reference"
something better than:
`isinstance(source.media_reference, otio.media_reference.MissingReference)`

[2017-03-16 20:53] #15 closed, assigned to reinecke

[2017-03-16 22:53] ssteinbach opened #76 "Adapters or place for "in context"use of otio"
The way adapters currently work right now is for offline use, where it produces a file on disk (or a string in memory).  For cases where you want the adapter to produce a series of side effects (for example, if you're in an editing program and you want to load an OTIO file from disk into the state of the editing program) we don't currently have a place in the code base.  `read_into_context` has be

[2017-03-17 23:36] #64 closed, assigned to jminor

[2017-03-23 17:03] #63 closed, assigned to jminor

[2017-04-04 21:26] #43 closed, assigned to ssteinbach

[2017-04-04 21:41] #75 closed, assigned to ssteinbach

[2017-04-17 22:26] mikemahony opened #85 "Capture EDL `reel` field in OTIO metadata"
The `reel` field, `ZZ100_50` in the case below, is not currently pulled into the OTIO object anywhere.  Let's capture it.
[code]

[2017-04-18 00:14] ssteinbach opened #86 "SMPTE_Wipe support"
The `schema.transition.TransitionTypes` struct leaves a spot for SMPTE_Wipe enum, but it is not implemented.  It should be implemented, with a custom Properties class (derived from serializable object) for the SMPTE specified parameters to wipes.  Adapter specific additional parameters (for example, from AAF) can go into metadata.  It would also need to be supported by the adapters.

This is as de

[2017-04-18 22:21] jminor opened #88 "Python 2.6 support"
Some people are still using Python 2.6.

[2017-04-19 17:17] #88 closed, assigned to nobody

[2017-04-24 21:18] jminor opened #92 "Duration vs computed_duration is not quite right"
The API currently makes a distinction between duration and computed_duration. This is not cleanly thought out and sometimes causes confusion. We should re-think this and probably consolidate them into a single concept.

This also overlaps a bit with the distinction between source_range, available_range and trimmed_range.

The proposed change is something like this:

- We should add available_range

[2017-04-25 00:21] #5 closed, assigned to reinecke

[2017-04-25 16:34] #6 closed, assigned to nobody

[2017-04-25 18:36] ssteinbach opened #94 "Media Linker Plugin"
The adapter on its own often does not have enough information to find media paths referred to by editorial media.  For example, an EDL may only have shot names or PTS codes.  A media linker plugin would take the MissingReference produced by those adapters and if possible, return a resolved MediaReference.

This should follow the pattern of the adapter plugins, defined by a manifest and so on.  It

[2017-04-26 02:25] #67 closed, assigned to nobody

[2017-04-26 02:26] #65 closed, assigned to nobody

[2017-04-26 02:26] #31 closed, assigned to nobody

[2017-04-27 00:16] ssteinbach opened #97 "Broken unit test on Python3.5"
In `test_cmx_3600_adapter.py` in `test_edl_round_trip_mem2disk2mem` there is a failure on python 3.5 (not on 2.7) where things in 2.7 that are written as ints are being written as floats.

[2017-05-02 18:37] jminor opened #99 "XMP/UMC Support"
Do we want an adapter for this?
We need to learn more about this to plan it out.

http://wwwimages.adobe.com/content/dam/Adobe/en/devnet/xmp/pdfs/XMP%20SDK%20Release%20cc-2016-08/XMP-Media-Prod-SDK.pdf

[2017-05-03 18:32] ssteinbach opened #100 "Transition support in the FCP XML adapter"
Now that transitions are supported in the main API, we should support them in our adapters where appropriate.

[2017-05-03 18:34] ssteinbach opened #101 "CMX EDL Adapter support for writing transitions"
the EDL adapter supports reading transitions from an EDL, it should also support writing them to an EDL.

[2017-05-05 18:40] ssteinbach opened #102 "RV Adapter Marker support"
I think Markers would become "marks" in RV.  Having them come through would be cool in the RV adapter.

[2017-05-05 18:41] ssteinbach opened #103 "Transition support in the CMX EDL adapter writer"
Transitions are supported when reading EDLs, but not when writing them.

[2017-05-12 21:10] ssteinbach opened #104 "IMF CPL Adapter"
This issue is a placeholder for something that has come up as a question but is not currently a priority.

[2017-06-02 05:56] jminor opened #106 "Quick-start instructions for otioview"
Several people have encountered issues getting otioview to run, as it requires PySide. We should document the steps needed to get it up and running from scratch on Windows, Mac, and Linux.

Also, we may be able to package up a self-contained version using something like http://www.pyinstaller.org

[2017-06-02 23:25] reinecke opened #107 "setup.py missing packages"
When doing setuptools packaging of OpenTimelineIO, the distribution does not include the new submodules:
`opentimelineio.algorithms`
`opentimelineio.plugins`

[2017-06-03 00:03] #107 closed, assigned to nobody

[2017-06-13 20:40] mikemahony opened #110 "CMX3600 EDL transitions with odd frame length shortened by a single frame."
During read, transitions are losing a single frame (causing the entire timeline to shrink).

[2017-06-14 16:48] jminor opened #112 "Rename Sequence to Track"
In discussion with some folks new to the project it has become clear that the term "Sequence" is sometimes confusing, and doesn't match the common terminology used when talking about timelines in practice. I would like to propose that we rename "Sequence" to "Track" (both the class name and in the file format).

The schema versioning mechanism should be able to accommodate this. Specifically, olde

[2017-06-26 20:16] jminor opened #114 "EDL parser doesn't handle lots of audio tracks."
If you have an EDL with more than a few audio tracks, the EDL parser chokes.

[2017-06-27 00:58] jminor opened #118 "EDL parser needs options for non-24 fps import."
There's some code that refers to edl_rate, but there's no way to pass in a value, nor does it attempt to detect the rate used in the file.

[2017-06-27 03:28] #110 closed, assigned to nobody

[2017-06-27 15:53] ssteinbach opened #119 "interface for passing arguments to adapters"
Currentliy there is no way to pass arguments to specific adapters through the `otio.adapters.read_from_*` interface to the adapter running the code, even if they support it.  For example, setting the framerate of a parsed EDL.

[2017-06-28 17:02] #101 closed, assigned to nobody

[2017-06-28 17:03] #92 closed, assigned to ssteinbach

[2017-06-28 17:03] #85 closed, assigned to nobody

[2017-06-28 17:08] ssteinbach opened #120 "Rename "Filler" to "gap""
The idea is to be clearer that Filler clips are transparent.  We don't have a concept of an opaque gap between clips.  Our current thinking is that this will be handled by generator clips.

[2017-06-28 17:09] #97 closed, assigned to jminor, reinecke

[2017-06-28 17:22] ssteinbach opened #121 "Write "how to write a media linker plugin" wiki page"

[2017-06-28 17:22] #94 closed, assigned to ssteinbach

[2017-06-28 21:41] #121 closed, assigned to ssteinbach

[2017-06-29 15:51] #114 closed, assigned to jminor

[2017-06-29 15:52] #118 closed, assigned to nobody

[2017-06-29 16:02] ssteinbach opened #123 "Drop frame timecode support"
Currently OTIO doesn't support drop-frame time signatures in any way.

[2017-07-06 19:08] jminor opened #124 "Transition support in otioview"

[2017-07-07 16:45] #58 closed, assigned to ssteinbach

[2017-07-07 16:54] #59 closed, assigned to ssteinbach

[2017-07-11 18:24] jminor opened #128 "Support for multi-track EDLs"
The EDL format supports submasters and virtual edits and virtual source references, which could be mapped to multiple tracks or nested compositions in OTIO.

You can see details of how submasters and virtual edits work in Annex C of SMPTE 258M-2004 "For Television −− Transfer of Edit Decision Lists".

[2017-07-11 21:10] #124 closed, assigned to bashesenaxis

[2017-07-11 21:10] #100 closed, assigned to bashesenaxis

[2017-07-11 21:25] #120 closed, assigned to ssteinbach

[2017-07-17 17:26] jminor opened #135 "Final Cut Pro X workflow"
Final Cut Pro's Custom Share Destination feature could be a good step towards tighter integration with OpenTimelineIO.

https://developer.apple.com/library/content/documentation/FinalCutProX/Conceptual/FinalCutProXWorkflowsGuide/Exporting/Exporting.html

[2017-07-17 23:22] ssteinbach opened #136 "Investigate adapter feature discovery"
It may be possible to write a decorated OTIO file that can be passed through adapters to detect the adapter's support of features.  It may be too difficult though.

[2017-07-17 23:38] #106 closed, assigned to nobody

[2017-07-24 20:37] #27 closed, assigned to ssteinbach

[2017-07-24 20:42] jminor opened #137 "EDL parser doesn't handle adjacent dissolves"
If you have an EDL with two dissolves in a row, the EDL parser doesn't handle that correctly.

Same issue if a dissolve's source(s) don't match the adjacent clips.

[2017-07-25 16:33] ssteinbach opened #138 "Shotgun Integration"
Several studios have asked about integration with Shotgun, so we are tracking this request with this issue here.

[2017-07-26 18:38] jminor opened #139 "Want a way to customize RV node creation in RV adapter"
Studios may want to customize the RV node graph (e.g. using custom nodes for dissolves) without forking the whole RV adapter.

We should provide some flexibility in the RV adapter for this, or more generally to allow any adapter to be customized.

[2017-08-01 17:14] jminor commented on #99
Yes, Dolby is interested in this.

[2017-08-01 21:16] jminor opened #142 "Color Decision List (CDL) support"
Some people would like OTIO to handle Color Decision List metadata in a structured way.

For example, an EDL can contain ASC_SOP and ASC_SAT like this:
*ASC_SOP (1.0000 1.0000 1.0000)(0.0000 0.0122 0.0305)(1.0000 1.0000 1.0000)
*ASC_SAT 1.0000

For reference:
https://en.wikipedia.org/wiki/ASC_CDL

[2017-08-07 19:43] jminor commented on #142
@adaro can you take a look at this to see if it parses your CDL data correctly?

[2017-08-08 19:16] jminor commented on #62
There are several existing formats for subtitles that could be supported via adapters.
WebVTT: https://w3c.github.io/webvtt/
SSA: https://wiki.multimedia.cx/index.php?title=SubStation_Alpha
SRT, etc.

FCP XML supports `<title>` elements.
AAF probably supports titles too. Someone will need to research this...

Looking at how those formats represent titles, we should be able to model them as a subcl

[2017-08-09 05:39] reinecke opened #145 "Media Reference Stream Specification support"
Currently media references are focussed on locating specific assets on and identifying timing metadata for them.

When OTIO is used to drive a system that will concretely pull together media data, it will likely be necessary to identify a specific stream within a file, or even a specific channel within an audio stream.

[2017-08-09 05:47] ssteinbach commented on #145
Would this be a different media reference entirely?  Or a property of the `media_reference.External` (in addition to the `target_url`)?

[2017-08-09 05:47] ssteinbach commented on #145
Also, how are those streams typically addressed?  By an integer?  By a string?  Is there a convention?

[2017-08-09 06:22] reinecke commented on #145
I guess there is one question about whether only `media_reference.External` refers to a specific asset and the other media reference types are meant to more generically refer to a concept of a piece of media?

My inclination is that  any `media_reference.External` should always be considered to refer to a concrete asset somewhere (like a QuickTime file or a set of OpenEXR frames). So adding some i

[2017-08-09 15:40] jminor commented on #145
Some other folks we talked to at SIGGRAPH were interested in this too. I'll look in my notes to see who it was.

My main concern is that code that is naive about streams or channels should still be able to reason about media references. For example, if you want a list of all the media used, or you want to validate that all the references point to valid files/urls then you should be able to just co

[2017-08-09 16:09] ssteinbach commented on #145
I guess another alternative is encoding this in the target_url string somehow, if there is a common schema for that, that could work - since either way it isn't something that OTIO itself really cares about, it is for whatever is consuming the media.

[2017-08-10 04:15] ssteinbach opened #146 "Make the Travis Repository Public"
Looks like this didn't make the transfer to being public.  Sorry about that!

[2017-08-10 19:40] jminor commented on #146
Hey @alexwidener can you see the Travis build status now?

[2017-08-10 20:46] alexwidener commented on #146
Nah, still "Can't Find"

https://travis-ci.com/PixarAnimationStudios/OpenTimelineIO/

![image](https://user-images.githubusercontent.com/3489076/29191352-75836df6-7deb-11e7-946e-3b8ed397ab31.png)

[2017-08-10 21:08] mikemahony commented on #146
@alexanderwilkie Can you see it if you click on the ![image](https://user-images.githubusercontent.com/1740063/29192124-02f94df2-7dd5-11e7-93e1-5bc5a2d196fd.png) in the [README](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/README.md)?

[2017-08-10 21:31] alexwidener commented on #146
I can see it when I click that, yes.

On Thu, Aug 10, 2017 at 5:08 PM, Mike Mahony <notifications@github.com>
wrote:

[2017-08-10 21:31] #146 closed

[2017-08-10 21:32] jminor commented on #146
FYI, you'll see it under travis-ci.ORG but not travis-ci.COM now that it is public.

[2017-08-10 21:35] alexwidener commented on #146
Okay, that makes sense - the links that are inside of my original merge request #144 (the X and check marks) still say .com and don't work - they're just left behind from the private era. I'd assume any future builds in MRs will now be public. We'll see in a couple days :)

Thanks :)

[2017-08-26 23:05] alexwidener opened #149 "Round-tripping does not appear to be working with FCP XML"
Hello again,

So I've written a Premiere extension to export out of PPro to the OTIO file, and then import that same OTIO file.

It does what I've mentioned in my e-mail to Josh and Stephan previously of:
 1 ) Export out of PPro API via FCP XML
 2 ) Use OpenTimelineIO to convert the file data to the OTIO standard
 3 ) Have an OTIO file to pass along

and inversely:
 1 ) Select the OTIO file to imp

[2017-08-26 23:11] ssteinbach commented on #149
Ah.  So the bars and tone specifically I think we would eventually support via generators (see: #148).  We haven't landed that PR yet, and once we do support in the FCP7 XML adapter would need to be added.  That might be related to the issue?

[2017-08-26 23:12] alexwidener commented on #149
Then I'll definitely do some testing with actual media in a little bit and report back. I hope that's the case! :)

[2017-08-27 01:13] ssteinbach commented on #149
Thanks for taking a look!  Great to have people looking around.  And if you have opinions about how it should be implemented, let us know what you think of #148 !

[2017-08-27 01:13] alexwidener commented on #149
Confirmed, looks like it's working just fine round-trip with standard media.

Looks like I'll need to look into #148 :)

I'll go ahead and close this issue.

[2017-08-27 01:13] #149 closed

[2017-08-29 21:56] jminor opened #150 "Stereo (SDL) Support"
OTIO should support stereo SDL metadata.

Here is some reference for how SDL information is stored in EDLs:
https://knowledge.autodesk.com/support/flame-products/learn-explore/caas/CloudHelp/cloudhelp/2017/ENU/Lustre/files/GUID-D29FB230-C09D-4894-B8CD-CF6823E96224-htm.html
http://help.autodesk.com/view/LUSTRE/2018/ENU/?guid=GUID-455BC460-B1C9-4B6A-8047-6375959B67E7

[2017-08-31 21:40] repsac commented on #69
We've only been using image sequences. I have been simply storing the root directory in "target_url" and then handle loading the sequence in my own logic.

[2017-09-01 22:57] jminor opened #152 "Schema for metadata at time of capture from camera/slate/etc?"
Several people want to use OTIO to capture metadata related to camera parameters, on-set tracking info, time-of-day, etc. We should research to see if there is any formal spec for this sort of metadata.

[2017-09-01 23:33] ssteinbach commented on #1
We're going to break this into two tasks since it sounds like most people want the ability to read AAFs first.

[2017-09-01 23:34] jminor commented on #73
We have decided to stick with PySide.

[2017-09-01 23:34] #73 closed

[2017-09-01 23:37] jminor opened #153 "PySide 2"
OTIO should support PySide 2 and Qt 5 to align with the VFX Reference Platform.
http://www.vfxplatform.com

[2017-09-01 23:48] jminor opened #154 "Validation utility"
OTIO should have a validation utility that reads an OTIO file (or anything via an adapter) and then produces a brief report. The report tells you if the file was parsed correctly or not, to discover invalid inputs, and also tells you a bit about the structure and contents of what it found. It should highlight any unexpected, unsupported, or out dated schemas.

[2017-09-02 00:05] jminor commented on #71
Based on feedback from some vendors, we might want C++ instead of C. Let us know if you have opinions about this.

[2017-09-02 00:15] jminor commented on #69
I've seen someone else use a `%d` or `*` in place of frame number, like many VFX apps do. These all work fine for the moment in a closed workflow, but some of the adapters, media linkers and cross-company workflows will require that we formalize this more. We should formalize the syntax of the `target_url` to make it clear how this works.

[2017-09-02 19:01] meshula opened #155 "opentime defaults to 1fps, disagreeing with documentation"
In opentime.py we read

[code]

however in the code we read:
[code]

I prefer the default rate is 1, as the code implements.

Later, we read:

[code]
which is inconsistent. TBH I'd much rather have rate be 1 here too. 24fps is of particular interest to film, but not to other domains.

So I would suggest that the default rate be consistently 1.

[2017-09-02 19:34] meshula opened #156 "Is TimeRange [start, end)?"
If I have a number of TimeRanges that I wish to abut on a timeline perfectly adjacently, at a frame rate of 1.0, I assume this is conceptually legit:

start = TimeRange(RationalTime(0, 1), 0.2)
a = TimeRange(RationalTime(0.2, 1), 1)
b = TimeRange(RationalTime(1.2, 1), 1)
c = TimeRange(RationalTime(2.2, 1), 1)
...

That's good, right?

[2017-09-02 19:55] meshula opened #157 "rational times vs time ranges"
[code]
I am encoding astronomical data in my current program and the stars aren't recognizing a framerate. I am storing Julian date at double precision in my timelines and so far that is working out okay for me :)

Alternatively, if TimeRange could accept other time kinds other than Rational, that would work for me too.

[2017-09-02 20:26] quelsolaar commented on #157
On the Json side my plan is to re implement all numbers to be represented by a 64 integer and a 8 bit comma position. This way you wont get rounding errors. The main reason for not using integers, is half frames, and 29.97FPS. You could obviously do this using a 2997 integer but that reduces readability. I'm working on my implementation of this and the plan is to make a number of functions where y

[2017-09-02 20:33] quelsolaar commented on #71
My personal opinion, is that C is the right language to implement the core since it is fast and can be called by almost all languages, however i think the interface on top should be in whatever languages there users feel most comfortable with. If the feedback is that a C++ interface is useful then we should get on that. I have a few things I want to clean up in the core, but i can take a stab at a

[2017-09-02 21:58] meshula commented on #157
That sounds fine. For reference, the julian time values in question look like -

[code]
so your scheme will work for this.

It does suggest that the answer to the TODO in the Python code is "no"...

[2017-09-06 18:12] jminor commented on #155
You're right that the documentation is incorrect. I'll fix that.

A rate of 1 doesn't make sense for timecode. I think we should remove the `rate=24` default value from `from_timecode` and require the caller to specify the rate they expect. You can really only know that from context.

As much as possible, we should remove any assumptions about frame rate from OTIO to ensure that it is flexible.

[2017-09-06 18:21] jminor commented on #156
A TimeRange is made of two RationalTimes (start_time and duration), like this:

[code]

You can access the inclusive or exclusive end time from a TimeRange via `end_time_inclusive` and `end_time_exclusive`.

To make two TimeRanges adjacent do this:
[code]

See the examples in the `test_opentime.py` test case for details:
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/tests/tes

[2017-09-06 18:48] jminor commented on #157
Supporting floating point value and rate in RationalTime is intentional. (Although we named it wrong, it should probably be FractionalTime instead...) We've been trying to draw out a real-world use case that illustrates rounding problems, but so far no one has come forward with one. At the same time, several people have found having floating point values useful. If we do need both, then making ano

[2017-09-06 18:52] jminor commented on #156
@meshula, I added a test case that illustrates adjacent TimeRanges: https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/159

Does that help?

Also, we'd like to find the point where you were led astray with the 2nd parameter to the TimeRange constructor so we can fix the documentation or something to help others in the future. Do you recall when/why you made that assumption?

[2017-09-08 10:52] bashesenaxis commented on #69
fcp xml 7 urls for image sequences are simply a url to the first frame. Though...that doesn't really work all that well, because if I do premiere > xml > premiere, the result is that I only see that first frame. It seems to have forgotten that it was an image sequence. I guess that`ll also make it a bit harder to reliably discern whether we`re dealing with a single image or an image sequence.

But

[2017-09-12 19:11] ssteinbach commented on #71
For wrapping the C/C++ API, some notes on various options:
https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/Wrapping-OTIO-C-C---In-Python

[2017-09-13 04:46] quelsolaar commented on #71
If there is a C++ wrapper around the C implementation, and you want to wrap it in to a higher level language (and possibly use a tool to do so) you can obviously choose to wrap either the C implementation or the C++ wraper. I don't even think its a terrible idea to have multiple people write wrappers for different and even the same language and then see what turns out to be popular.

[2017-09-13 05:09] ssteinbach commented on #71
Yeah, thats a great suggestion.  Another suggestion was to provide both Boost::Python and PyBind11 bindings since they're fairly similar - that way applications that have `boost` bindings can use those and those that don't can go with `pybind11`.  We're still mulling it over, so its great to get more feedback on this!

[2017-09-13 17:12] jminor commented on #142
CDL metadata is now supported in the EDL adapter (both read and write).

CDL metadata on a Clip in OTIO looks like this:
[code]

We still need to add support for CDL to the FCP XML adapter.

[2017-09-13 17:26] jminor commented on #7
This is done.

[2017-09-13 17:26] #7 closed

[2017-09-22 19:59] meshula commented on #155
Removing the default works for me!

[2017-09-22 20:29] meshula commented on #156
This new test case totally helps!

https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/159/commits/862629db78464c4c90e6064e86e764a3efe71f4b

As to what led me astray, I think I wrote that code before I read the OTIO implementation, and it happened to work (or did what I expected it to do, for the wrong reasons). I think it simply didn't occur to me that duration on the TimeRange would als

[2017-09-22 20:29] #156 closed

[2017-09-22 22:48] meshula commented on #157
FWIW, python floating point values are IEEE-754 double precision.

https://docs.python.org/2/tutorial/floatingpoint.html

You've got 53 bits of precision to play with. In the case of a fractional value, unless I am remembering my error analysis class wrong, you'll be able to rely on 52 bits of the result.

[2017-09-22 22:57] jminor commented on #155
Fixed.

[2017-09-22 22:57] #155 closed

[2017-09-23 00:37] jminor commented on #104
Reference docs: http://ieeexplore.ieee.org/document/7560854/

[2017-09-23 00:39] jminor commented on #104
FYI, we made some progress on a 1st draft of IMF CPL writing today. The adapter needs the clips to be pre-decorated with a bunch of MXF metadata, so this will require some help from a media linker and/or a script to scan the MXFs for the required info.

[2017-09-27 18:08] jminor commented on #142
Here is a reference for how CDL data is stored in AAF (as a Video Effect).
https://www.amwa.tv/downloads/specifications/AS-05_AAF_Effects_protocol_v1.pdf

[2017-09-27 18:43] jminor commented on #62
Here is some info about how AAF encodes video titles: https://www.amwa.tv/downloads/specifications/AS-05_AAF_Effects_protocol_v1.pdf

I'm not sure if this is the same as a subtitle track. This still needs more research.

[2017-09-27 21:19] jminor commented on #142
Here is a reference for how CDL data is stored in FCP X XML (as an XML comment inside a color correction video filter).
https://developer.apple.com/library/content/documentation/FinalCutProX/Reference/FinalCutProXXMLFormat/Adjustments/Adjustments.html#//apple_ref/doc/uid/TP40011227-CH14-SW8

[2017-09-27 21:22] jminor commented on #142
I think CDL support in OTIO would be a great candidate for expanding our support for effects. It really is a color correction effect with well defined parameters, so we can model it as a schema.Effect object on a Clip. Each adapter can then transcribe that to/from the various other formats as appropriate.

[2017-10-03 00:14] quelsolaar opened #166 "Time sampling API."
I have just rewritten the json Parser to handle numbers a more precise by not using integers, and now I'm thinking about how to expose the time math to the end user. The obvious functions i can think of are being able to query:

-Start point of a composeable.
-End point of a composeable.
-Lookup functions like: if I'm 3.43 seconds in to a composable, in what clip am i and how far in to it?

These

[2017-10-04 20:00] jminor commented on #104
This might be a handy way to get metadata from the MXFs: https://github.com/markreidvfx/pymxf

[2017-10-05 21:41] ssteinbach commented on #166
Currently we have a couple of those functions, see:
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/c4916c7d6ade79be5db3061b343556576ee07257/opentimelineio/core/composition.py#L295

`top_child_at_time`

And `each_child` takes a search range as well.

As far as getting the range of a composable, we have `range_of_child` and `trimmed_range_of_child` or (from the child) `trimmed_range_in

[2017-10-05 21:46] ssteinbach commented on #142
Addressed by #143

[2017-10-08 07:29] tin2tin opened #168 "EDL clip names as reel names"
Clip names are often written/read(ex. Lwks, Flowblade, ShotCut and Blender) as reel names in EDL files like this(case sensitive):
[code]
[NB. spacing is truncated in example. File name as Reel name is case sensitive(in Lwks), 8 characters long, no empty space characters in file name(Blender) and with no extention]
Looking through the OTIO EDL code, this practice seems to be ignored i/o in EDL file

[2017-10-10 11:00] jafyvilla opened #169 "Locators/markers timecode in cmx3600 and otio formats"
Hi all,

If I'm not mistaken, OTIO stores the EDL information without absolute time codes for the edited timeline, but using durations instead. That is, it keeps an ordered list of gaps and clips and accumulates their duration, so we don't have the explicit start time for each segment (although we can compute it easily if we have all the data, as it is implicit).
This is becoming problematic in th

[2017-10-10 21:06] jminor commented on #169
Thanks for the detailed bug report!

OTIO supports markers at the clip level, at the sequence level, or on any other subclass of Item. In this case it sounds like the EDL adapter is not doing the right thing with the markers. It should either put them at the sequence level with a time value relative to the whole thing, or it should put them inside the clip with a time relative to that clip. Curren

[2017-10-10 21:10] jminor commented on #168
You're right, the EDL adapter doesn't really pay much attention to the reel, which is an oversight. In the case you mention, it appears to be also covered by `FROM CLIP NAME`. If the EDL output from the adapter put the truncated/abbreviated clip name into the reel would that be sufficient, or does it need to read the reel name and carry that around too?

[2017-10-10 21:51] tin2tin commented on #168
"* From clip name: " is an addition to the original CMX 3600 EDL format. Ex. Lwks and Blender can't parse these comment lines, so the only way is to use the reel name to identify the files in those softwares. But I think most pro NLE's will look in the comments for a file-name with extension, after "* From clip name:". I know Resolve will do that if you check the right boxes for the import setting

[2017-10-11 11:29] jafyvilla commented on #169
@jminor thanks for your reply!
 So far, we evaluate markers in cmx3600 EDLs at a sequence level, but we still don't have a real life definitive use case, so I think we can adapt to any of both alternatives. In our provisional fix, while reading, I convert the time code of the marker and use a time relative to the clip where it is placed. Then, if needed, I convert it back to absolute, e.g. for wri

[2017-10-13 18:57] #142 closed

[2017-10-13 18:58] jminor opened #170 "Color Decision Lists (CDL) should be an OTIO Effect, not just metadata"
Right now CDL info is stored in a metadata dictionary, but it is really a color correction effect and should be modeled as an otio.schema.Effect

[2017-10-14 04:25] quelsolaar commented on #166
I'm working on the implementation of proper time management and one issue i have is that clips doesn't have a frame rate. If the media itself is a video file the FPS can be gotten from that, but that forces you to have the media available and readable and that can be very cumbersome. On top of that my suspicion is that many post and VFX houses deal in image file sequences and then there is no fram

[2017-10-14 04:27] quelsolaar commented on #170
Aren't all effect information housed in meta data in the effect schema at the moment?

[2017-10-14 04:37] quelsolaar opened #171 "Looking for requests for Sample Code / Command line tools"
I'm working on the C/C++ implementations of OTIO. I have good bit of code, but it needs testing and usage example code, so I want to write a collection of command line tools as sample code.

It would be great to get requests for command line tools that the community would find useful.

[2017-10-14 13:57] tin2tin commented on #171
Is it command line tools for file conversions you're coding?

If you plan to include EDL parsing, then the format does not contain info on frames pr. sec and not necessarily a full path to the location of the media files, so these two pieces of information may need to be specified in the command line switches.

[2017-10-16 15:22] ssteinbach commented on #171
@quelsolaar If you're looking for basic utilities, we ship several with OTIO that you could try and port.  They're fairly simple but are a starting place if you're looking for a baseline.  They're in the `bin` directory. There are a couple more in the `examples` directory.

[2017-10-16 15:24] ssteinbach commented on #170
Correct, @jminor is proposing we promote the CDL one into its own effect class as a way to feel out how that process would work for effects.

[2017-10-16 17:13] jminor commented on #170
Yes, and further, we want to separate the parameters to each Effect from the generic metadata, so it is clear which properties OTIO understands (the parameters) versus the metadata which is just carried around blindly.

[2017-10-16 17:27] jminor commented on #166
In practice, this is why most NLEs force you to pick a frame rate for your project or each track. This is usually called the "edit rate" and it can be different than the rate of the underlying media. A simple example is when editing 48KHz audio at an edit rate of 24Hz to match your video. Sometimes these applications force variance in frame rate to be dealt with at ingest by resampling clips to co

[2017-10-17 03:08] quelsolaar commented on #166
If you have a sequence of images, do you use the available_range rate value as framerate?

[2017-10-17 06:37] quelsolaar commented on #166
I have thought about this all night (The wonderful opportunities given by jetlag!) and I have come to the conclusion that frame rate should be defined by OTIO, not by the material. Essentially I think it comes down to that I believe that OTIO defines how footage should be used and the frame rate is an essential part of that. (Note that i am referring to the rate of the retrieval of frames from med

[2017-10-17 22:38] quelsolaar commented on #166
I wrote a experimental implementation of a rate value in all clips in my fork.

[2017-10-23 12:27] al3ph opened #174 "FCP adaptor using file timebase instead of clipitem"
Noticed this when using audio clips which have a clipitem timebase of 24, and a file timebase of 30, but when viewing in otioview.py the clip is too short, it looks like its using end/30fps instead of 24fps.

					<masterclipid>masterclip-10</masterclipid>
						<name>tumbl-105.0-171013.DX_MIX.aif</name>
						<enabled>TRUE</enabled>
						<duration>5912</duration>
						<rate>
							<timebase>24

[2017-10-23 15:52] al3ph commented on #174
Here we go, it's using the media framerate instead of the item framerate when setting the source_range.

def _parse_clip_item(clip_item, transition_offsets, element_map):
    markers = clip_item.findall('./marker')

    media_reference = _parse_media_reference(
        clip_item.find('./file'),
        element_map
    )

   src_rate = _parse_rate(clip_item.find('./file'), element_map)

[2017-11-01 16:32] jminor commented on #174
@al3ph can you confirm that @bashesenaxis's PR #177 fixes the issue you found?

[2017-11-03 10:30] alatdneg commented on #174
Worked it out, yup that did the trick cheers!

[2017-11-07 09:36] alatdneg commented on #174
Not sure if writing out the xml works though(I suspect that'll have the same kind of problem), as I only tested reading xml..

[2017-11-14 13:34] tuan-huy-truong opened #182 "EDL adapter with frame rate hardcoded"
Hi everybody, we need to be able to parse edl at different frame rates. I tried to code something but it seems that i failed for now, i will continue to search a proper way to do it but maybe some of you will hint me with a best practice putting it together.

Thanks.

[2017-11-16 00:56] ssteinbach commented on #119
Addressed by #183.

[2017-11-16 00:56] #119 closed

[2017-11-16 00:57] ssteinbach commented on #112
Addressed by #173

[2017-11-16 00:57] #112 closed

[2017-11-16 01:00] ssteinbach commented on #154
Initially Addressed by #164.  We're sure this will draw more features over time.

[2017-11-16 01:00] #154 closed

[2017-11-16 02:10] jminor opened #185 "Class hierarchy of Transition vs Item vs Composable not quite right."
There are a few methods, like `range_in_parent` that are implemented on Transition, but really belong to Item. Should Transition be an Item or should those methods move to Composable?

[2017-11-20 17:54] jminor commented on #182
Thanks for the fix :)

[2017-11-20 17:54] #182 closed

[2017-11-20 17:57] tuan-huy-truong commented on #182
My pleasure :)

[2017-11-27 05:59] sobotka commented on #76
Is there a formal OTIO path that divides media into offline and online paths?

[2017-11-27 19:00] jminor commented on #76
OTIO doesn't currently specify what the target_url of a media reference should be. Some of the adapters assume that it is a local path, but that isn't documented anywhere.

The assumption is that you (the developer) will provide a media_linker plugin that translates paths to match your needs - or you can write a simple re-link script that swaps the paths as needed.

What is your use case?

[2017-11-30 13:10] tin2tin opened #189 "EDL Toolkit"
Just a suggestion for checking and generating EDL files. There is a free tool for that:
http://www.frogsoft.com/edl_toolkit.htm

[2017-11-30 21:00] jminor commented on #189
Thanks! We'll take a look at it.

[2017-12-06 17:25] jminor opened #190 "Rate should be int/int not float"
Currently RationalTime is represented as a float value and a float rate. Unfortunately there are cases where floating point arithmetic leads to precision issues, rounding and undesirable drift.

Some other systems represent rate as an int/int rational number. For example 30000/1001 vs 29.97.

We would like to experiment with this alternate representation of rate for OTIO. In order to do so, we pro

[2017-12-06 17:26] jminor commented on #123
There are two separate aspects to this. The easy one is adding support for drop frame to the `from_timecode` and `to_timecode` functions. For example: `00:00:00;21` should be equivalent to `RationalTime(value=21, rate=23.98)`

The other aspect is a broader change to the representation of rate from a float to a rational int/int. There is some discussion about this in a few different issues. Let's c

[2017-12-06 17:26] jminor commented on #166
Let's move the discussion of int/int vs float rates to here: https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/190

[2017-12-06 17:26] #166 closed

[2017-12-06 17:27] jminor commented on #157
Lets move the discussion about int/int vs float rates to here: https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/190

[2017-12-06 17:27] #157 closed

[2017-12-07 00:23] meshula commented on #190
TIL that the Python % operator and the C % operator are not the same thing. So I withdraw my flag of a bug in the timecode conversion code.

Creating a unit test to expose issues sounds like a great first step.

[2017-12-09 18:46] jminor opened #192 "Code coverage badge in README."
We have build status badges already, but it would be great to have a code coverage badge as well. We currently have more than 90% code coverage but that fact is hard to find in the test results.

[2017-12-11 22:13] meshula commented on #190
Here is some excellent background reading.

https://randomascii.wordpress.com/2012/02/13/dont-store-that-in-a-float/

The conclusion is that double precision will store a time value with constant precision at the microsecond level for 136 years.

So what's left is to work out is at what frame does precision break down for what frame rate. Since NTSC rates are irrational (30000/1001 == 29.970029970

[2017-12-11 23:51] quelsolaar commented on #190
Float and int aren't the only options. The time implementation I'm working on (Slowly Sorry!) internally stores values as a 64 bit integer and a 8 bit comma positioning value. This means i can do mixing of 24/30/29.97 FPS with perfect precision, and no loss. I think its in my Github branch (Ive been busy with other stuff and learning Python so things have slowed down)

I still thing the time descr

[2017-12-20 16:46] #174 closed

[2017-12-20 18:58] sobotka opened #194 "Department of redundancy department?"
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/9cf5e93c3840ff8542b7558316fad525feb5c1d1/opentimelineio/schema/effect.py#L48-L49

[2017-12-21 00:51] jminor commented on #194
Fixed.

[2017-12-21 00:51] #194 closed

[2017-12-21 02:05] jminor commented on #28
This would be handy for cases like the `ignore_timecode_mismatch` flag on the EDL adapter. You don't just want to ignore problems, nor do you want them printed to the console.

Ideally you could provide a callback or handler that can accept warning messages, or progress notifications, and choose to stop or continue on each one.

[2018-01-03 21:42] jminor opened #199 "Some ALEs won't open due to unicode parsing issues"
Also, we should support non-latin character sets better in the core of the read_from_string() mechanism.

[2018-01-05 00:54] ssteinbach opened #201 "Algorithm for flattening a Stack of Tracks into one Track."
This is a common request. We should have a simple `flatten` function that does this.

[2018-01-05 00:57] ssteinbach opened #202 "CI builds should run the AAF tests also"
We need to configure Travis to install the AAF SDK and PyAAF, with specific versions of each.
Ideally this would be a separate build so we don't need to wait on it every time.

[2018-01-05 17:35] mikemahony commented on #168
Does https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/200 address this issue? We set `clip.metadata['cmx_3600']['reel']` to the clip name before exporting an EDL so that it may be read and displayed by our 3rd party mastering suite.

[2018-01-05 23:04] tin2tin commented on #168
@mikemahony - Have these things been taken into consideration of the fix for reading/writing reel-names in EDL-files?
- They are case sensitive
- No space characters in file-name(maybe swap with '_'?)
- Always 8 characters long(insert empties so the number of characters matches 8)
- No file extension on reel name

Alternatively can you upload an exported edl file I can have a look at?

[NB. in old

[2018-01-06 00:14] jminor commented on #168
We recently introduced a keyword argument for the EDL `write_to_string()` function that lets you pick a `style` for the EDL. This is to support variation in the format for cases like this.

@mikemahony's change #200 makes this easier to add, but doesn't cover the specific formatting you mentioned. It does, however, preserve the reel when reading an EDL and writing back to an EDL, which might help.

[2018-01-06 08:03] tin2tin commented on #168
I'm sorry, I'm not much of a coder(I'm a director). My knowledge of the EDL format comes from testing the edl export implementations of Shotcut, Flowblade and Blender against EDL import in Davinci Resolve, Lightworks and Blender.
[https://forum.shotcut.org/t/mlt2edl-script-error-fix/55/16](https://forum.shotcut.org/t/mlt2edl-script-error-fix/55/16)
[https://github.com/jliljebl/flowblade/issues/252

[2018-01-08 18:32] jminor commented on #168
Thanks for the details and examples. We will take a closer look to make sure OTIO can parse these or at least give clear error messages about what it has trouble with. If you'd like us to include these as official test cases in the project, we'll need a CLA from you: https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/Contributing

The EDL adapter can certainly grow to accommodate some va

[2018-01-09 21:14] tin2tin commented on #168
I think 8 characters in reel names is a standart, however some exporters go up to 32 characters. But to keep it fail safe I would recommend 8 characters.

The files are found around the interwebs. So I don't have any rights for them, but I guess if the file names are changed, no one would have any trouble with you using them any way you want.

The trouble with most opensource projects are the lack

[2018-01-10 22:50] jminor opened #206 "Should be easy to get just video tracks."
There should be a convenience for getting the common types of tracks.

This pattern is too verbose:
[code]

[2018-01-10 22:53] jminor opened #207 "Should be easy to get visible range of clip including adjacent transitions"
Currently, you have to do some work to find out the full range of media used by a clip when there is a transition into or out of that clip. OTIO should have a simple and clear way to ask for this without having to think about it much.

Maybe: `clip.visible_range()` or something like that.

[2018-01-12 00:16] #61 closed

[2018-01-12 00:16] jminor commented on #61
Addressed by #148

[2018-01-12 00:22] jminor commented on #201
Addressed by #205

[2018-01-12 00:22] #201 closed

[2018-01-12 00:24] jminor commented on #103
Addressed by #209

[2018-01-12 00:24] #103 closed

[2018-01-15 05:05] markreidvfx commented on #202
I've updated PyAAF 1.0 release to include [manylinux](https://github.com/pypa/manylinux) wheels.
https://github.com/markreidvfx/pyaaf/releases
They should work hopefully work in Travis and include the AAF SDK.

[2018-01-24 19:28] ssteinbach opened #211 "schema.track.neighbors_of is ambiguous as to order of neighbors"
If you don't have neighbors of expand transitions, then its return value is ambiguous as to whether the return value is before or after.  Instead, return None if the neighbor doesn't exist.

Examples (assume all are clips):
[code]
In other words, it always should always return `(previous or None, next or None)`.  In the case of expanded transitions it would return `(previous or Gap, next or Gap)`.

[2018-01-29 22:05] ssteinbach opened #214 "Specialization of Opentime based around 'flicks'"
Based on:
https://github.com/OculusVR/Flicks

Right now `RationalTime` is a double over a double.  We'd like to build an implementation of opentime that works with Flicks instead to see how that holds up compared to our current approach.

[2018-01-29 22:29] jminor opened #215 "AAF adapter doesn't handle nested clips properly"
If you create a nested composition (aka a submaster) in Media Composer and then export that into the OTIO AAF adapter, the resulting structure does not correctly represent the nesting and the overall length of the Timeline is incorrect.

[2018-01-29 22:30] jminor opened #216 "AAF adapter is missing audio tracks"

[2018-01-29 22:30] jminor opened #217 "AAF adapter doesn't read clip timecode from AAF"

[2018-01-30 00:36] jminor commented on #211
Fixed in #212

[2018-01-30 00:36] #211 closed

[2018-01-30 00:36] jminor commented on #207
Fixed in #212

[2018-01-30 00:36] #207 closed

[2018-01-30 00:37] jminor commented on #206
Fixed in #212

[2018-01-30 00:37] #206 closed

[2018-01-30 02:08] ssteinbach opened #218 "cleaner defaults for write_to_string and read_from_string"
To make it easier to go to and from the 'otio_json' adapter, the `otio.adapter.write_from_string()` and `otio.adapter.read_from_string()` should default to using the `'otio_json'` adapter.

[2018-01-30 17:15] jminor opened #219 "AAF adapter doesn't support speed effects"
If you have a speed up or slow down effect on a clip, the resulting OTIO composition length is not correct.

[2018-01-31 00:12] ssteinbach commented on #190
One potential (or partial) solution could be #214

[2018-02-01 19:31] michaeljefferies opened #222 "Proper iteration when there are duplicate clips"
What is the proper way to iterate over clips in a track when there is the possibility that there are duplicate clips, but you want to get the range of the clip?

[code]

It seems like we need something like this:

[code]

[2018-02-01 20:02] jminor commented on #222
OTIO doesn't support instancing, so if you have the same clip multiple times, they need to be copies, not the same Python object. Sorry the documentation isn't clear on that yet. Would it help for us to add some runtime checking to make this clear when developing?

You can (at the moment) have multiple clips that share the same media_reference, but even that will get turned into copies if you seri

[2018-02-01 20:21] michaeljefferies commented on #222
Unless I'm mistaken, it's not an issue of instancing.  OTIO is using the python list index() call to determine the index of the child of the parent.  python defines index() as "Return the index in the list of the first item whose value is x."  The key is value, so if two clips are exact copies of each other, they have the same value.

The file I have has the same clip repeated several times in an

[2018-02-01 20:32] jminor commented on #222
Ah, I think I see what you're saying. Since index() uses `==` instead of `is` then two clip objects that happen to be identical will get confused with each other. We found some similar issues like this recently in other areas of the API. Let me write a test to repro this and we'll try to fix it.

[2018-02-01 21:31] jminor commented on #222
Does #223 look like a reasonable fix for this?

I see one more call to index() inside the fcp_xml adapter which may need to be fixed as well. If you can test #223 on your sample, or send me your xml file for verification, then we can make sure that it works for you.

[2018-02-01 22:11] jminor opened #224 "Composition should not allow instanced children"
It is easy to accidentally add the same clip to a track multiple times, which leads to incorrect and confusing results. Composition should check for this and throw an exception when you try to insert the same child object multiple times.

Also the test_instancing() test should be updated to verify that instancing is not allowed. Currently it does the opposite. https://github.com/PixarAnimationStud

[2018-02-01 22:48] michaeljefferies commented on #222
Yes, that fixed things.  The index() call inside fcp_xml must be okay, since the xml file has fields like start and end that are different for the duplicate clips.

[2018-02-02 00:11] jminor commented on #222
Great! I'll fix up that one test and get this landed into master early next week. Thanks for reporting this!

[2018-02-07 22:30] jminor opened #225 "It should be easy to work with a Track that starts at non-zero time."
Currently, working with a Track that has a non-zero time involves using either a Gap, or a source_range with a negative start_time, or both. This is kind of awkward. This is a common scenario and should be simpler and more intuitive.

[2018-02-07 22:34] jminor opened #226 "Convenience for creating/adding a Gap, black, etc."
Making a new Gap, or adding one to a Track, should be simpler. Same for adding a solid black clip.

Maybe something like: `gap = otio.schema.Gap(duration=otio.opentime.RationalTime(10, 24))`
or `slug = otio.make_solid_clip(color='black', duration=otio.opentime.RationalTime(10, 24))`

[2018-02-08 16:32] ssteinbach opened #228 "Investigate whether types in otio.schema should be treated like reference types rather than value types"
Currently all the types in OTIO are designed to be Value types.  However, we've hit a number of places where its starting to feel like it would make more sense to move the types in OTIO.Schema (ones deriving from `SerializableObject`) should be treated like reference types rather than value types.  This would mean that the default `==` operator would test pointer equivalency rather than value equi

[2018-02-08 19:01] #218 closed

[2018-02-09 01:07] jminor commented on #202
Thanks @markreidvfx for the wheels and @mikemahony for the Travis leg work.
Addressed by #229

[2018-02-09 01:07] #202 closed

[2018-02-09 01:10] jminor opened #231 "setup.py should include contrib adapters"
Currently setup.py only installs the main opentimelineio module, but it should install the contrib stuff also. It can be left up to the developer to choose which plugins they want to use via `OTIO_PLUGIN_MANIFEST_PATH` at runtime.

[2018-02-19 17:51] jminor commented on #1
OTIO can now read AAF compositions. Yay!

[2018-02-19 17:51] #1 closed

[2018-02-22 18:53] jminor commented on #222
We landed a partial fix for this #223, but we're planning to address this more deeply in the next milestone.

[2018-02-22 18:59] jminor opened #236 "AAF adapter should support writing compositions"
We have read support (see #1) but we would like to be able to write AAF compositions as well.

[2018-02-22 19:24] #231 closed

[2018-03-13 18:42] swallitsch opened #239 "Put OTIO on PyPi"
It'd be great if we could install OTIO from pypi with pip.

This will require `setup.py` to have some additional fields such as `license`, `classifiers`, `keywords`, `platforms`. Because we're using a `README.md` markdown file, we'll also need a `setup.cfg` file to tell pypi where our long description is.

Once the setup.py work is complete, we can start uploading to PyPi.

[This is a good general

[2018-03-14 00:12] swallitsch commented on #239
I'll be submitting a PR for updating setup.py

[2018-03-21 15:23] reinecke commented on #228
I think this is a really solid idea. Given that there are a wide range of things that can be represented with schema types, the semantic meaning of whether or not two things are "equal" is somewhat fuzzy anyway.

[2018-04-02 16:49] swallitsch commented on #239
I've opened a PR (#241) which should contain the ground work needed to begin putting OTIO on PyPi.

One thing to note as we move forward with this is that [Warehouse, the all new pypi, is now in Beta](http://pyfound.blogspot.com/2018/03/warehouse-all-new-pypi-is-now-in-beta.html), so PyPi deployment steps should be tested against that as well.

[2018-04-09 22:08] hasielhassan commented on #236
Hi

I have been working on a custom AAF reading/writing pipeline with Media Composer in a studio, I will love to use OTIO instead, are you working in the writing module already?

If not, I will love to help with it, the only thing is that my code is using [pyaa2 ](https://github.com/markreidvfx/pyaaf2) instead of the regular one, which is good because it doesn't require any dependency.

I will sti

[2018-04-09 23:26] jminor commented on #236
Hi @hasielhassan,
  We haven't started on the AAF writing features for OTIO's AAF adapter yet (our legacy pipeline does this in C++) since the reading part is just starting to be used in production & we want to make sure that is solid before tackling the writing part.
  We are in discussion right now about whether to switch to using pyaaf2 or not. Our initial experimentation is promising. Can you

[2018-04-10 05:04] hasielhassan commented on #236
In general y found pyaaf2 easiest to use since it already encapsulates a lot of the nested structures into single methods, and even that the documentation is not fully complete, is really useful to just open and read the source, which is not totally possible with pyaaf (and im still far from totally understand c++ from the aaf sdk)

The workflow here is to build updated sequences on the fly based

[2018-04-10 17:57] jminor commented on #236
That sounds like an ambitious project - and very similar to the pipeline we are building with OTIO. In our  legacy pipeline we make individual media AAFs for each clip and a separate AAF composition which references the MobIDs from those clips. This lets us deliver a handful of new clips and a composition that refers to a mix of the new clips and older ones we have delivered previously. It also le

[2018-04-10 21:59] ssteinbach opened #242 "Add a `__version__` field to the top level __init__.py modules"
This is handy to tell which version of a package is installed.

[2018-04-16 13:42] col-one opened #244 "EDL * raise EDLParseError"
Hello If I try to parse an edl like :
[code]
and the cmx_3600 parser raise EDLParseError.

If I add an other exception like to the parse_edl :

[code]

Is it a bug ? I missed something ?

[2018-04-16 14:35] col-one commented on #244
Precisely, It's the last * comment line who raise the error.

[2018-04-16 14:44] col-one commented on #244
Ok there is some empty values in the edl_lines list, so first element edl_lines[0] is not the comment.
I patched it with :
[code]

[2018-04-18 08:55] ssteinbach commented on #239
This is now done:
https://pypi.org/project/OpenTimelineIO/

We've also updated our internal release process to include PyPI.

[2018-04-18 08:55] #239 closed

[2018-04-18 16:05] jminor opened #245 "otioview unable to view 25 fps EDLs"
If you run `bin/otioview.py tests/sample_data/25fps.edl` it fails with `ValueError: Timecode "01:00:01:24" has frames beyond rate (24)` because the EDL adapter doesn't know that this EDL is meant to be read as 25 fps.

We should add a `-fps <rate>` option to otioview, or somehow allow the user to specify what rate to interpret it as. Alternate, we could attempt to catch this exception and re-try w

[2018-04-18 16:07] jminor opened #246 "otioview fails to read some EDLs"
If you run `bin/otioview.py tests/sample_data/speed_effects.edl` it fails with `AttributeError: 'NoneType' object has no attribute 'duration'`

[2018-04-20 07:58] latenitefilms commented on #37
@jminor - Hey Joshua! Curious... has any work already been started on this adapter?

[2018-04-20 16:01] jminor commented on #37
We have support for the FCP 7 XML format, which works well for interoperation with Adobe Premiere, but I don't know of anyone working on the FCP X XML adapter. The two formats are similar, but there are enough differences that it probably makes sense to split it into two different adapters.

If you're interested in working on that adapter, we can put you in contact with someone at Apple who can an

[2018-04-20 20:25] jminor commented on #37
For reference, this is the documentation for the current Final Cut Pro X XML 1.8 https://developer.apple.com/library/content/documentation/FinalCutProX/Reference/FinalCutProXXMLFormat/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011227-CH1-SW1

[2018-04-23 19:41] jminor commented on #244
Which version of OTIO are you using? Can you paste the full exception with the stack trace? When I try the EDL you posted above with the current OTIO, it works fine.

[2018-04-30 12:01] apetrynet commented on #123
Would it be interesting to somehow implement this [timecode module](https://github.com/apetrynet/timecode) in OTIO?

[2018-04-30 21:37] #246 closed

[2018-05-01 16:06] jminor commented on #123
Thanks @apetrynet - that's a good suggestion. It looks like we could add this as a dependency, or just borrow the `tc_to_frames` and `frames_to_tc` functions. So far we've tried to keep OTIO dependency-free, so I'd lean towards the latter.

[2018-05-01 21:16] apetrynet commented on #123
I hear ya. It's nice to have a stand alone library so I agree to a merge of the code wanted as the cleanest way to go. The MIT license is pretty permissive so it should be possible to merge parts of it.
That said, the `tc_to_frames` and `frames_to_tc` functions are pretty dependent of the rest of the library, but I guess it would be possible to copy what's needed for them to work and leave behind

[2018-05-08 21:53] jminor commented on #123
It looks like folding in another open source project will take some time & approvals to get through. We're working on streamlining that process, but it is currently slow. Given that this feature isn't that much code, it will probably be quicker to re-write it from scratch. @apetrynet if you're interested in doing that, let us know.

[2018-05-09 22:10] jminor commented on #245
Addressed by #247
You can now run `bin/otioview.py tests/sample_data/25fps.edl --adapter-args rate=25`

[2018-05-09 22:10] #245 closed

[2018-05-10 00:06] jminor commented on #245
With #252 the command line is now: `bin/otioview.py -a rate=25 tests/sample_data/25fps.edl`

[2018-05-10 13:27] backhausmartin opened #253 "Add Position, Scale, Rotate (Transform) per Clip"
Hello, I'm new to OTIO, I hope a can contribute in some way, maybe later also with code.

I need to parse the Position, Scale and Rotation Data on a per-clip basis from an Offline NLE project (in my case Adobe Premiere Pro 2018) - and re-use this information in an Online/Mastering/Comp project (currently Foundry Nuke Studio or just normal Nuke).

I already managed to parse the Premiere Pro Data fr

[2018-05-10 18:42] jminor commented on #253
Hi @backhausmartin, that sounds like a great use case for OTIO. You're right that our support for handling effects in OTIO is not complete yet. If you export your timeline from Premiere as XML and then run it through `otiocat` or `otioconvert` you can see what, if any, of that comes through at the moment.

For many of the adapters, we try to capture information that OTIO doesn't understand as blin

[2018-05-11 08:58] bashesenaxis commented on #253
The XML adapter will mainly follow the OTIO feature set. So far I have used the metadata feature as little as possible. Because the xml format is so feature rich, it was hard to decide what to include in the metadata and what to leave out. Perhaps it is an idea to keep a suggested list of features to implement as metadata? That way we can aim for some sort of feature parity between adapters, even

[2018-05-11 22:56] apetrynet commented on #123
Hey!
Sorry for the late reply. I'd like to give it a go.
I guess I'll start with the `from_timecode` and `to_timecode` functions and see where it takes me.
Please let me know if I take too long. I'm going to juggle this in between family and work :)
I'll send you the CLA when I have something worth contributing.

[2018-05-11 23:46] jminor commented on #123
Sounds great. We're not in a hurry. Yes, a CLA will be needed before we can accept any code. Thanks for volunteering!

[2018-05-12 00:44] jminor commented on #215
Further manual testing reveals that the nesting itself looks right, but the duration of OperationGroups are too long for some reason. This needs a good unit test.

[2018-05-12 22:51] apetrynet commented on #123
Hi!
I've begun working on this and have a first version of the `from_timecode` rewrite done, but when I run the tests I get the fails listed below.
I understand why they fail, but the thing I don't understand is the behavior of the `from_frames` function. What is the purpose of the 600 time scale?
I realize I should add drop frame support in all aspects of the code, but I just want to understand t

[2018-05-14 15:48] jminor commented on #123
This was an attempt to support common non-integer frame rates (29.97 and 23.98). Apple's QuickTime framework uses 600 as a its default time rate, we were told, because frame rates of 24, 30, 25, 23.98, 29.97 can be sliced into 600ths of a second. (See here: https://developer.apple.com/library/content/documentation/QuickTime/RM/Fundamentals/QTOverview/QTOverview_Document/QuickTimeOverview.html )

F

[2018-05-14 16:50] apetrynet commented on #123
Ok, thanks!

If you don't mind I'll have a look at the `to/from_frame` functions and try
to make them support all framerates and update the tests accordingly.
When it comes to float's vs int's I'm not too afraid of int's. I can just
convert them to a float for the dropframe math when needed.

I have another question as well. (Please let me know if I should post it as
another issue or a thread in t

[2018-05-14 17:55] jminor commented on #123
We've been designing it such that timecode 00:00:00:00 corresponds to frame 0.

[2018-05-14 18:02] apetrynet commented on #123
Ok, I'll make abide to that then.

On Mon, May 14, 2018, 19:55 Joshua Minor <notifications@github.com> wrote:

[2018-05-14 20:55] apetrynet commented on #123
Hi Joshua!

Sorry for bugging you again, but I'm a bit confused about the `from_frames` function.
With support for other frame rates in general, shouldn't `from_frames` just return a RationalTime(value=frame, fps=fps)?
The `to_frames` function seems to work as is.

[2018-05-14 21:04] jminor commented on #123
Yeah, it should probably be `return RationalTime(value=int(frame), rate=fps)` just to make sure you have an integer frame number. That would be symmetric with `to_frames`

[2018-05-14 21:13] apetrynet commented on #123
Cool!
I'll add/update/replace the "odd frame rate" tests and begin prepping a pull request. Might need some guidance in that process tho'. A bit scared of git rebase..

[2018-05-14 21:15] jminor commented on #123
It is likely that you won't have to rebase. Github's merge is pretty smart. If not, we're happy to talk you through the process.

[2018-05-14 21:16] apetrynet commented on #123
Thanks!

[2018-05-15 00:41] ssteinbach commented on #39
Addressed by #251 in the EDL adapter.

[2018-05-15 00:41] #39 closed

[2018-05-15 16:58] ssteinbach commented on #244
Addressed by #255

[2018-05-22 22:28] jminor commented on #153
Addressed by #160

[2018-05-22 22:33] ssteinbach opened #262 "`RationalTime.__add__` always uses the higher rate"
Currently when  you have:
[code]
Both `c` and `d` will be at rate 24, because the `__add__` method always produces a `RationalTime` in the higher of the two rates.  A potential alternative would use the order of the arguments to choose which rate to use in the product.

[2018-05-24 07:44] alatdneg opened #263 "Track time operations painfully slow."
Hi all,

I've noticed that operations that involve clips mapped to the track time range, are all very slow. You don't notice it on small timelines but as soon as you get a few hundred clips, it really has problems.

The underlying issue (I believe) is the operation that maps a clips time range to it's parent, involves generating the sum of all preceding clips in the track, as the number of clips i

[2018-05-24 07:54] alatdneg commented on #263
range_of_child_at_index in the track object seems to be the bit that needs caching.

[2018-05-24 15:06] alatdneg commented on #263
This is an example of binary chopping the list, in my code with a 700 clip track, this change is makes it 30x faster.
Sorry if the python is a bit manky, but it does the job :)

[code]

[2018-05-24 15:16] ssteinbach commented on #263
Thanks for catching this!  Just to repro your use case, you have a track that has a large number of clips (700+) on it and you're calling `range_of_child_at_index`?

[2018-05-25 08:37] alatdneg commented on #263
Yep, I'll check with the powers that be, then create a PR, i've got a cleaner method that uses a modified version of the python bisect functions.

[2018-05-25 08:53] alatdneg commented on #263
[code]

[2018-06-01 08:35] apetrynet opened #265 "fcp_xml adapter doesn't seem to export offline/unreferenced clips correctly"
When exporting an XML with offline/unreferenced clips, OTIO should provide all tags needed to recreate those clips in an application even though some tags remain "empty". Currently the `_build_clip_item_without_media` function doesn't include the `<name>`, `<duration>`, `<pathurl>` and `<timecode>` tags in the `<clipitem> -> <file>` tag which results in the clip not getting created.

I like the ex

[2018-06-12 22:39] apetrynet opened #266 "Writing an integration of OTIO for Hiero"
Hi!

Just want to inform you that I'm in the process of writing support for importing and exporting OTIO files in Hiero.
At the moment I have the bare bones for export in place.
The exporter is available as one of the outputs in the export sequence dialog.
The importer I want to integrate alongside the import EDL/XML menu items.

If this is of interest where should I place the module in the folder

[2018-06-12 22:49] apetrynet opened #267 "MLT XML adapter"
Hi!

Just want to inform people that I've been working on an MLT (Media Lovin' Toolkit) XML adapter so we don't overlap.
MLT is the backbone of Kdenlive, Shotcut, melt (its own command line NLE) and a whole lot of other applications. My main focus will be to support the basic elements that are supported by melt and perhaps expand to the support some other applications further down the road.

At th

[2018-06-12 22:53] apetrynet commented on #267
Just struck me that these notifications (#266) probably should go in the google mail group or is it OK to post stuff like this here?

[2018-06-13 00:40] ssteinbach commented on #266
Great!  I think a great place to put it would be:
`opentimelineio_contrib/application_plugins/<appname>`

If it is called through the adapter interface, it could be an adapter.  But if its a freestanding python script that calls OTIO and then does its own processing separate from that, which is what it sounds like you're describing, then it doesn't sound like an adapter to me.

Maybe you could als

[2018-06-13 01:11] jminor commented on #267
This is a fine place for discussion like this, the Google Group is mostly for announcements. You could phrase the ticket as a request or topic like "Integration with MLT, Shotcut, etc." so it still reads well after the ticket is done :)

Integration between OTIO and other applications is very welcome. We don't have a place for it in the source repo yet, but there is at least one other similar proj

[2018-06-13 08:54] apetrynet commented on #267
OK, cool!
I renamed the issue.
This MLT adapter is in fact an adapter and should go in contrib I guess. #266 is more like a plugin.
Stay tuned.. :)

[2018-06-13 08:57] apetrynet commented on #266
Cool!
I'll add instructions in a README.md yes.

[2018-06-13 16:07] ssteinbach commented on #267
Cool.  There are patterns for setting environment variables when necessary and gracefully failing when requirements aren't present (see the RV adapter or maya adapter for example).  It would also be nice if you could include a unit test of some kind.  Thanks!

[2018-06-14 22:13] apetrynet commented on #267
thanks!
The adapter is still quite rough, but I'll write a unit test for it once I have all the basics covered.

[2018-06-19 20:17] ssteinbach opened #270 "Cannot read adapter manifest when installed via `python setup.py install` (compressed egg)"
When OTIO is installed via `python setup.py install`, it is installed as a compressed egg.  This breaks the `open()` function in the adapter manifest system because it is no longer files on the file system but stored inside a zipfile.

Installing via `pip install` (either via pypi or `.`) fixes this problem.

[code]

[2018-06-19 20:26] bpeck opened #271 "python setup.py install causes runtime errors on some platforms"
On some python distributions, running
`python setup.py install`

Invokes setup-tools, which will place OpenTimelineIO in your site packages area as a compressed .egg file. This will cause runtime errors when trying to access config data files that are stored inside the otio modules. eg:

`Z:\dist\third_party\apps\python\2.7\Scripts>python otioview.py test.xml`
`Traceback (most recent call last):`

[2018-06-19 20:27] bpeck commented on #271
Oops, duped with #270

[2018-06-19 20:27] #271 closed

[2018-06-19 20:56] bpeck opened #272 "Attribute error on opentimelineview.Details widget: unicode object has no attribute 'indexOf'"
Win10, Python 2.7.13
When clicking on timeline sections in otioview tool, the following exception is thrown every time a section is clicked:

  File "Z:\dist\third_party\apps\python\2.7\lib\site-packages\opentimelineview\details_widget.py", line 110, in highlightBlock
    firstQuoteIndex = text.indexOf('"', index)

Replacing `indexOf` with `index` fixes the problem. I believe maybe this is a typo,

[2018-06-19 21:12] jminor commented on #272
There is some odd mixture of Qt4 and Qt5 in the code at the moment, which is likely the culprit here. Some code is expecting a QString vs Python string. Hopefully we will be able to land #160 soon to resolve these issues.

Can you check to see which version of Qt you are using? That could help ensure that my guess is correct.

[2018-06-21 19:58] apetrynet commented on #266
Hey!
I just pushed the first version of the Hiero exporter in my own [repo](https://github.com/apetrynet/OpenTimelineIO/tree/hiero_plugin/opentimelineio_contrib/application_plugins/hiero). It would be cool if someone could give it a spin and see if it works outside of my environment. I'll be working on an importer as well when I get some time for it.
Please give feedback and report issues in my re

[2018-06-21 21:21] apetrynet commented on #69
Has this been discussed any further? I'm used to and like variations of the "%04d" format my self.

Some alternative ways of indicating sequences (just throwing them out there):
[code]

The following would probably fit in the best to the current code:
[code]
And perhaps add an attribute in the `ExternalReference` class that indicates an image sequence or not. In my work on the Hiero plugin I looke

[2018-06-21 21:29] #192 closed

[2018-06-22 09:20] apetrynet commented on #69
Thought about this some more and threw together a quick suggestion on one way of doing it. It's based on known regex patterns for frame substitutions. So when asking if a media_reference is a sequence it checks for a known pattern in `target_url`.
It's still up to each user to actually convert the target_url into a valid path based on `available_range` for instance.
Please look at this [gist](http

[2018-06-22 22:42] apetrynet commented on #267
Tiny status update.
The adapter is still a bit messy, but otio->mlt seems to work now. That includes cuts, simple time warps, dissolves and fades. Please note that I need to figure out if transparent fades are supported in MLT so only fade to/from black for now.

One of the intended use case for this adapter is to enable playback/playout of a timeline through [melt](https://www.mltframework.org/do

[2018-06-27 05:52] #270 closed

[2018-06-27 15:04] apetrynet commented on #168
Hi!
I ran into this "limitation" today when going from xml to and edl via otioconvert and thought I'd add my two cents.
Quite a few applications base clip names on the reel name and in those cases `AX` make them hard to conform and so on.

I prefer when reel names are the same as `FROM CLIP NAME`, but to be safe it makes sense to keep reel names to 8 characters like the original spec. (optional pe

[2018-06-28 14:20] alatdneg opened #277 "Track ordering clarification"
Hi all,
~~I'm seeing some confusing behaviour when ordering tracks, otioview.py seems to be reversing the audio tracks when using the AAF reader.~~

In fact it's all a bit confusing, when different apps expect different track orders, I'm not sure if anywhere in the otio spec it's made clear.

There are a bunch of ways, to do this but which one is otio and the various handlers expecting?
As read fr

[2018-06-28 16:12] jminor commented on #123
Addressed by #258

[2018-06-28 16:12] #123 closed

[2018-06-28 16:17] jminor opened #278 "otioview keyboard navigation"
It would be great if you could use the arrow keys to select adjacent clips left/right or up/down in the tracks above/below the current selection.

[2018-06-28 16:18] jminor opened #279 "otioview playhead"
It would be great to have a draggable playhead in otioview with informational labels showing you the relevant timecode for the playhead in each clip and track that the playhead overlaps with.

[2018-06-28 16:20] jminor opened #280 "otioview video display"
It would be great if otioview had a video display that showed the media that the selected clip's media reference target_url points to.

Note: that this is *not* the same as playing back the whole timeline, which would be a much larger request.

[2018-06-28 16:20] jminor opened #281 "otioview search"
It would be great if you could search by clip name, metadata or other values to locate particular clips in otioview.

[2018-06-28 16:21] jminor opened #282 "otioview effects"
If a clip has effects, there should be a visual indicator in otioview so you can quickly locate them in the timeline, rather than clicking on each one hunting around for them.

[2018-06-28 21:38] jminor commented on #277
We waffled on this early on, so I'm not surprised that the ordering isn't clearly documented. The confusion arises from the fact that video tracks, V1, V2, V3, etc. are typically ordered with V1 on the bottom, but audio tracks have A1 on the top - at least visually in the UIs we have been using for design reference.

In the unit tests you can see that tracks with a higher index obscure tracks with

[2018-06-29 00:54] jminor commented on #168
@apetrynet feel free to change the reel name based on the clip name. The hard coded "AX" was based on our limited EDL experience. There is a `style` parameter to the adapter which could be used to control the specifics if needed, but I doubt that anyone really needs the AX reel name.

[2018-06-29 07:36] alatdneg commented on #277
I'd go with the current set up it sort of makes sense that appending to the array with audio or video adds to the top / bottom of each respective media type.

But definitely make it very clear in the docs how this is expected to work, or people are going to get very confused.

So  my example would be ..

[Va,Vb,Aa,Vc,Ab] =

Vc
Vb
Va
Aa
Ab

Appending [Vd,Ac] to the stack =

Vd
Vc
Vb
Va
Aa
Ab
Ac

[2018-06-29 07:58] alatdneg commented on #277
In which case the AAF reader is probably reporting the audio tracks in the wrong order.

[2018-06-29 09:46] apetrynet commented on #168
Cool!
Should I add some logic revolving truncating reel name as well? Could be a `trunc_reelname=True` or `strict_reelname=True` argument in the `write_to_string()` for instance?

[2018-06-29 10:34] #277 closed

[2018-06-30 00:45] #219 closed

[2018-07-03 21:54] apetrynet commented on #266
Initial OTIO Import for Hiero is pushed.

[2018-07-08 14:04] michaeljefferies commented on #222
Yep.  Thanks!

On Thu, Jun 28, 2018 at 4:24 PM, Joshua Minor <notifications@github.com>
wrote:

[2018-07-08 14:52] #222 closed

[2018-07-09 20:56] ssteinbach commented on #266
@apetrynet If you open a pull request then that gives people better visibility to it (as well as easy instructions for trying it out).  Our pattern at this point is to prefix the PR title with [WIP] (which gets removed when its ready to be accepted), but that way we can keep track of who is doing what.  Would you be up for giving that process a try?

[2018-07-09 20:57] ssteinbach commented on #266
You can see examples of this right now, all the remaining PRs are `[WIP]`

[2018-07-09 21:00] ssteinbach commented on #267
@apetrynet same note as on the other issue - feel free to open an `[WIP]` PR.  I had another thought - on the EDL adapter we have a 'style' argument.  I can think of at least one other XML flavor (Resolve) so adding an "MLT" flavor to the EDL adapter makes sense to me, and follows a pattern we already have in the library.  For details, see:
https://github.com/PixarAnimationStudios/OpenTimelineIO/b

[2018-07-09 21:02] ssteinbach commented on #272
We've landed #160 - if you have a second, can you take another look and see if that got fixed for you?

[2018-07-09 21:12] apetrynet commented on #266
Cool! I'll do it shortly.

[2018-07-09 21:13] ssteinbach commented on #265
@bashesenaxis Do you have any thoughts on this?

[2018-07-09 21:17] ssteinbach commented on #253
@apetrynet Did your PR #264 address the basic need cited by @backhausmartin?
"First step: Basic x,y position should be parsed from FCP XML and AAF and saved in OTIO format. Result: A basic reframing of camera footage will be preserved from Editorial to Online/DI."

Just trying to do some house keeping on the open issues. Thanks!

[2018-07-09 21:17] ssteinbach commented on #244
Haven't heard anything more on this issue so closing it for now.  Feel free to re-open if you're still seeing the problem.  Thanks!

[2018-07-09 21:17] #244 closed

[2018-07-09 21:18] ssteinbach commented on #228
Addressed by #257

[2018-07-09 21:18] #228 closed

[2018-07-09 21:21] ssteinbach commented on #224
Addressed by #257

[2018-07-09 21:21] #224 closed

[2018-07-09 21:22] ssteinbach commented on #169
@jafyvilla Did you get this worked out?  Its been quiet for some time, just wanted to clean out old issues in the issue tracker.

Thanks!

[2018-07-09 21:23] #153 closed

[2018-07-09 21:25] #76 closed, assigned to nobody

[2018-07-09 21:40] #272 closed

[2018-07-09 22:02] apetrynet commented on #253
@ssteinbach No, unfortunately. I just focused on getting the adapter to accept Hiero produced XML's.

[2018-07-09 22:08] apetrynet commented on #266
Closing this ticket as I've created a PR #284

[2018-07-09 22:08] #266 closed

[2018-07-09 22:20] apetrynet commented on #267
@ssteinbach The mlt_xml files have `.mlt` extension and shouldn't conflict with other adapters.
That said, if I or anyone else should add support for other application's flavors of the mlt_xml, the adapter should perhaps have the `style` argument. I'll add it for future proofing and consistency. Thanks for the tip.

When it comes to creating a PR I'm in the middle of some tinkering on the adapter

[2018-07-10 08:36] bashesenaxis commented on #265
The idea behind `_build_clip_item_without_media` is that it deals with title objects. So they would never have any media.
For example:
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/tests/sample_data/premiere_example.xml#L688
In this case, `<clipitem> -> <file> -> <name>` is identical to `<clipitem> -> <name>`, the `<duration>` wouldn't have any meaningful information and ther

[2018-07-10 13:42] alatdneg opened #287 "FCP xml adapter and invalid "out" values (premiere)"
Hi,
We've seen some clip duration issues, looks like the start-end / in-out values can be exported oddly from Premiere.

I'm guessing that most apps ignore the "out" attribute and just add the duration from the start-end properties.

In this example the in/out duration is a frame short, has anyone come across this before ?

[code]

[2018-07-11 17:50] ssteinbach commented on #287
@alatdneg if you have a second, can you turn this into a unit test case we can add to the test suite?  I think that might help debug it.  @bashesenaxis might know the specifics of what you're asking, though.

[2018-07-12 07:50] alatdneg commented on #287
Yeah, I've not had the contributors form signed off yet, not sure how you'd do a unit test for this, I think is a bug in how premiere writes it's FCP7 XML, it seems most apps ignore the <out> values and calculate it from <end>-<start>

[2018-07-12 08:36] bashesenaxis commented on #287
Hmm, that does indeed look interesting.
[code]
The way that I would interpret that, is as follows
- there are 51 frames available in the media
- we are taking frames 7 to 50 (43 frames)
- and displaying that on the timeline from frame 1574 to 1618 (44 frames)

Therefor, the clip would be stretched in time ever so slightly. Or perhaps you are displaying a 24 fps clip on a 25 fps timeline? @alatdneg

[2018-07-13 03:48] alexwidener commented on #287
Tagging @bbb999 to try and get some eyes from Premiere on it.

[2018-07-13 06:33] alexwidener commented on #281
I'm writing a prototype for this right now, would you like to assign it to me?

[2018-07-14 15:45] ssteinbach commented on #281
@alexwidener Oddly enough, I can't seem to do that?  Not sure about this feature of GitHub.  But lets say its assigned to you :-).

[2018-07-14 15:47] ssteinbach commented on #287
@bashesenaxis we have time effects including a linear time warp that we're starting to introduce to support scaled clips.  for an example in the EDL adapter, see:
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/33ad026c7d46f106eb079f77324ffae6060691d5/opentimelineio/adapters/cmx_3600.py#L150

[2018-07-14 15:50] alexwidener commented on #281
Ah, I just checked on one of the organizations that I'm on. You can only assign to members of the organization (PixarAnimationStudios), lame.

You could always do something like make a label that says 'in progress' or something? But it's whatever. I'll get this out and then I was thinking about moving onto another one of the view tickets.

[2018-07-16 17:10] backhausmartin commented on #253
Thanks for your efforts and analysis of the topic.

Is it already decided how OTIO will save this data in its internal schema?
And do you know, if all / most FCP XML representations of the data is standardised?

1. Position/Reframing (usually there is a Center/Translate and Center Offset / Anchor Point)
2. Scale
3. Crop (see some research below)
4. Main Project resolution / canvas size

Adobe Prem

[2018-07-16 22:30] backhausmartin commented on #253
Here's a direct follow up, I made it simpler and cleaned it up a bit (and the last lines of code are wrong).

I did a test using a 300x100px timeline in Premiere and scaling down and repositioning the 3200x1800 Arri Alexa file to 128x72. It is moved 10px down and 10px to the right from the top left corner.

Sequence Setting: 300x100px
1 single Clip: Arri Alexa 3200x1600px scaled down to 0.04

The

[2018-07-16 23:02] jminor commented on #253
Thanks for doing this research. We haven't gotten into the detail of this part of the schema design yet. Our strategy for this sort of thing has been to research and compare how the other formats and tools handle a feature like this and then look for a simple common ground that covers the essential aspects. We have tried to use straight-forward terminology for things and aim for real world use cas

[2018-07-22 22:20] dramyankee opened #288 "timeline_widget resolution"
The timeline_widget applies a uniform time multiplier of 25 and bases the time resolution on seconds rather than frames. If one were to want to view frame-level resolution on the timeline that this becomes problematic.

[2018-07-22 22:33] dramyankee opened #289 "timeline_widget breaks VFX Platform 2015 compatibility"
With the update from PySide to PySide2 after beta version 0.7.1 the timeline widget is no longer compatible with VFX Platform 2015. Unfortunately we have not yet moved past 2015.

[2018-07-23 03:35] boredstiff opened #292 "Otioview should open with the contents scaled to the view"
The view should open with the items in the Timeline/tracks scaled to the view. Without this, the user has to immediately scroll in to see anything in the view every time the view opens.

What currently happens, upon opening:
![image](https://user-images.githubusercontent.com/3489076/43056033-a3d0c80c-8dee-11e8-8516-5920ca5f3b7b.png)

What I expect to see, upon opening:
![image](https://user-images

[2018-07-23 04:12] alexwidener commented on #281
I'm trying to think about advanced querying options in the search window for finding things on exact tracks in the cases of having a lot of things and introducing a shorthand.

For instance, say you have 10 different tracks with dozens of clips, but you think `awesome_clip` is on `track2`.

Would you want to introduce a shorthand like: `track2:awesome_clip` to try and narrow down what you're looki

[2018-07-23 17:20] jminor commented on #289
That's unfortunate. Can you check to see if switching to use Qt.py works for you? We're not allowed to include Qt.py in OTIO, but it should be pretty easy to try it out. https://github.com/mottosso/Qt.py

[2018-07-23 22:35] ssteinbach commented on #242
Addressed by #285

[2018-07-23 22:35] #242 closed

[2018-07-23 22:36] ssteinbach commented on #226
Addressed by #286

[2018-07-23 22:36] #226 closed

[2018-07-24 18:16] jminor commented on #281
I would start with something simple - more of a full-text search, then allow narrowing down to specific fields, like name, OTIO_SCHEMA, metadata, etc.

There might be an existing JSON query language that we could use, but that is probably overkill.

I suspect that the majority of the usefulness will come from a simple string search.

[2018-07-24 23:29] jminor commented on #217
This explains how to get the timecode for a clip: https://github.com/markreidvfx/pyaaf/issues/44#issuecomment-357487131

[2018-07-30 17:53] jminor commented on #28
There are several places where we raise `ValueError` and `TypeError` exceptions, which should really be custom sublcasses of `OTIOError` so the caller can distinguish OTIO-related issues with just coding errors.

[2018-07-31 20:33] jminor commented on #289
@dramyankee were you able to try Qt.py as a workaround for this?

[2018-07-31 20:56] dramyankee commented on #289
Hi @jminor, yes that worked for me. Perhaps adding a try/except around the PySide2 import which falls through to attempting to import from Qt may be added?

[2018-07-31 21:01] jminor commented on #289
Oh good. Did you have to update all of the `from PySide2 ...` statements to `from Qt ...`?

[2018-07-31 21:41] dramyankee commented on #289
That's correct.

[2018-08-06 22:46] ssteinbach commented on #217
Addressed by #301

[2018-08-06 22:46] #217 closed

[2018-08-09 09:16] col-one opened #303 "EDL Adapter 'append' file"
Hello !
Maybe I miss something, but it will be very useful to append edl file has new track. Ex:

eld-01 : [---clip01---][---------clip02---------][-clip03-]
eld-02 : ...................[-clip02.1-][-clip02.2-].............

This is a common use case to manage splitscreen effect.

pseudo code:
[code]

Thanks a lot ! .

[2018-08-09 16:26] jminor commented on #303
You can read multiple EDLs into a multi-track timeline like this:

[code]

The EDL adapter only supports a single video track, but may have multiple audio tracks. If you want just the video track, then `timeline.tracks.extend(edl.video_tracks())`

[2018-08-10 16:58] jminor commented on #278
Thanks for adding this feature @bonpix !

[2018-08-10 16:58] #278 closed

[2018-08-11 23:39] sobotka opened #304 "OpenTimelineIO Documentation"
Would it be feasible to have autobuilds of the documentation available for PDF downloading similar to what Larry Gritz does for OpenImageIO?

In addition to PDF for offline use,  would it be feasible to consider implementing live documentation via  ReadTheDocs? Colour Science has done an incredible job in this regard that covers tags etc. https://www.colour-science.org/api-reference/

[2018-08-12 00:44] sobotka opened #305 "<Removed>"
<Removed>

[2018-08-12 01:30] #305 closed

[2018-08-12 18:43] ssteinbach opened #306 ""Hooks" plugin system"
It would be nice to have general plugins more general than media linkers and adapters that can run at predefined points in the API.  Initially I think we could support:

- PostImport (after `read_from_*` functions)
- PreWrite (before `write_to_*` functions)

These would be single function plugins that take a timeline and return a timeline and let you manipulate data.  I think we could extend the p

[2018-08-12 18:46] jminor opened #307 "AAF adapter should read markers/locators"
The AAF adapter currently ignores markers/locators. It should turn them into Marker objects on the appropriate Clip, Track, or Stack.

[2018-08-12 18:50] jminor opened #308 "Docs should be easier to find"
Some people are having trouble finding the wiki docs, especially the Timeline Structure page:
https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/OTIO-Timeline-Structure

We should promote this on the main README with an image and a link.

[2018-08-13 08:40] col-one commented on #303
It's perfect ! Thank you so much.

[2018-08-13 08:41] #303 closed

[2018-08-13 14:36] jafyvilla commented on #169
Hi @ssteinbach, sorry for the late reply, I overlooked your comment.
Unfortunately I had to stop working on this for some time but during the next few weeks I'll probably need to get back to it. I will post an update if I face the issue again, and if my patch does the trick I'll send a PR.
Thank you!

[2018-08-20 06:17] boredstiff opened #311 "Dark Mode"
![screen shot 2018-08-19 at 11 13 43 pm](https://user-images.githubusercontent.com/3489076/44323186-a54ed980-a405-11e8-8c65-28999d6c244f.png)

![screen shot 2018-08-19 at 11 15 15 pm](https://user-images.githubusercontent.com/3489076/44323221-cdd6d380-a405-11e8-9a0f-77f8ff33565d.png)

What do you all think about having a dark mode for otioview?

I could either have a dark mode be the default, or h

[2018-08-20 20:00] jminor commented on #308
That sounds great. Also, there are some API docs, but without much visibility they don't get much attention.

[2018-08-20 20:01] jminor commented on #311
Looks nice to me. Is that via a style sheet?

[2018-08-20 20:03] jminor commented on #292
I wonder if this is also related to the fact that sometimes OTIOView shows the tracks with large empty areas at the end. That has bothered me in the past, but we haven't spent the time to track it down.

[2018-08-20 20:03] boredstiff commented on #311
Yeah, it's only a couple of lines, nothing complex at all. Would you want it to be default or capable of being enabled?

[2018-08-20 20:04] jminor commented on #311
Default is fine with me. The complexity of making sure both work is probably not worth it.

[2018-08-20 20:05] boredstiff commented on #308
K. I did a rough branch with this this weekend, and hit an issue and decided to wait until I got a response before proceeding on it. I'll continue working on it and submit it something in the next few days, probably.

[2018-08-23 09:26] Kaiz3rTool opened #313 "Otio wont start"
after a fresh install of opentimeline via
`pip install opentimelineio`

I tried to open it with
`otioview path/to/your/file.edl`

then it return
[code]
i'm on Fedora 28, python 2.7.14, PySide2

[2018-08-24 05:04] boredstiff commented on #313
This was fixed in https://github.com/PixarAnimationStudios/OpenTimelineIO/commit/f1e53e5de7985b63c440c280e4e6d7eb4c1c17fa on July 31, but the version that is tagged and on PyPi - https://github.com/PixarAnimationStudios/OpenTimelineIO/tree/v0.8 - is from July 24. It's up to the maintainers if they want to push a version 0.8.1 which would fix this, but if you need to install a working version, you

[2018-08-28 01:17] cconcolato opened #315 "Multiple Tracks example typo"
In https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/OTIO-Timeline-Structure, it says:

I believe it should be "Clip-005" instead of "Clip-006"

[2018-08-29 14:09] flavienliger opened #316 "Problems with AAF adapters under Python 2.7 on Windows"
Hi,
First of all thanks for this nice library!
I've encountered several problems with the AAF adapter.

OS: Windows 10
Python: 2.7.14
OpenTimelineIO: Master
Pyaaf: 1.0

## First error

[code]

## Second error

[code]

## Third error

Unfortunately I can't share my AAF files (they come from Avid), but have you ever encountered this error? it comes from my files? or a problem with pyaaf?

[code]

Th

[2018-08-29 17:00] jminor commented on #316
Yes, something is broken. It seems related to #301 but I'm confused about why the unit tests passed for that PR, when this is clearly broken. When I run the tests locally they fail with similar errors.

We'll dig a bit deeper, but in the meantime you can try using an earlier release: https://github.com/PixarAnimationStudios/OpenTimelineIO/releases

Sorry for the hassle and thanks for reporting the

[2018-08-31 09:44] alatdneg commented on #69
There's a slight problem with using the available range to map to frame numbers, (which I've recently discovered to my cost as I came up with the same solution).

Basically we've got Arriraw files and these have embedded timecodes, (.exr can have the same thing), which is a problem as the available range should hold the timecode, which means I've got no where to store the frames.

I think we defin

[2018-09-03 08:07] alatdneg opened #317 "Build time external adaptor inclusion."
Hi, can I request a method of adding external adaptors, currently there doesn't seem to be a nice way of doing this with out adding my code to the contrib adaptors tree and updating the manifest.

Or by using the environment variable, I'd rather not have to globally add a new env var just to support this, I suspect that overrides the contribs/adaptors anyway ?.

I was thinking of some build time f

[2018-09-03 12:56] alatdneg opened #318 "PEBAC"

[2018-09-03 12:57] alatdneg commented on #318
Ack... Wrong browser window. .

[2018-09-03 12:57] #318 closed

[2018-09-04 06:45] ssteinbach commented on #317
@alatdneg out of curiosity, would this solution work for you?  It isn't what you're asking for exactly, but depending on if your studio uses `pip` or not, it might work:

https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/How-to-Write-an-OpenTimelineIO-Adapter#packaging-and-sharing-custom-adapters

[2018-09-04 21:00] ssteinbach commented on #287
Pinging @alatdneg just to put this back on your radar per our earlier conversation.  See the question from @bbb999.

Thanks!

[2018-09-05 09:51] alatdneg commented on #263
Here's a simple test..
`#!/bin/env python

import opentimelineio_extensions
import opentimelineio
import time

# for every clip in video track 0, find clips in all
# other tracks that fall within it's track in/out points
# not an unusual operation

if __name__ == "__main__":
    timeline = opentimelineio.adapters.read_from_file(
        "big_timeline.otio"
    )
    start_time = time.time()

    f

[2018-09-05 09:54] alatdneg commented on #263
Not sure how to give you the cleaned timeline... As I can't attach it..

[2018-09-05 11:19] alatdneg opened #320 "Constructors should copy arguments ?"
Currently they just take references, this can give unexpected results if you're not careful.
If we're taking references then the reference object should really be immutable ?

[code]

[2018-09-05 15:47] alatdneg commented on #320
Another option is to make value/rate read only..

[2018-09-05 15:55] alatdneg commented on #320
Ack += RationalTime modifies the source .value, I suspect this has introduced some bugs in my code..
Which means I've already fallen in to this trap, drat..

[2018-09-06 07:44] alatdneg commented on #320
It gets worse..

This function can either return a reference or a new object..

[code]
Safe.. Constructs new obj

[code]

[2018-09-06 10:06] alatdneg commented on #287
Here's the full clip item, I'll see if I can clean the timeline so you can have the whole thing
[code]

[2018-09-06 10:17] alatdneg commented on #287
I've got a cleaned timeline, is there someone I can email it to, it's too big to attach here.

[2018-09-07 08:25] alatdneg opened #322 "fcp xml invalid start time for clip."
Seems to be a bug in the code that calculates the start time..

start time doesn't match premiere, which is 1002

[code]
[code]

[2018-09-07 08:42] alatdneg commented on #322
I'm starting to think that preimier is doing something odd here, as 1001.001001001 is valid as far as I can see.

[2018-09-07 09:07] apetrynet commented on #322
Unless this is related to my drop-frame implementation it might have to do with the fcp_xml adapter scaling source_ranges.
`source_range = otio.opentime.TimeRange(
        start_time=start_time.rescaled_to(item_rate),
        duration=otio.opentime.RationalTime(out_frame - in_frame, item_rate)
    )
`
Take a look [here](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/opentimeli

[2018-09-07 09:54] alatdneg commented on #322
Ta, I suspect this stuff is going to be a bit tricky, it's probably easier to just get someone on ourside to fix the timeline,29.97 audio in a 60fps time line is just confusing.. as audio has no rate

[2018-09-07 17:35] jminor commented on #287
@alatdneg, can you paste it into a gist? https://gist.github.com

[2018-09-07 18:35] jminor commented on #320
Yeah this is a terrible bug. We'll fix it.

[2018-09-07 18:43] jminor commented on #317
There's currently three ways to add adapters:
- Use OTIO_PLUGIN_MANIFEST_PATH with a colon-separated list of places to search (typically, yours + contrib + builtin)
- Modify contrib_adapters.plugin_manifest.json
- Use the pip method that @ssteinbach linked above.

In our internal deployments, we use all three - mostly the OTIO_PLUGIN_MANIFEST_PATH, and the pip method. However, in our main deployme

[2018-09-07 18:56] jminor commented on #313
@Kaiz3rTool are you able to get this working from the latest master branch?

[2018-09-08 07:15] Kaiz3rTool commented on #313
Sorry i missed your answers
yes with installing the 0.9.0 version it work like a charm
thank you

[2018-09-10 07:33] alatdneg commented on #287
https://gist.github.com/alatdneg/3a708eb34649631fea7ef774f1f95843

[2018-09-10 11:36] NickWu opened #323 "If this is no existing shot in the maya scene, build_sequence() will raise error"
When running extern_maya_sequencer.build_sequence() on an empty scene, the tool will error. This error is due to the initialization of en empty list when no shot nodes in a scene:

https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/f5a4480d7418cfbfea6b7604e9d28b46e4c683aa/opentimelineio_contrib/adapters/extern_maya_sequencer.py#L129

And the _build_track() function is using `if existing_

[2018-09-10 12:55] alatdneg opened #324 "Can no longer build"
Trying to "python ./setup.py build" after updating from 0.8 to current head.

error in OpenTimelineIO setup command: 'tests_require' must be a string or list of strings containing valid project/version requirement specifiers; Expected version spec in mock;python_version<"3.3" at ;python_version<"3.3"

cheers

[2018-09-10 23:03] ssteinbach commented on #324
I suspect it might be that your setuptools module is out of date for some of the features put into the `setup.py`.

Even just to test, if you create a virtual env and update to the latest setup tools and pip, are you then able to build?
[code]

There is a bigger question of whether we should be careful about which version of setuptools we're supporting.  I don't think the vfxplatform includes setu

[2018-09-11 22:57] jminor commented on #316
So I thought I was seeing the same problem on my machine, but it turned out that I just had an old version of PyAAF installed, and was seeing a similar looking error message. With a fresh install of PyAAF, it seems to be working fine.

Specifically, this works for me:
[code]

@flavienliger, can you run `make test` and see if everything other than the AAF adapter is working for you? From the errors

[2018-09-12 00:31] jminor opened #326 "Unregistered schema support"
If you try to open an OTIO file with an unregistered schema type, you get an exception like this:
```opentimelineio.exceptions.NotSupportedError: OTIO_SCHEMA: 'Foo' not in type registry.```

Instead we should turn it into something that can round-trip the unregistered type without a hassle.

We can do this by turning them into an `UnregisteredSerializableObject` that remembers the original schema

[2018-09-12 08:38] flavienliger commented on #316
@jminor, Yes the tests went well, only the AAF adapter seems to be a problem.
Maybe it the PyAAF library for Windows and Python 2.7 which is the problem.

I did the test again in Python 3.6 and everything works.

[2018-09-13 18:09] jminor commented on #316
I was able to reproduce the problem with Python 2.7 on Windows 10 - not 100% the same error, but I do see type mismatches between int/string when pulling values from an AAF.

@flavienliger, if you can work around this by using Python 3.6 in the short term until we get someone with a proper Windows dev setup who can fix this, that would be great.

[2018-09-13 19:00] flavienliger commented on #316
For my "Third error" it is another problem, my AAF does not contain a Start value on some segments, which generates an error (it contains instead a "Components" list which itself contains a Start).
An example of quickfix https://github.com/flavienliger/OpenTimelineIO/commit/7ceec8ffd06e5f7c27d6a0e53c558eaaa8d136d4 .

@jminor thanks for your time, I use Python 3.6 so it doesn't bother me. It was to

[2018-09-13 20:19] cconcolato opened #327 "25fps.edl does not play in viewer"
running the viewer with https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/tests/sample_data/25fps.edl I get
[code]
Is that normal?

[2018-09-14 16:07] jminor commented on #327
To open a non-24 fps EDL, you need to add `-a rate=25` to the command line arguments for otioview. Unfortunately the EDL format doesn't include enough information to know in advance what rate it uses.

[2018-09-14 16:07] #327 closed

[2018-09-14 16:35] jminor commented on #316
Thanks for the bug fix. I know it is just a small fix, but could you follow the steps in our contributor guide? https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/Contributing Our company wants us to be strict about the process for accepting code contributions.

If that's too much hassle, maybe you could make a sample AAF (without any confidential material) that reproduces the bug and we

[2018-09-14 16:39] jminor commented on #322
Hmmm. Yeah, I'm not sure what the intent of the `rescaled_to` is in the code that @apetrynet pointed out above. @bashesenaxis can you give us a hint about what you intended with that?

[2018-09-14 16:57] ssteinbach commented on #324
@alatdneg any luck with this?

[2018-09-17 12:52] melMass commented on #313
[code]

[2018-09-17 13:01] melMass commented on #289
@jminor may I ask the reason not to go with `Qt.py`, it seems really suited to the project.

I'm planing on making a **fork with Qt.py**
if that's not planned by you guys, just waiting for a proper `1.0`

[2018-09-17 19:19] ssteinbach commented on #313
@melMass @Kaiz3rTool I've pushed a new version of OTIO to pypi (`v0.8.1`) which should fix the issue with the commandline scripts not working.

[2018-09-18 07:40] heylenz commented on #323
Can you provide the file you read? I am testing edl file  and I will not report error.

[2018-09-19 11:04] apetrynet opened #329 "Typo Adapter section of the wiki"
Hi!
There seems to be a typo in the custom [adapters](https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/How-to-Write-an-OpenTimelineIO-Adapter#custom-adapters) section of the wiki regarding the plugin manifest environment variable.
I assume `OTIO_OTIO_PLUGIN_MANIFEST_PATH` is supposed to be `OTIO_PLUGIN_MANIFEST_PATH` ?
I did a grep for `OTIO_OTIO_PLUGIN_MANIFEST_PATH` and `OTIO_PLUGIN_

[2018-09-19 16:17] ssteinbach commented on #329
Yup. Good catch, fixed.

[2018-09-19 16:17] #329 closed

[2018-09-20 04:53] sobotka opened #331 "Implement Curve Schema"
Implement curve schema for Bezier, linear, and others?

[See Appendix C of the FCPXML document, 2004](http://mirror.informatimago.com/next/developer.apple.com/documentation/AppleApplications/Conceptual/FinalCutPro_XML/FinalCutPro_XML.pdf) as an example implementation.

[2018-09-20 07:45] alatdneg opened #332 "Markers should use core.Item"
Hi, I'm having issues with markers, I'm implementing a treeview representation of the otio structure, which is going well but Markers are a pain as they are not parented, which is odd, as they are useless out of context, they always need a parent for calculating their position in the timeline.

So would it make sense for then to work the same way as every other structure in otio, i.e. using core.I

[2018-09-24 10:03] bashesenaxis commented on #322
I am not 100% sure at this point anymore what the point of that rescale was. Some thoughts below.
- Looking at the code, start_time should already be in item_rate. But perhaps because we are adding the timecode to it, this could change? Then if we force a rescale, at least we know what the rate will be in the end.
- I don`t think that xml is very aware of the different rates of the clips on a time

[2018-09-24 21:42] ssteinbach commented on #306
See #330

[2018-09-24 22:20] ssteinbach commented on #331
Huh, good link.  This is something we might potentially want to add to OTIO, but is not on our current internal (pixar) roadmap.  If someone wanted to do this work, however, we would love to chat with them with some thoughts about how to approach this.  Thanks for linking that!  Do you know how closely this matches the curve format found in AAF or in EDL (for non linear speed ramps)?

[2018-09-24 22:36] ssteinbach commented on #332
Markers have definitely been loose in their definition, and the time hierarchy stuff (like range_in_parent) is definitely newer (and still IP! see #232 ).  core.Item directly is probably not a good fit for Marker, since items have a marker and effects list.   Is the `parent()` pointer and `range_in_parent()` stuff what you're looking for?

I think we could also explicitly define what space `marked

[2018-09-24 23:02] ssteinbach commented on #289
@melMass this was the thread: https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/73

[2018-09-24 23:04] ssteinbach commented on #282
addressed by #310

[2018-09-25 13:43] melMass commented on #289
@ssteinbach Thanks Stephan, what are the legal concerns ? [@motosso](https://github.com/mottosso) might help

[2018-09-25 22:42] jminor opened #333 "Enable macOS and Windows CI on GitHub Actions"
Travis supports macOS testing too. We should enable that to ensure that we don't have platform-specific bugs/problems.

Ideally we would have Windows too, but Travis doesn't support that (yet).

[2018-09-25 22:42] jminor commented on #333
It looks like this should be very easy to turn on: https://docs.travis-ci.com/user/multi-os/

[2018-09-27 07:29] markreidvfx commented on #331
In pyaaf2 here is the code that does curve interpolation for AAF, including Bezier and Cubic
https://github.com/markreidvfx/pyaaf2/blob/master/aaf2/misc.py#L368

[2018-09-28 10:29] alatdneg commented on #324
I commented out the bit in the setup.py that broke it, working now..

[2018-09-28 10:33] alatdneg opened #334 "odd clip rate from xml adaptor"
Is this right ? As it's breaking other code in otio as it's an invalid time rate ?

23.976023976

Should it not round it to 23.976?

This is triggered by this in the xml

<rate>
<timebase>24</timebase>
<ntsc>TRUE</ntsc>
</rate>

[2018-09-28 10:49] alatdneg commented on #334
ValueError: 23.976023976 is not a valid frame rate, Please use one of these: (1, 12, 23.976, 23.98, 24, 25, 30, 48, 50, 60, 29.97, 59.94)
Should this validation be smarter ?

[2018-09-28 17:29] ssteinbach commented on #324
Before we close this, can you look up which version of setuptools you're using?  I think there is a way to guard against this, but it involves some hackery (we can put all arguments to setup in a dictionary and then add more of the optional fields depending on which version of setuptools is present in the host environment).

[2018-09-29 03:19] #311 closed

[2018-10-02 14:08] alatdneg opened #336 "Timecodes cause issue with RationalTime"
Hiya, I've been playing with timecodes and media references, it was going great until I hit problems with comparing Time/Ranges.

It was going fine until I tried the following.

I'm wondering how we're meant to deal with this, are using TimeRanges/Rational times as containers for timecodes, is it just a non starter, dues to their odd behavior.

In timecode land  23.976 == 24.0, in RationalTime etc

[2018-10-02 15:16] alatdneg opened #337 "Rescale TimeRange ?"
Should we have a function for this ? Like the one for RationalTime?

[2018-10-02 17:54] meshula commented on #337
Something to consider. (T/1000)*1000 may not equal T unless care is taken in implementation. This comes up frequently in editing applications when users scale a clip down (to make something play really sped up), then restore the clip later to 1:1 playback.

[2018-10-02 22:38] ssteinbach opened #338 "Better Manifest layering"
Right now Manifests are layered by manually extending the adapter and media linker lists.  This should be extended to cover the new hooks plugins and should probably be wrapped up in a higher level function in the `Manifest` class.

https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/59a60bbf965cff7347336a76d899aaea55fd9c32/opentimelineio/plugins/manifest.py#L203

[2018-10-03 20:52] ssteinbach commented on #337
@alatdneg Do you mean rescale to keep the duration the same length overall?  Or change the rate of both of the rational times to the same rate?  Either way, seems totally reasonable.

[2018-10-04 00:18] bpeck commented on #272
Hey sorry, I must have my notification settings set badly, just saw this now. Thanks for addressing!

[2018-10-07 02:46] jminor commented on #333
Whoa, that sounds like a mess. I had no idea it would be such a pain. Thanks for digging into this. Let’s leave it as-is for now.

In the long run we can look for other CI services (which might happen for other reasons), or wait until Travis improves this.

[2018-10-09 01:14] #308 closed

[2018-10-10 07:47] alatdneg commented on #289
I've got the same problem no access to PySide2, I tried using Qt.py but I get PySide.QtGui.QFontDatabase' has no attribute 'systemFont. I guess it's using something only suported in Qt5.

[2018-10-10 07:54] mottosso commented on #289
Anything that could be changed in Qt.py to enable this? Could issue the source under public domain, which is pretty much what MIT is already.

[2018-10-10 14:38] jminor commented on #289
Let me ask our legal folks for clarification on why they don’t want us using Qt.py.

[2018-10-11 18:06] ssteinbach opened #341 ""SchemaDef" Plugins"
- A plugin which lets you inject schemas into the schema map, or override existing schemas with custom definitions (including versioning/upgrade functionality)
- When the serializer encounters a type from a plugin, it loads the python file associated with the plugin (if not already loaded), and then deserializes the type
- If it encounters a type it doesn't know, instead of throwing an exception (

[2018-10-11 18:09] jminor commented on #304
Addressed by #312

Documentation is now here: https://opentimelineio.readthedocs.io/en/latest/
with offline PDF here:
https://readthedocs.org/projects/opentimelineio/downloads/pdf/latest/

[2018-10-11 18:09] #304 closed

[2018-10-11 18:11] jminor commented on #316
@flavienliger are you able to submit a CLA and a pull request for your fix?

[2018-10-11 18:12] jminor commented on #215
Addressed by #250, and #215.

[2018-10-11 18:12] #215 closed

[2018-10-12 07:28] flavienliger commented on #316
@jminor Yes, I just did it (send an email). Sorry for be late.

[2018-10-15 13:34] Tilix4 opened #343 "Add a way to signify two clips are grouped/associated"
Often, in editing softwares, different clips are grouped/associated. For example, an audio clip and a video one. Or two video clips, or three...
It would be great to have some information to signify it.

[2018-10-18 08:30] alatdneg opened #345 "EDL LOC markers are in track time units not clip.media units"
EDL Loc / Clip Markers are in timeline units, XML clip markers are in clip/media units.
This makes handling of markers a real problem.
The marker position calculation should be independent of the original timeline format.

I'm suspecting that EDL LOC markers should be timeline/track markers not clip markers, or they need translating.

cheers

[2018-10-18 08:38] Tilix4 commented on #343
About the use cases :
- Sound and video are not recorded together, then I synchronize them (they are associated then) and I have to migrate it from an editing software to another, I would like to not have to associate them a second time..
- A storyboarding software (like Storyboarder) defines shots and boards. A shot may contain several boards. If I export it in an editing software (or in an anima

[2018-10-18 08:53] alatdneg opened #346 "EDL with offset record time breaks trimmed_range_in_parent."
I'm assuming I've not done anything silly...

This EDLl causes this issue,

[code]

[code]

[2018-10-18 08:56] apetrynet commented on #343
Hey, @Tilix4 . Not trying to hijack this thread, but I'm also working on an MLT adapter. It's still a bit rough and also geared towards support for melt, but would be interesting to compare notes (sort of speak) to handle different dialects etc. [my adapter](https://github.com/apetrynet/OpenTimelineIO/blob/mlt_xml_adapter/opentimelineio_contrib/adapters/mlt_xml.py)
I haven't worked on it for a whi

[2018-10-18 09:03] Tilix4 commented on #343
Hey @apetrynet . You're not hijacking, it's great to know I'm not alone wanting this feature. You're much more advanced on your adapter (I just started mine), but I started to look around because I need this group feature.
If you want, I opened a [thread ](https://github.com/mltframework/mlt/issues/375)in the MLT github, to require this nomenclature.

[2018-10-18 09:15] apetrynet commented on #343
@Tilix4 cool! I'll try to pick up my work again soon.

[2018-10-18 09:16] alatdneg commented on #346
It's looking like the EDL reader is setting the track source time to -01:04:52:15, I assume this is wrong and it should be +01:04:52:15
This is the source_range for the track.
`TimeRange(RationalTime(-93423, 23.976), RationalTime(613, 23.976))`

[2018-10-18 20:46] jminor commented on #345
`Marker.marked_range` is meant to be in the time frame of the item the marker is attached to. So if the marker is on a Clip, it should be relative to the Clip. If one of the adapters is not doing this right, it is a bug in the adapter.

I'm attempting to improve the documentation for this here: #344

[2018-10-18 20:47] jminor commented on #345
This appears to be the same as issue #169

[2018-10-18 20:49] jminor commented on #345
For the EDL case does it make more sense to fix the `marked_range` of the markers, leaving them on the clip, or should we attach the markers to the track instead?

[2018-10-18 21:02] Tilix4 commented on #343
@apetrynet Dan Dennedy from MLT answered me : https://github.com/mltframework/mlt/issues/375#issuecomment-431113832

[2018-10-18 21:54] apetrynet commented on #343
@Tilix4 Thanks!
My initial use case I referred to was more in line of the grouping/syncing of video and audio files not necessarily from the same source, but the other needs are interesting as well.
Cool that Dan Dennedy has interest in adding OTIO support in MLT!

[2018-10-19 16:30] ssteinbach commented on #346
As you note, the clip is getting culled because it is outside the range of the track.  The track has a massively negative start time which means *all* the clips are outside the range of the track.

here is a repro script:
[code]

I found a bug in `trimmed_range_of_child` that wasn't looking for a `None` in the right place, which causes your crash, so I have a fix for that.  However, I think the bi

[2018-10-19 16:37] ssteinbach commented on #346
This test also fails (if added to the cmx edl adapter unit tests):
[code]

[2018-10-19 17:02] ssteinbach commented on #346
My suspiscion is that this line:

[2018-10-19 17:18] ssteinbach commented on #346
@alatdneg can you try this? https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/348

[2018-10-23 03:13] hasielhassan opened #349 "RV Adapter should create a copy of the environment instead of directly modify it"
The RV adapter is directly modifying the environment and specifically the PYTHONPATH variable in order to pass the proper paths to the subprocess, but this can cause issues in an scenario where you actually require other modules named RV.py like when running inside RV and you need to import rv module @_@

The affected module is:
opentimelineio_contrib/adapters/rv.py

[2018-10-23 23:54] jminor opened #353 "otio.algorithms.flatten_stack() only flattens one level"
If you have Tracks or Stacks within a Track, `otio.algorithms.flatten_stack()` doesn't flatten all the way.

We might need a separate `otio.algorithms.flatten_track()` and a recursive `flatten()` that deals with arbitrary nesting.

[2018-10-30 12:03] NickWu commented on #323
Hi @heylenz, sorry for replying late, as I have been in the middle of

[2018-10-30 12:03] #323 closed

[2018-10-30 12:06] NickWu commented on #323
Thanks @heylenz . I closed it for now as I don't have a chance to test it further at the moment. By the way, I was using maya 2018 when coming across the issue. I am not sure whether that makes difference, but I will check that further once I get a chance.  Thank you for looking into it.

[2018-10-31 17:35] avrata opened #354 "otioconvert should support turning the media linker off via the --media-linker flag"
When testing with `otioconvert` in an environment that was bootstrapping and forcing a `OTIO_DEFAULT_MEDIA_LINKER` env value, I was unable to disable the media linker via the `--media-linker` flag. It would be nice if it supported something like `--media-linker ""`.

Thanks,
Robyn

[2018-11-01 22:05] jminor commented on #326
Addressed by #342

[2018-11-01 22:05] #326 closed

[2018-11-01 22:10] jminor commented on #307
Adding this should be pretty easy. There is code that notices aaf.component.DescriptiveMarkers in the AAF adapter already. It just needs to be fleshed out to make an otio.schema.Marker() and fill in the details.

Here's the spot that needs work:
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/opentimelineio_contrib/adapters/advanced_authoring_format.py#L297

[2018-11-03 15:33] MartinDelille commented on #71
@ssteinbach Ok I found your work here: #319

[2018-11-05 17:36] jminor commented on #8
Hey @rogergodspeed is this on your roadmap?

[2018-11-05 18:56] rogergodspeed commented on #8
Not mine explicitly, but in Eric’s absence such tasks are likely to come my way.

[2018-11-05 19:18] ssteinbach commented on #337
@alatdneg just bumping this to get some clarification.

[2018-11-05 19:19] #306 closed

[2018-11-05 21:09] ssteinbach commented on #320
@alatdneg Can you take a look at this PR?  I think this should address this issue:
https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/359

[2018-11-05 21:47] jminor commented on #69
Here's a python module that might come in handy for summarizing sequences of filenames: https://github.com/rsgalloway/pyseq

[2018-11-05 21:48] jminor commented on #69
Also, we're looking into OpenClip, which may be a more full featured approach to handling media: http://robmoggach.github.io/python-openclip/

[2018-11-05 22:20] jminor commented on #69
Here's another python module that might help: https://github.com/sqlboy/fileseq

[2018-11-05 22:29] jminor commented on #236
There is sample code for making AAFs with pyaaf2 here: https://github.com/markreidvfx/pyaaf2/blob/master/tests/test_create_sequence.py
and here: https://github.com/markreidvfx/pyaaf2/blob/master/examples/import_media.py

[2018-11-05 22:31] jminor commented on #69
Thanks @meshula, that sounds also related to #68.

[2018-11-06 08:42] alatdneg commented on #320
You seem to be using copy.copy on immutable types i.e. int,float.
Which is not required. You probably want to put some tests in if you haven't already to make sure you've got the deep copy's in the right place.
a = deep.copy(value or {}) seems wasteful and you use it a lot, shouldn't it be
a = deep.copy(value) if value is not None else {}

[2018-11-06 13:29] MartinDelille commented on #236
@jminor I'm interested into writing AAF in C++. Can you point me where to start?

[2018-11-06 17:28] jminor commented on #236
Hi @MartinDelille, we have a developer starting work on the C++ API for OTIO this week, and another scheduled to start on AAF writing in the next couple of months. Can you explain the use case you have in mind?

[2018-11-06 17:37] ssteinbach commented on #354
See #355

[2018-11-06 17:40] MartinDelille commented on #236
I develop a recording software and I would like export session to *Pro Tools*. *AAF* seems to be handling pretty much what I need.

I would be very pleased to contribute to the OTIO!

[2018-11-06 17:41] MartinDelille commented on #236
I want to create a multitrack session with multiple track at different position. I want also to be able to add some fade in/out automation on the audio clip.

[2018-11-06 21:22] ssteinbach commented on #69
@jminor in the open clip case, would you expect that there would be  special "OpenClipMediaReference" as a schema?  or that there would be an openclip data blob in the metadata?

[2018-11-06 21:41] jminor commented on #236
Okay, that sounds similar to what we're aiming for - our use case is for video, but otherwise it is the same. We have heard from other people that Pro Tools AAFs are a bit different from Media Composer AAFs, so maybe it would be good to make sure we have sample AAFs and unit tests for both so we can make sure we uncover any gotchas early.

If you're available to help, then take a look at the guide

[2018-11-06 22:12] #354 closed

[2018-11-06 22:13] #338 closed

[2018-11-06 22:13] #320 closed

[2018-11-06 22:15] ssteinbach commented on #316
@flavienliger Hey, when you get the chance, can you make a PR, thanks!  I'm bumping this to the next milestone for now.

[2018-11-06 22:18] apetrynet commented on #69
@jminor @ssteinbach I might be missing something, but personally I'd like to avoid having to deal with XML objects. Wouldn't it be possible to define some sort of simple media container where we can specify if it's a single or a sequence of files etc?
Also, we need to support files like R3D that potentially come in "sequences" as well.

[2018-11-06 22:21] #349 closed

[2018-11-07 00:40] jminor commented on #69
For now we're just researching OpenClip and talking to the people at Autodesk to see how it could work together with OTIO. I agree that putting XML inside JSON would be awkward.

[2018-11-07 10:32] MartinDelille commented on #236
Also I build successfully the content of https://github.com/ssteinbach/OpenTimelineIO/tree/cpp_api/cpp_api but failed to link it to my [simple test program](https://github.com/MartinDelille/OTIOTest) written in *Qt*.

I have the following error:

[code]

[2018-11-07 10:34] flavienliger commented on #316
Done [#362](https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/362).
(I was waiting for the rights, but no notifications warned me I already can :smiley:).

[2018-11-07 20:17] jminor commented on #236
Our company chose the license that they felt is most widely accepted within our industry.

The work on a full C++ API is just starting. When that is ready, we will make it easy to build (submodule, CMake, or whatever) and include a sample program.

[2018-11-09 19:56] reinecke opened #367 "Open bounded TimeRange support"
When working with media times, it can often be useful to refer to ranges that are things like "all times after two seconds" or "all times until 90 minutes". With time ranges expressing this, you can do things like: `two_seconds_to_infinity_range.contains(RationalTime(36, 24))`.
This can be thought of in two ways:

1. A `TimeRange` that goes from a concrete time to infinity or from negative infinit

[2018-11-09 21:34] jminor opened #369 "AAF tests not running in Travis"
pyaaf is getting installed via Travis, but isn't found by the python environment running the tests, so they are skipped.

[2018-11-10 17:14] apetrynet opened #371 "Should track_algo.track_with_expanded_transitions() return a Track instead of a list?"
Hi!
While working on #363 I discovered that `track_algo.track_with_expanded_transitions()` returns a new "track" based on an empty list. Should this be an actual schema.Track?
[code]
The reason I'm asking is that when trying to figure out if a Clip's parent is an audio track I don't get a valid result when calling item.parent(). This I believe is because it's not from a proper Track.

[2018-11-12 09:20] apetrynet commented on #371
I got this working by changing another line in the same function replacing
`result_track.append(_expand_transition(thing, in_track))` with `result_track.extend(_expand_transition(thing, in_track))`

Also had to do some tweaks to the indexing in test_track_algo.test_expand_surrounded_by_clips(self) to make all test pass.

Should I create a PR for this so you can check it out?

[2018-11-12 15:08] MartinDelille commented on #236
No problem I totally respect that. I'm just checking with my legal departement that it is ok for me to sign the CLA.

Ok these are just some remark I made but it's totally fine if you fix it later on.

Do you have an estimated roadmap on this project?

[2018-11-12 19:30] ssteinbach commented on #371
Its a good question, and if we don't make it return a track we should at least explain why we aren't returning a track back.

In a track, transitions are next to items and "eat into" the items  they're next to.  Given a track like this:
`[A, B, t, C, D]`

Where `A`, `B`, `C`, and `D` are clips and `t` is a transition, `track_with_expanded_transitions()` will return a list like this:
`[A, B', (Bt,

[2018-11-12 20:14] apetrynet commented on #371
Hi!
Thanks you your insights.
I'm working on support for audio clips in the RV adapter. In the adapter I want to use the `Clips.parent()` method to determine if it lives in an AudioTrack or not.
The clips in the list returned from `track_with_expanded_transitions()` yield None when `parent()` is called.

Yes, I most definitely can. I can't understand why I didn't think of that. (palm face)
Thanks

[2018-11-12 20:15] apetrynet commented on #371
I'll close this for now.

[2018-11-12 20:15] #371 closed

[2018-11-13 17:29] avrata opened #374 "Add convenience method to determine parent track's kind"
Since a clip/gap/item can often reside at an arbitrary depth under a track, it would be nice to have an easy way to determine the parent track's "Kind". (see #363)

Thanks,
Robyn

[2018-11-13 18:59] ssteinbach commented on #369
This is addressed by: #370

[2018-11-13 19:00] #369 closed

[2018-11-13 21:28] avrata opened #376 "otioview's CompositionWidget assumes all stacks have tracks"
otioview CompositionWidget can run into issues when coming across nested stacks that contain direct clip (Item) children. You'll notice this if you have a:

Timeline -> Stack -> Track -> Stack -> Clip

And you try and "Open" (double click for example) the internal Stack you'll see:
[code]
This assumption shows up in both `_adjust_scene_size()` and `_add_tracks()`

[2018-11-13 22:46] avrata commented on #376
Adding an example otio file with nested tracks and stacks.

[376.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/2578439/376.zip)

[2018-11-14 22:04] peachey opened #379 "documentation wrong for SchemaDef plugin"
frederick.tombs@autodesk.com reported trouble in making a SchemaDef plugin on the
[google group](https://groups.google.com/d/msgid/open-timeline-io/6d4384c8-f9a9-4317-a4fb-227b501c46f0%40googlegroups.com?utm_medium=email&utm_source=footer).

It turns out that the mechanism works, but I documented it incorrectly in:

[Writing an OTIO SchemaDef Plugin — OpenTimelineIO 0.10.0.dev1 documentation](http

[2018-11-14 23:06] ssteinbach commented on #379
Addressed by #380

[2018-11-14 23:06] #379 closed

[2018-11-15 17:22] jminor opened #382 "Python bindings for C++ via PyBind11"

[2018-11-15 17:26] jminor opened #383 "Switch from pyaaf to pyaaf2"

[2018-11-15 18:33] jminor opened #384 "Sometimes the AAF reader puts Clips in the top-level Stack"
We fixed this once before in #325, but didn't add a unit test, so then later, #366 re-introduced the problem. We need to make a sample AAF that covers this cleanly so we can ensure the simplify is doing what we want in both cases.

[2018-11-21 20:28] apetrynet opened #387 "Should there be some sort of validation of transitions?"
Hi!

I was working on my Hiero plugin today and came across an issue when attempting to read the `transitions_test.otio` file in the sample_data folder.
In this file there is a cross dissolve between two clips that doesn't work in Hiero since there isn't enough media to create that dissolve.
To create a cross dissolve there needs to be overlapping media between them.
If you look at the file mentio

[2018-11-27 22:14] apetrynet commented on #387
Thanks for the clarification. For now in the plugin, I just catch cases where there's not enough media etc. and ignore them. This of course results in some potentially missing transitions, but I don't think it will be a big problem in real life.
Should I close this issue or do you want it open as reminder for the future method to describe above?

[2018-11-27 22:23] jminor commented on #387
Let's leave this open as a reminder that we should document this clearly and provide validation API to help people understand this.

[2018-11-27 22:24] apetrynet commented on #387
Ok, thanks!

[2018-11-28 04:36] sobotka commented on #331
If someone where to try their hand at this, is there a good skeleton to follow as an outline that fits in well with OTIO’s development patterns?

[2018-11-28 05:56] ssteinbach commented on #331
Hi @sobotka, depends on how you want to extend the library.  Couple options:
1) its a bit of custom metadata that you inject via an optional plugin.  You can do this via the SchemaDef system:
https://opentimelineio.readthedocs.io/en/latest/tutorials/write-a-schemadef.html
2) Its implemented as metadata to start, and when the schema solidified gets elevated into its own bit of schema.  An example o

[2018-11-28 20:44] ssteinbach opened #389 "Ensure that pip dependencies for OpenTimelineIO include the correct version of pip/setuptools/distutils"
A common error when trying to `pip install opentimelineio` is related to pip/setuptools versions being out of date.  We should make sure the setup.py includes them as dependencies so that a better error message is reported.

[2018-11-29 12:58] apetrynet commented on #168
Hi!

I began working on this and have a first implementation in place, but need to tweak some of the unit tests to support the new reel names.
The tests checking against a string representation of an EDL are OK, but I'm having some difficulties deciding how to approach the `test_edl_round_trip_mem2disk2mem` which compares JSONs.
They won't be equal anymore since I've added a comment and reel name

[2018-11-29 19:44] tin2tin commented on #168
I would just like to add that I've noticed the Davinci Resolve edl export adds the full file name no matter the number of characters, so if the normal 8 characters limit can't be read succesfully - then maybe the parts before and after the name could be cut because the length of those should be a consisten number of characters.

Ex.
`001  WildlifeInAfrica V     C        00:00:00:00 00:00:04:05 00:

[2018-11-29 19:49] jminor commented on #168
We'd like OTIO to be flexible in reading EDLs that don't 100% match these limitations, since there is quite a lot of variation out there. When writing an EDL out from OTIO, there is an optional "flavor" argument to the EDL adapter to help with differences like this. Ideally the reader won't need an argument, but could discover it from the file itself.

[2018-11-29 20:02] apetrynet commented on #168
@tin2tin My proposed changes don't touch the reel name when reading an EDL. It adds it to the metadata and goes on with it's business, so the adapter should be able to read an EDL from DaVinci. The truncate option is for writing EDLs.
@jminor Was your last comment aimed at my code or @tin2tin's comment?
I'll submit a  [WIP] PR.

Thanks!

[2018-11-29 21:45] jminor commented on #168
My comment above was mostly related to @tin2tin's comment about Resolve, and to just point out the "flavor" concept. I'll take a look at the PR :)

[2018-11-30 08:12] ssteinbach commented on #331
I should note, if you need an example of the USD curve schema:

[code]

You could put that blob into a string attribute and then in an adapter use the USD API to evaluate values on that curve.

[2018-11-30 13:29] alatdneg opened #393 "Missing timecode rates?"
Seem to be missing 48 and 47.95 in opentime.py

[2018-11-30 14:32] apetrynet commented on #393
Is it actually a DF rate? I suspect it should go alongside the 23.976 (which is NDF) and get treated like 48.

[2018-11-30 15:04] alatdneg commented on #393
Hmm I've discovered this is some wierd GoPro fottage, probably not standard framerate , probably ignore this unless it's listed in SMTE.

[2018-11-30 23:46] meshula opened #394 "TimeRange sentinel values?"
I'd like if there were sentinel values in TimeRange for None, Never and Always
With these rules embodied in union and intersection:
[code]
associativity, commutativity, and distribution appear to work correctly.

[2018-12-01 07:55] ssteinbach commented on #394
This kind of relates to something @reinecke was poking at in #367.  I wonder if something like StartsAtOpen, EndsAtOpen would be useful?

[2018-12-02 02:44] meshula commented on #394
it is related, carrying the conversation over there...!

[2018-12-02 02:44] #394 closed

[2018-12-02 02:45] meshula commented on #367
I'd like if there were sentinel values in TimeRange for None, Never and Always
With these rules embodied in union and intersection:
[code]
associativity, commutativity, and distribution appear to work correctly.

[2018-12-03 20:52] jminor commented on #367
Lets try to enumerate the use cases for these, so we can make sure we consider the scope of this design decision broadly enough.

- A Clip has a `source_range` which specifies the segment of media it uses (start+duration).
- A Clip, Track or Stack trims its content to a specific segment via `source_range`.
- A Clip, Track or Stack specifies no trimming, falling back to a computed bounds of its chi

[2018-12-03 21:53] meshula commented on #367
Always example: A slate, stating SHOT MISSING, that appears in gaps not filled by anything else.  In a user interface, it can be selected but not moved on its track. This is as you suggest the same as start at -∞, and end or duration of ∞.

Never example: A slate, stating COPYRIGHT 2019, NO REDISTRIBUTION, composited over top of everything. Set to NEVER so that it remains in the timeline but is no

[2018-12-05 18:01] jminor commented on #367
One serious flaw in my suggestion to use NaN and Infinity for this: JSON doesn't support either.

There are optional extensions to JSON to allow this (for example in the RapidJSON implementation that we're moving towards) or we could wrap it in a string or something. Both of these have downsides for anyone using OTIO without using our implementation (e.g. just minifying the JSON).

[2018-12-06 01:07] ssteinbach commented on #367
I think if they were sentinel strings ("__OTIO_NaN__" or something) that would be convertible in python.  But if the python JSON parser doesn't allow Inf or NaN float sentinels automatically then that would be a problem.

Also, if we move RationalTime away from floats, then something more flag-based might be better anyway.

[2018-12-06 20:33] sobotka commented on #331
Is it currently possible to have a unique "in house" schema for curves for OTIO, while at the same time, defining some glue to get in and out of other schemas? For example, the in-houseCurve <-> USDcurve?

[2018-12-06 21:36] ssteinbach commented on #331
I believe so.  If you build a schemadef plugin, that is a complete python class, which could have methods like `.to_usda_curve()` or something.

[2018-12-07 23:43] jminor opened #398 "AAF adapter doesn't get the Timeline global_start_time"
If your AAF has starting timecode, the resulting OTIO should hold that in global_start_time.

[2018-12-10 17:49] jminor commented on #331
Of the strategies that @ssteinbach listed, I recommend using the SchemaDef plugin mechanism. That will give you the ability to define the schema, a class that represents it, a versioning mechanism, and whatever methods you want on it. It also gives us flexibility to merge it into the official schema easily later.

[2018-12-10 18:47] ssteinbach commented on #331
Where are you planning on getting the curve data?  Is it from one of the existing adapters?

[2018-12-14 19:58] jminor commented on #383
Addressed by #396

[2018-12-14 19:58] #383 closed

[2019-01-08 22:32] ssteinbach commented on #71
For more information on this, see @davidbaraff's work in #391.

[2019-01-08 22:33] ssteinbach commented on #37
Addressed by #309

[2019-01-08 22:33] #37 closed

[2019-01-08 22:45] ssteinbach commented on #324
Hopefully addressed by #397

[2019-01-08 22:45] #324 closed

[2019-01-09 02:19] reinecke opened #407 "Convert enumerations to Python enum.Enum subclasses"
We have some enumerated types spread throughout the codebase but they are treated as simple classes (see [TrackKind](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/8dcde4e37dd6fdaf9bb3e27878c056b5653041e9/opentimelineio/schema/track.py#L41), [NeighborGapPolicy](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/8dcde4e37dd6fdaf9bb3e27878c056b5653041e9/opentimelineio/schema/

[2019-01-09 12:54] alatdneg opened #408 "AttributeError: TimeRange is Immutable."
Why is it immutable ? It makes my code fail all over the place.

This seems like a perfectly reasonable operation.

[code]
It now has to be
`extract_range.start_time = extract_range.start_time - from_frames(5, extract_range.start_time.rate)
`
Which seems a bit odd.

[2019-01-09 12:56] alatdneg commented on #408
I'd understand making the guts hidden, i.e. value and rate, shouldn't really access those directly, but you should be able to use overloaded operators.

[2019-01-09 13:11] alatdneg commented on #408
Ah TimeRange is also immutable, argh. This really breaks a lot of code.

[2019-01-09 13:52] alatdneg commented on #408
I have a lot of code that does things like
`time_range.start_time += from_frames(10, time_range.start_time.rate)`

With this new set up it becomes
`time_range = TimeRange(time_range.start_time +  from_frames(10, time_range.start_time.rate), time_range.duration)
`
Is there really no better solution, as this just seems messy.

[2019-01-09 14:05] alatdneg commented on #408
Ah I see RationalTime still allows += as it just replaces the object, but TimeRange doesn't work as it has no exposed functions to modify it's duration/start_time maybe some helpers to do this ?

[2019-01-09 14:08] #408 closed

[2019-01-09 17:37] jminor commented on #408
@alatdneg sorry for the disruption. We did this for a few reasons:
- To aid the C++ port, which will soon be layered under the python implementation.
- To avoid some insidious bugs that some people were encountering when they accidentally reused a TimeRange in multiple places and then modified them all when intending to modify just one.
- To set us up for future optimizations, specifically so that

[2019-01-10 08:41] alatdneg commented on #408
Yep fair enough, those helpers sound fine.  I guess union etc. might also work, but they might not be so clear.

[2019-01-10 11:12] alatdneg opened #409 "AAF MediaReference start_time"
I'm trying to write an essence extractor that injects MediaReferences into an embedded aaf, I can extract the data etc. but the clip source start_times are not matching up, is there a way of determining the start_time for the media I've extracted ?

Currently all the media_references starts a frame 0, but the clip source ranges are all around  01:00:00:00.

As the essences are dnxhd streams, there

[2019-01-10 17:39] jminor commented on #409
I believe that we are looking at extracting the start timecode and duration for media references from an AAF since we will need that when writing AAF compositions (#236). @shahbazk8194 and @freesonluxo do you have any info that might be helpful to @alatdneg ?

[2019-01-10 19:45] freesonluxo commented on #409
Hi @alatdneg. We are currently in progress and looking at the start timecode issue.

[2019-01-11 22:43] jminor commented on #409
@alatdneg does #410 provide what you need?

[2019-01-14 08:51] alatdneg commented on #409
If it does what I'm, after then yes ;) I'm currently using the StartTime metadata field, which I think gives the frame offset for the media, (though I might be mistaken)

[2019-01-14 19:51] jminor commented on #409
Okay #410 has landed into master. @alatdneg can you give it a try?
When you read a clip from an AAF, you should now be able to ask for its `clip.media_reference.available_range.start_time` to get the start of the media independent from the clip's source_range (which is the trimmed segment used by the clip).

[2019-01-26 16:43] jDmacD commented on #85
Hi folks,
Is this feature in the latest release?
I'm doing a read of
[code]
with
[code]
and I can't find the reel `B333_C008_05254J` in the OTIO. Am I missing something? Or will this require writing my own adapter or hook?

[2019-01-31 00:27] felixsan opened #414 "SerializableCollection does not accept unicode strings on name attribute"
I was building a collection of timelines and wanted to pass it all the respective names but hit a `TypeError` as the timeline names are coming out as unicode instead of strings.

The constraint appears to be set [here](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/opentimelineio/schema/serializable_collection.py#L68).

[2019-02-01 16:14] jamesmclaren opened #415 "issue with opening AAF file"
I'm having problems with opening AAF files

getting the following exception

 File "D:\virtualenv\axiscuts\lib\site-packages\opentimelineio_contrib\adapters\advanced_authoring_format.py", line 415, in _transcribe
    result
opentimelineio.exceptions.OTIOError: Wrong duration? 98 and 98

this seems to be because it's comparing a long to a string. I've tracked down the issue to

def _transcribe_prop

[2019-02-01 19:04] ssteinbach commented on #415
Can you provide a simple example AAF which demonstrates the problem?  then we can add a unit test.  Thanks!

[2019-02-06 23:32] jminor opened #418 "Travis builds broken due to upstream change in pyaaf2"
We need to pin to a specific release of pyaaf2 instead of using the current master.

[2019-02-07 00:13] markreidvfx commented on #418
Looks like its because I rename interpolation -> interpolationdef. I added it back for compatibility.  Sorry about the breakage.

[2019-02-08 12:23] alatdneg opened #421 "Negative start_time from aaf"
Is this valid ? From one of our internal aaf's, this is using the current master of otio/aaf2.

[code]

[2019-02-08 12:26] alatdneg commented on #421
Doh, must be something in my code doing this, as otiocat produces valid output. *hangs head in shame*

[2019-02-08 12:26] #421 closed

[2019-02-14 16:31] ssteinbach commented on #415
I think this is addressed by #416

[2019-02-14 16:34] ssteinbach commented on #389
Addressed by #397

[2019-02-14 16:34] #389 closed

[2019-02-14 23:05] jamesmclaren commented on #415
Hi Stephen,
That looks like it might work too.
Sorry I couldn't get you an example, don't have a license for Avid, and the files I could get hold of we're all company sensitive

---- Stephan Steinbach wrote ----

I think this is addressed by #416<https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/416>

—
You are receiving this because you authored the thread.
Reply to this email directly

[2019-02-19 11:56] eric-with-a-c opened #427 "Multicam Support"
Are there any plans for adding a schemadef for multicam clips, or is the preferred direction to just use a stack to represent multicam clips?

The downside to using a stack is that if you round trip through OTIO back to an NLE you would lose the multicam clips and they would just become nested tracks.

[2019-02-19 23:26] jminor commented on #427
Yes, we would like to add a schema for this, but we don't have it on the schedule. Would you like to propose a schema for it?

[2019-02-20 01:24] ssteinbach commented on #427
Just to be clear, is the assumption with a multicam item that:
- each 'take' referenced by the multiclip is the same duration and has the same start time?
- that each 'take' referenced by the multiclip is of the same 'kind'?  (they're all Video or all Audio)
- there is one 'primary' or 'pick' or 'select' that can be used by the adapter if it doesn't support multicam clips

Could this also be used

[2019-02-20 18:09] ssteinbach commented on #418
This is resolved now, thanks to #419

[2019-02-20 18:09] #418 closed

[2019-02-20 18:10] ssteinbach commented on #409
@alatdneg did you guys get a chance to try this?  Wondering if we can close this issue.

[2019-02-20 18:14] ssteinbach commented on #263
GIven that we've landed #404 I think we can close this issue.  Please let us know if its still a problem.

[2019-02-20 18:14] #263 closed

[2019-02-20 18:17] ssteinbach commented on #316
Merged with #362

[2019-02-20 18:17] #316 closed

[2019-02-20 18:54] ssteinbach commented on #415
@jamesmclaren we've landed #416 - if you get the chance, could you test to see if this addresses the bug you saw?  Thanks!

[2019-02-20 23:13] eric-with-a-c commented on #427
@ssteinbach before I jump in with answers to things you may not be asking, when you refer to a 'take' are you referring to each piece of media that's included inside the multicam clip?

[2019-02-21 00:53] ssteinbach commented on #427
Yup!  Sorry about that.  Thats exactly what I meant.

[2019-02-21 00:55] jminor commented on #427
Incidentally, I was just looking at how AAF handles this via their concept of a Selector. It is an object that has one or more "alternates" of which, zero or one is "selected". In the OTIO schema, this would be a subclass of Item, and a peer with Clip. We should compare this with how FCPXML models a multicam clip. Is it more like a sub-composition, or a special kind of clip?

[2019-02-21 23:58] eric-with-a-c commented on #427
For multicams in FCP X there are two pieces. The first is the multicam clip itself which is a container for  several pieces of media, both audio and video, each one being referred to as an angle (even if it's just audio). Each piece of media that make an angle typically have a different start and end time. The angles are synced/aligned using either timecode or audio. For syncing to work using audi

[2019-02-25 17:40] ssteinbach commented on #427
@eric-with-a-c when you say "So if you put the multicam clip on the timeline, and play through it, you can cut between the different angles." do you mean that the "active" clip is an animated parameter, or that the multicam clip behaves kind of like a nested track with cuts of clips inside of it?

Is the tcStart a time code in which the clip starts playing and the previous stops?  Can you have mul

[2019-02-25 17:43] ssteinbach commented on #407
I think this is going to change in the C++ based version.  @davidbaraff do you know how these enums from C++ are wrapped in python?

[2019-02-27 00:47] mikekoetter commented on #168
Hello all, I just pushed up a PR ( #434 ) to that does some work on the cmx_3600 adapter

Although this PR doesn't address much (if any) of the direct concerns mentioned here it does work to maintain the SOURCE_ID (reel) when round tripping an EDL

My thinking is if we are maintaining and storing the reel in the metadata one could easily add a hook to truncate/clean/substitute reel names or clip n

[2019-02-27 01:12] eric-with-a-c commented on #427
I would say that it's more like a nested track with cuts applied to it. That act of cutting between angles is very similar to switching between feeds of a live broadcast.

Yes, you could have multiple things playing at once. For example, you might be playing the video from one angle but the audio from another.

Just for posterity, here are the links to the Final Cut Pro X and Adobe Premiere Pro do

[2019-02-27 15:36] alatdneg commented on #384
Yep I'm seeing this in my timeline.

[2019-02-28 02:41] ssteinbach commented on #384
I think this might fix the issue, in case anyone else is seeing it.  It does change the simplifier, so you *might* get a different AAF out of it.

see: #435

[2019-02-28 10:03] alatdneg opened #436 "Can't remove clip from stack"
When removing a clip from it's parent using it's index number I get a KeyError, the key seems to be the clip object itself, not the index I passed.

[code]

[2019-02-28 10:27] alatdneg commented on #436
I think you _child_lookup is basically broke, if you add an item to it, any subsequent modification to the item will not be reflected. I think you're basically storing the baked string representation of the item at the point in time it's inserted.
[code]

[2019-02-28 10:47] alatdneg commented on #436
Ah your making you class hashable.. Hmm what is going on...         old = self._children[key]

[code]
somehow hashing old isn't matching the entry in self._child_lookup

[2019-02-28 11:00] alatdneg commented on #436
I'm removing a clip from a stack if that helps.

[2019-02-28 17:47] ssteinbach commented on #436
I'm having trouble reproducing this, can you make a simple example of the bug?

This works, for example:

[code]

Also, the `__hash__` function for everything other than the `opentime` classes should be the pointer, so modifying the clip after inserting it shouldn't change the `hash(cl)` value of the clip?  We made that change in #257 I think.  That said, if you insert the clip and then clone it,

[2019-02-28 18:01] alatdneg commented on #436
Hmm not sure, I've no idea how it's doing this, would the cloning apply to replacing source_range etc...

----- Original Message -----
From: "Stephan Steinbach" <notifications@github.com>
To: "PixarAnimationStudios/OpenTimelineIO" <OpenTimelineIO@noreply.github.com>
Cc: "Al Crate" <al@dneg.com>, "Author" <author@noreply.github.com>
Sent: Thursday, 28 February, 2019 17:47:15
Subject: Re: [PixarAnim

[2019-02-28 18:11] ssteinbach commented on #436
No, by clone I mean:
[code]

The deepcopy has returned a new object with a new pointer, so new hash.

[2019-02-28 18:18] alatdneg commented on #436
Don't think I do, but either way, the del function in the container shouldn't be able to throw the way it does.

I put a hack in the code to check the returned object exists in the set, before it tries removing it. But how it's managing to get in that state I've no idea.

----- Original Message -----
From: "Stephan Steinbach" <notifications@github.com>
To: "PixarAnimationStudios/OpenTimelineIO" <O

[2019-02-28 18:50] ssteinbach commented on #436
Ok!  I managed to trigger something that looks like this bug by assigning the stack with a slice, is that possibly what you are doing?

[code]

I'll fix this bug, but I'm wondering if you have something like that in your code.

[2019-02-28 18:55] simpassi commented on #427
One way to visualize how FCXP handles multicam is to think of it as a separate subtimeline, and what gets presented is a "window" that has a start and end, and between them both the video and audio playheads might jump between tracks in that subtimeline. This jumping is the animated parameter, which gets presented as a "cut" but it's not a hard cut from a clip to another as far as the main timelin

[2019-02-28 18:56] ssteinbach commented on #436
I'll make a PR for this, good catch!

[2019-02-28 19:07] ssteinbach commented on #436
@alatdneg can you try #437 and see if that addresses the issue?  I'm not sure if this is your exact case, but it produces the same trace back and was definitely a bug.

[2019-02-28 23:07] jminor commented on #427
Thanks, this is super helpful. It sounds to me like this needs to be an OTIO Composition - like Stack and Track, which can be nested within each other, rather than just a special Clip. That will allow any sort of sub-composition inside. As to how we encode the animated cuts... we'll have to think about that a bit.

I'd like to learn more about how AAF does this (and any other relevant format that

[2019-03-01 08:24] alatdneg commented on #436
Pretty sure I don't do that, but I'll try the patch and see if it helps.

----- Original Message -----
From: "Stephan Steinbach" <notifications@github.com>
To: "PixarAnimationStudios/OpenTimelineIO" <OpenTimelineIO@noreply.github.com>
Cc: "Al Crate" <al@dneg.com>, "Author" <author@noreply.github.com>
Sent: Thursday, 28 February, 2019 18:50:06
Subject: Re: [PixarAnimationStudios/OpenTimelineIO] Can

[2019-03-01 09:00] alatdneg commented on #436
Looks like that fixed the issue, I can now inject tracks into the bare clips in my aaf.

----- Original Message -----
From: "Stephan Steinbach" <notifications@github.com>
To: "PixarAnimationStudios/OpenTimelineIO" <OpenTimelineIO@noreply.github.com>
Cc: "Al Crate" <al@dneg.com>, "Mention" <mention@noreply.github.com>
Sent: Thursday, 28 February, 2019 19:08:03
Subject: Re: [PixarAnimationStudios/Op

[2019-03-01 09:03] alatdneg commented on #384
Still getting clips that aren't children of tracks, or is that valid ?

I could probably email you the otio file once I've stripped out anything show based.

----- Original Message -----
From: "Stephan Steinbach" <notifications@github.com>
To: "PixarAnimationStudios" <OpenTimelineIO@noreply.github.com>
Cc: "Al Crate" <al@dneg.com>, "Comment" <comment@noreply.github.com>
Sent: Thursday, 28 February

[2019-03-01 15:49] ssteinbach commented on #384
Can you send it with simplify=False also?  I want to see what the raw structure before simplification is.

[2019-03-01 16:13] ssteinbach commented on #436
The aaf adapter was doing it!

[2019-03-01 16:29] alatdneg commented on #384
Not simplified and simplified.

https://gist.github.com/alatdneg/9e06a2f3f716682fd5076ba59e2473c7
https://gist.github.com/alatdneg/c8318bee41ccde842771190048be35ac

----- Original Message -----
From: "Stephan Steinbach" <notifications@github.com>
To: "PixarAnimationStudios" <OpenTimelineIO@noreply.github.com>
Cc: "Al Crate" <al@dneg.com>, "Comment" <comment@noreply.github.com>
Sent: Friday, 1 Marc

[2019-03-01 16:29] alatdneg commented on #436
yeah I suspected as much.

----- Original Message -----
From: "Stephan Steinbach" <notifications@github.com>
To: "PixarAnimationStudios" <OpenTimelineIO@noreply.github.com>
Cc: "Al Crate" <al@dneg.com>, "Mention" <mention@noreply.github.com>
Sent: Friday, 1 March, 2019 16:14:01
Subject: Re: [PixarAnimationStudios/OpenTimelineIO] Can't remove clip from stack (#436)

The aaf adapter was doing it!

-

[2019-03-01 16:36] ssteinbach commented on #384
Awesome, thanks. I’ll take a look.

[2019-03-01 19:24] freesonluxo opened #438 "AAF Writer: Use supported otio values instead of relying on metadata"
We expect the otio values to be correct, but they're not. We use the values in metadata instead

[code]
[code]
[code]

[2019-03-01 19:25] freesonluxo commented on #438
@shahbazk8194 look into it

[2019-03-01 22:42] freesonluxo opened #439 "AAF Writer: Improve implementation to not require clip metadata"
Right now the AAF writer relies on SourceMobSlotID and SourceID and only supports existing clips in Avid. We would like to not rely on metadata for AAF writing

[2019-03-01 22:43] freesonluxo commented on #439
@shahbazk8194

[2019-03-05 00:01] freesonluxo opened #441 "AAF Writer: Support audio transitions"
Audio transitions are not supported (read: broken) in the AAF writer right now. Fix this.

[2019-03-05 00:01] freesonluxo opened #442 "AAF Writer: Support markers"
Comments / descriptive markers are not supported right now in the AAF writer.

[2019-03-05 00:02] freesonluxo opened #443 "AAF Writer: Up the code coverage with more robust testing"
The aaf writer tests are a little simple right now. Perhaps beef these up with negative tests and duplicate tests.

[2019-03-05 00:02] freesonluxo opened #444 "AAF Writer: Support nesting"
Nested components are not supported right now in AAF writer. This would be a new feature.

[2019-03-05 00:04] freesonluxo opened #445 "AAF Writer: Implement ability to actually import essence"

[2019-03-05 00:05] freesonluxo commented on #439
A possible solution would be - for AAF files that compose AAF files, we could read in the clip MobIDs from the AAF files as a prepass. Basically, we would cheat and look at the AAF files if they are there.

[2019-03-05 19:23] freesonluxo opened #446 "AAF Writer: Support other transitions besides cross dissolve"
Right now AAF writer only supports cross dissolves. Would like to support other transitions besides cross dissolves.

Refactor the aaf_transition() code as well to be more general!

[2019-03-06 00:42] freesonluxo opened #447 "Consider adding logging decorators"
Logging decorators are a fantastic way to have natural unobtrusive logging. Maybe we can incorporate this into the OpenTimelineIO project.

[2019-03-06 22:00] ssteinbach commented on #292
Addressed by #378 and #449

[2019-03-06 22:00] #292 closed

[2019-03-06 22:38] #436 closed

[2019-03-06 22:39] ssteinbach commented on #415
@jamesmclaren closing this!  let us know if you hit any other issues!

[2019-03-06 22:39] #415 closed

[2019-03-06 22:39] ssteinbach commented on #384
Addressed by #440

[2019-03-06 22:39] #384 closed

[2019-03-07 09:54] alatdneg opened #452 "AAF Writer missing from setup.py"
File opentimelineio_contrib/adapters/advanced_authoring_format.py", line 46, in <module>
    from opentimelineio_contrib.adapters.aaf_adapter import aaf_writer  # noqa: E402
ImportError: No module named aaf_adapter

[2019-03-07 09:56] alatdneg commented on #452
[code]

[2019-03-07 15:36] ssteinbach commented on #452
Good catch!  Thanks @alatdneg.

[2019-03-11 16:12] ssteinbach commented on #452
Should have been addressed by #453.  Just to double check -- what method were you using to install OTIO that you hit this?  `python setup.py install`?  `pip install OpenTimelineIO` seemed to still work when I was testing it.

[2019-03-11 17:28] ssteinbach commented on #441
See PR #454

[2019-03-12 21:00] apetrynet commented on #168
@ssteinbach I guess we can close this with #434 and #392 merged into master?

[2019-03-12 21:00] ssteinbach commented on #168
Yes ! I was hunting around for this issue.  Thanks!

[2019-03-12 21:00] #168 closed

[2019-03-13 19:40] #452 closed

[2019-03-13 19:41] ssteinbach commented on #441
Addressed by #454

[2019-03-13 19:41] #441 closed

[2019-03-25 22:46] andrewmoore-nz opened #464 "AAF reader hard coded to 24fps?"
The AAF adapter appears to currently be hard coded to read everything at 24fps.

Line 184 in `/opentimelineio_contrib/adapters/advanced_authoring_format.py`:

`def _transcribe(item, parent=None, editRate=24, masterMobs=None):`

When this function is called from within `read_from_file()` on lines 877 & 883, there is no editRate value passed in as an argument, so it defaults to 24.

The AAF I am tes

[2019-03-26 00:00] thecargocultnz commented on #464
I would add that if and when a default is needed for framerate, it should be some nonsense value like -1.

It's better that it completely blows up than return a seemingly complete sequence which is actually full of unseen issues.

[2019-03-26 00:22] jminor commented on #464
I'll take a look.

[2019-03-26 01:21] jminor commented on #464
Oops. Yeah, I can see that this is totally busted for non-24 fps AAFs. I see how to fix this.

[2019-03-26 01:39] andrewmoore-nz commented on #464
Great... that'll be super handy if it can pull in the correct editRate from the AAF itself.

On that note, I've been doing some testing today with AAFs coming out of DaVinci Resolve and they don't seem to be carrying the same metadata through in to the OTIO model i.e. there is no metadata object that comes with the track specifying the frame rate. Might there be somewhere else that this gets speci

[2019-03-26 17:26] reinecke commented on #334
The FCP XML adapter may be using sub-optimal parsing.
In the raw XML, 23.976 is specified as:
[code]

And the adapter parses it using this function:
[code]

This table from apple lays out some expectations: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/FinalCutPro_XML/FrameRate/FrameRate.html#//apple_ref/doc/uid/TP30001158-BCIHDFGD

But I think it's imperfec

[2019-03-26 20:31] jminor commented on #464
My fix #465 is almost ready.

For your other issue: Here is a simple idiom for finding the edit rate of a timeline: `edit_rate = timeline.duration().rate` Give that a try instead of peeking into AAF metadata and see if it works for you. If not, we can make some API to explicitly detect the edit rate.

[2019-03-26 21:21] andrewmoore-nz commented on #464
Great... I can pull that fix down to test with as soon as it's available.

Thanks for the tip. Once I've been able to pull the fix I can test that out with the Resolve AAFs to see what happens... I can't get too far at the moment because all of the AAFs are still specified as 24fps.

Our work around for the hard coded 24fps argument was to look at the metadata block for the correct edit rate, and

[2019-03-26 22:08] thecargocultnz commented on #334
Yes, that "0.999" is an approximation, and will definitely cause rounding issues and drift over time.
The only way to correctly calculate NSTC values is using *1000/1001 (or  the inverse).

[2019-03-27 00:20] andrewmoore-nz opened #468 "Clip rate conversion putting entire track out of sync"
In doing some testing with a small scale but real world project last week, I came across a specific issue with the way frame rates are parsed from XMLs, but also a more fundamental issue with how these small bugs can effect the entire system.

This project _(an FCP7 XML exported from a 29.97fps Premiere timeline)_ has two clips at the end of the timeline (on separate tracks) that were copied in fr

[2019-03-27 00:30] ssteinbach commented on #464
@andrewmoore-nz can you try it with #465 landed and see if that fixes your bug?  Thanks for reporting this!

[2019-03-27 00:37] andrewmoore-nz commented on #464
@ssteinbach Just pulled that commit and all seems to be working fine. Our test AAFs are reading at the correct frame rate - from both Premiere and Resolve.

[2019-03-27 00:39] ssteinbach commented on #468
I'm a little confused about this point:
```When this value is converted to 29.97fps, resulting in a value of 59.8801797602996404, this is rounded up to 60 in OTIO (or the conversion math is being over-simplified), when in Premiere it is clipped at 59, which is what is specified in the XML:```

What would be doing the rounding?  The way its being displayed in Otioview?  Or when it gets reserialized

[2019-03-27 00:39] jminor commented on #464
Yay!

[2019-03-27 00:39] #464 closed

[2019-03-27 00:52] reinecke commented on #468
In a similar case I was looking at recently, I found that OTIO was accurately translating the times from the FCP XML file, but working with those times (say to get a frame number in the right timebase) could manifest in issues similar to the one you're describing. Not sure if that is related to what you're seeing here.

I'd love to dig into this more and see if there isn't a way OTIO might be able

[2019-03-27 01:17] thecargocultnz commented on #468
OK, so there are 2 important points here:

1 - While "60 frames" is the correct result in the above example - that's irrelevant. Premiere is using 59 frames of the timeline for that clip. The XML is really clear about that, and an EDL of the sequence concurs. Instead of using the start/end times provided, OTIO is using the source clip length and rate and performing acrobatics with it.

2 - If the

[2019-03-27 03:22] andrewmoore-nz commented on #468
@ssteinbach A little clarification regarding the point that is confusing you:

Not actually the best example to use in this particular case, given that 48 frames @ 23.976fps is conceptually the same as 60 frames @ 29.97fps. The rounding that I'm referring to is possibly a small misunderstanding on my part as to what's happening behind the scenes having not looked specifically at the math that is b

[2019-03-27 20:05] andrewmoore-nz commented on #468
@jminor Here is a copy of the XML exported from Premiere where both of these examples have come from...

[OTIO_VaryingFrameRatesOnTimeline_SimpleTest3_190327.txt](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/3015079/OTIO_VaryingFrameRatesOnTimeline_SimpleTest3_190327.txt)

_(Have just changed the file ext to allow for uploading here... all content still the same.)_

[2019-03-27 21:52] andrewmoore-nz opened #470 "AAF Reader: Various errors on read attempts"
Just thought I'd start sharing some of the errors we're seeing when trying to read our test AAFs - some are real world projects, and some are files we've generated ourselves for testing, all from various platforms (Media Composer, Premiere, Final Cut Pro, Resolve). There are some AAFs that will read fine, but we are certainly seeing many that do not.

**'NoneType' object has no attribute 'name'**

[2019-03-27 21:58] jminor commented on #470
Yes, please provide some files we can test with. Ideally small ones we could add as unit tests.

[2019-03-27 22:03] jminor commented on #468
Thanks for the test file. It looks like my proposed fix #469 helps a little, but doesn't address the main issue here. I was able to read your sample into Resolve and output it as AAF for comparison. It looks like the timing via AAF is working right, and includes a timewarp effect to deal with mixing the two rates.

I'm not familiar enough with the FCP XML format myself to fix this - hey @reinecke

[2019-03-27 22:17] jminor commented on #468
FYI, here's the test file converted to AAF via Resolve for comparison.

[OTIO_VaryingFrameRatesOnTimeline_SimpleTest3_190327.aaf.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/3015446/OTIO_VaryingFrameRatesOnTimeline_SimpleTest3_190327.aaf.zip)

If you otiocat them both and the diff the resulting OTIO files you'll see something like this:
[code]

![Screen Shot 2019-03-27 at 3 1

[2019-03-27 22:20] jminor commented on #468
In the AAF adapter, we trust the Length value for each clip to be the correct computed duration for use in the resulting OTIO. If I'm reading the FCP adapter code correctly, it trusts the <in> and <out> values and subtracts them, where perhaps using the <start> and <end> would produce the correct result. Let me try that...

[2019-03-27 22:50] ssteinbach opened #471 "Remove `console` and `test_utils` from the top level `__init__`"
In particular, importing `console` means that `otioconvert` will call the `ActiveManifest()` during the import sequence which can cause problems in certain environments.  There is no reason we need to import these things during start up.  `ActiveManifest()` will trigger plugin modules to be loaded, which shouldn't happen until import is complete.

[2019-03-27 22:50] andrewmoore-nz commented on #470
Righto... here is an example AAF for each error I've described:

[OTIO_AAFErrors_Examples_190328.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/3015555/OTIO_AAFErrors_Examples_190328.zip)

[2019-03-27 22:55] jminor commented on #468
Okay, that seems to be working. #469 is updated and seems to produce the right result for this test file. I've broken transitions somehow though, so there is still work to be done here. @bashesenaxis can you show me how that works?

[2019-03-28 03:40] andrewmoore-nz commented on #398
@jminor Any progress made with this one?

Now that we can read our AAFs properly, I've been able to do some testing on some fairly heavy-duty audio AAFs from a recent film project. The one I'm looking at at the moment - reel eight of this project - doesn't carry any information regarding the start time i.e. no indication that the timeline should start at `08:00:00:00`.

Is this perhaps something t

[2019-03-28 22:23] thecargocultnz opened #474 "null characters from Avid AAFs"
Avid Media Composer AAFs are causing JSON strings with null characters (\u0000). This makes it tricky to parse for anyone downstream.
Is there some way to sanitise these while parsing?

For the record: this example was caused by using the "Time Compression Expansion" Audiosuite effect.

[TCETest_MC1.aaf.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/3020346/TCETest_MC1.aaf.zip)

[2019-03-29 19:36] jminor commented on #470
I have a fix for the non-ASCII names example (OTIO_AAFError_Ex4_ASCIIEncoding.aaf) See: #475
and I'm starting to look at the others.

[2019-03-30 00:14] jminor commented on #439
Addressed by #460

[2019-03-30 00:14] #439 closed

[2019-03-30 00:15] jminor commented on #438
Addressed by #460

[2019-03-30 00:15] #438 closed

[2019-04-01 22:13] jminor commented on #468
FYI, @reinecke is attempting a refactor of this code in order to address this.

[2019-04-01 23:01] ssteinbach commented on #471
Addressed by #472

[2019-04-02 18:17] reinecke commented on #468
Looking back at other FCP XML issues, this appears to be a duplicate of #287

[2019-04-02 23:51] reinecke opened #476 "OpenTime: Non-Drop-frame Timecode not supported at some rates"
Given the ground truth values for drop-frame timecode, non-drop timecode, and frame number at 29.97fps:
[code]

Converting the time corresponding to the frame count gives the correct Drop-Frame value:
[code]

Converting that same time, but forcing the rate arg to 30 give the correct non-drop value:
[code]

Converting from Drop-Frame timecode gives a value that matches frame count:
[code]

Converti

[2019-04-03 16:24] jminor commented on #236
Addressed by #460 and others.

[2019-04-03 16:24] #236 closed

[2019-04-03 16:25] jminor commented on #444
Addressed by #461

[2019-04-03 16:25] #444 closed

[2019-04-03 16:33] jminor commented on #443
Addressed by #460 and #461

[2019-04-03 16:33] #443 closed

[2019-04-03 17:03] #282 closed

[2019-04-03 17:04] ssteinbach commented on #282
Addressed by #457

[2019-04-03 17:05] #409 closed

[2019-04-04 22:24] jminor commented on #470
@andrewmoore-nz we just landed #475. Can you check that your non-ASCII examples are working better now? I'm still working through the other problems.

[2019-04-05 00:07] jminor commented on #398
Addressed by #478

[2019-04-05 01:03] jminor commented on #470
Two of the other problem AAFs are covered by this upstream PR: https://github.com/markreidvfx/pyaaf2/pull/35

[2019-04-05 04:03] andrewmoore-nz commented on #470
Just checked those AAFs that were failing due to the non-ascii characters and all seems to be playing nicely now... that's great.

As soon as that PyAAF PR is ready to test with I can try it out on our other test files ASAP. Will be excellent to get that stuff coming through. Thanks @jminor!

[2019-04-05 17:43] ssteinbach opened #480 "`global_start_time` is not a serializable_field"
This looks like an oversight.  This should be serialized.

[2019-04-08 05:15] andrewmoore-nz opened #481 "AAF Reader: TimeEffect on clip causing nested scope / potential structure issue?"
Investigating how motion effect information is coming through in the OTIO structure, I have just come across a few things that raise some questions on our end - possibly something that may be intentional; maybe something that hasn't been spotted yet.

As a baseline test, exporting an AAF from Premiere with a single clip on a single track with no motion effect applied gives us the OTIO structure we

[2019-04-08 05:56] andrewmoore-nz opened #482 "AAF Reader: Sequence with nested scopes unable to be reconstructed"
Now that we are able to process an AAF containing nested sequences and start analysing the resulting OTIO, I've come across this first issue, which is a pretty big one really.

The clip inside the sequence that has been exported simply has the following information:

[code]

There is clearly an issue, what with the name showing up as `"SourceClip Missing Mob?"` so worth looking in to what's happen

[2019-04-08 06:05] andrewmoore-nz commented on #470
This may already be covered in the fix for dealing with these issues but thought I'd chime in anyway to let you know what I came across.

I was able to get a `NotImplementedError: Sequence returned <class 'aaf2.components.Sequence'> not implemented` error when opening an AAF where all I had done was to simply give the clip in Premiere some data in the `Tapename` metadata field:

![Screen Shot 2019

[2019-04-08 06:27] andrewmoore-nz opened #483 "AAF/XML Reader: Clip enabled/disabled/muted flag?"
There currently seems to be no "status" flag that comes with a clip object to convey its state on the timeline regarding whether it is active, has been disabled, muted, etc...

I'm not sure how this is handled on the AAF side of things, but taking a quick look at the XML, there are the fields for each track and clip **<enabled></enabled>** that carry this information in a easily accessible place.

[2019-04-08 18:16] ssteinbach commented on #483
In the AAF adapter we turn muted clips into gaps and stuff the original objects into metadata so that we can round trip it, but we haven't taken a position on a "mute" attribute for OTIO.  Do Premiere and Media Composer handle 'muted' clips in the same way?

You can see what we did in AAF here: #335

[2019-04-08 21:30] andrewmoore-nz opened #484 "AAF Reader: File can no longer be parsed after #460"
Have just come across a file I'd been using for testing that was previously being parsed (mostly) correctly by OTIO but is now throwing an error:

**CannotComputeAvailableRangeError: No available_range set on media reference on clip**
[code]

Rolling back through the commits, as soon as I hit #462 I can then read the file correctly. Looks like it might be something to do with the change made to `/

[2019-04-08 22:19] wrosecrans opened #485 "XML writer not writing correct Timeline/Sequence names"
I am trying to write an FCP7 XML file with multiple sequences, but all the sequences get written with the name "tracks."

Here is a simple script to demonstrate:

[code]
Here is a snippet of the result XML, where I would expect the name tag to be "Episode 1" rather than "tracks"
`            <sequence id="sequence-1">
                <name>tracks</name>`

And here is the full output XML file:  htt

[2019-04-08 22:52] andrewmoore-nz commented on #483
Yeah, I soon realised that all of the GAP events I was seeing were actually the muted clips coming through in the AAF from Media Composer. I've got Media Composer on another machine here so am going to create a few more test files shortly.

The Premiere AAF I put together yesterday with muted clips is not being treated the same way (i.e. they are not coming through as Gap objects) so I would likel

[2019-04-08 22:59] ssteinbach commented on #483
If you have two tracks, each with one clip, lets say "A" and "B", and "A" is "above" "B" such that if you flattened the tracks all you would see is "A", and then you mute "A", does the same thing happen in both packages?  Do they both become transparent?

[2019-04-09 00:25] ssteinbach commented on #414
Addressed by #475

[2019-04-09 00:25] #414 closed

[2019-04-09 00:40] freesonluxo commented on #484
I can't quite tell...is this going from otio -> aaf or from aaf -> otio? I think I have seen this before, and it might be worthwhile regenerating the otio file, if it's otio -> aaf.

[2019-04-09 00:50] andrewmoore-nz commented on #484
This is reading an AAF generated from Media Composer in to OTIO. I actually had generated an OTIO version of this file a few weeks ago and had it there, which is what prompted me to question it in the first place.

[2019-04-09 06:11] andrewmoore-nz commented on #483
Yes, that is correct. If you have the one video clip on top of another in both Premiere and Media Composer, you can select "Mute Clips" in MC, or select/uncheck "Enable" in Premiere, and the top clip becomes transparent, showing the clip underneath.

Having just put together a test sequence in MC, I can confirm that "Muted" clips from a MC AAF come through in to OTIO as Gap objects, but "Disabled"

[2019-04-09 16:02] ssteinbach commented on #483
Based on this I would define it on `core.Item`, I think.  So _not_ on `schema.Timeline` or `schema.SerializableCollection`.

More questions for the group:

- For `top_clip_at_time`, does that take muted/unmuted into account or are muted clips still functionally opaque?
- Should `each_clip()` and `each_item()` have flags that allow them to ignore and filter out muted clips?
- Should transitions be

[2019-04-10 00:03] ssteinbach opened #487 "Update the OTIOView screen shot in the readme"
The OTIOView screenshot referenced by README.md is pretty old and missing a lot of the more recent features.  We should update it to the latest.

[2019-04-10 00:49] freesonluxo commented on #484
For the record, I think I just hit this myself and I'm actively looking into it. Thanks for filing this issue! (Saves me from filing one!)

[2019-04-12 21:58] ssteinbach commented on #476
@reinecke @apetrynet this has been landed, can we consider this issue 'closed'?

[2019-04-12 22:09] apetrynet commented on #476
I would assume so.

[2019-04-12 22:14] ssteinbach commented on #476
Thanks!  I've confirmed it.

[2019-04-12 22:14] #476 closed

[2019-04-15 17:00] ssteinbach opened #490 "CXX branch build failure in python3"

[2019-04-15 17:02] ssteinbach opened #491 "CXX branch coverage support"
Looks like we need to add some build system support for getting coverage working in our continuous integration system.  I think this is a question of making sure that .gcno files get generated by the build for gcov support + making sure that they don't get cleaned up.

[2019-04-18 20:16] reinecke opened #499 "FCP XML: Da Vinci resolve can't load files written by adapter"
Before or after PR #494, FCP XML written by otio can have issues loading in Da Vinci Resolve.

To Reproduce:
1. `otioconvert -i tests/sample_data/premiere_example.xml -o ~/premiere_example.otio.xml`
1. Select File->Import Timeline->Import AAF, EDL, XML...
1. select `premiere_example.otio.xml`

Loading the original `premiere_example.xml` works, the passthrough one does not.

[2019-04-19 16:39] jminor opened #501 "AAF Writer: Support timing effects"
Lets add support for FreezeFrame and LinearTimeWarp for starters.

[2019-04-19 22:43] #471 closed

[2019-04-19 22:45] ssteinbach commented on #382
See branch #495

[2019-04-19 22:49] ssteinbach commented on #279
see #451 and #456

[2019-04-19 22:49] #279 closed

[2019-04-19 22:50] #199 closed

[2019-04-19 22:51] jminor commented on #474
Specifically, if you read the provided AAF, you get this in the metadata:
` "AvidASPIPlugInName": "Time Compression Expansion\u0000\u0000\uf37e\u1029"`

[2019-04-19 23:10] jminor commented on #398
Fixed in #478

[2019-04-19 23:10] #398 closed

[2019-04-19 23:15] jminor commented on #474
This appears to be a bug in pyaaf2. @thecargocultnz would you like me to submit this bug to the upstream project?

[2019-04-22 22:42] thecargocultnz commented on #474
@jminor for ourselves we found a way to sanitise the data - but I'd say this would be worth fixing as it'll catch out a lot of people. So not urgent for us, but definitely a bug.

[2019-04-23 00:43] jminor commented on #474
I filed a pyaaf2 bug here: https://github.com/markreidvfx/pyaaf2/issues/49

[2019-04-26 21:30] jminor commented on #474
This is fixed in pyaaf2 now: https://github.com/markreidvfx/pyaaf2/commit/37de8c10d3c3495cc00c705eb6c5048bc4a7e51f

Next time there's a release of pyaaf2 we can update our dependency, but in the meantime you can pull the latest master of pyaaf2 to get this fix.

[2019-04-26 21:30] #474 closed

[2019-05-07 16:50] reinecke commented on #499
After #494, it seems simple EDLs are now working, but Resolve still crashes on the premiere example.

[2019-05-07 20:44] reinecke opened #514 "FCP XML: Support appropriate top-level objects beyond project"
Right now the FCP XML adapter writes out timeline objects under a project. The FCP XML spec designates you can actually have `project`, `bin`, `clip`, and `sequence` objects as top level.

Given the OTIO data model, the best analogues would be to switch on the object type passed to the adapter to write and map as follows:

1. `Timeline` -> `sequence`
1. `SerializableCollection` -> `bin`

I don't t

[2019-05-08 17:08] #485 closed

[2019-05-08 18:05] ssteinbach commented on #514
What is in the `Project` but not in a bin or sequence?  So far we've resisted having a 'Project' type object

[2019-05-08 18:07] ssteinbach commented on #499
@reinecke you can use the `--begin` and `--end` arguments to `otioconvert` to cut up the premiere example to pin down which clip is causing the crash

[2019-05-08 18:07] ssteinbach commented on #491
Addressed by #495

[2019-05-08 18:07] #491 closed

[2019-05-08 18:08] ssteinbach commented on #490
Fixed as of #492.  Still seeing occasional failures in python3.5, but we're deprecating support for that anyway.

[2019-05-08 18:08] #490 closed

[2019-05-08 18:10] ssteinbach opened #516 "Remove support for Python3.5 and add support for python3.7"
Given that the vfx platform is adopting python3.7 instead of 3.5, we will drop support for 3.5 and instead support 3.7.

http://vfxplatform.com/#footnote-python3

[2019-05-08 18:12] ssteinbach commented on #487
Addressed by #504

[2019-05-08 18:12] #487 closed

[2019-05-08 18:32] wrosecrans commented on #514
AFAICT, "Project" literally just has Children and a Name: (Where "Children" can just be Clips, Timelines, or Bins)
 :
https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/FinalCutPro_XML/Elements/Elements.html#//apple_ref/doc/uid/TP30001156-TPXREF104

It can probably be mostly ignored for OTIO schema sake, and treated as a Collection like a Bin that is at the top/r

[2019-05-08 18:35] ssteinbach commented on #514
That sounds like a `SerializableCollection`. Maybe both bins and projects could turn into that?

[2019-05-08 22:28] freesonluxo commented on #484
Hey Andrew. Can you try reproing this again with today's master?

If it still is erroring, I have a hunch of what's going on. It looks like that clip doesn't have an available range. #460 addressed incorrect lengths on clips and basically added a check during conversion to only save clip lengths on composition mob clips. That if-check might be restricting it from saving an available_range, which i

[2019-05-08 23:41] freesonluxo commented on #482
Confirming that I can repro this error.

I don't believe that this is related to nesting or having a nested scope. It looks like the raw AAF file itself has three clips in the CompositionMob that have no Mob. So, from that perspective, the code is doing the right thing - the three clips themselves have no Mob, so OTIO says so and moves on.

In fact, I tried opening this AAF file as-is in Avid and

[2019-05-09 16:54] ssteinbach commented on #367
For reference, Imath::Box has a `makeInfinite` method:
https://github.com/openexr/openexr/blob/0be3e8c3b4a89e22f61a8e03e2dedf223d4ef79d/IlmBase/Imath/ImathBox.h#L193

[2019-05-09 18:46] freesonluxo commented on #481
Can confirm that I can repro this.

Just to confirm, this is a problem with the structure of the generated OTIO right? So, the fix is just to get the structure right? (This is not, for example, a data loss or corruption problem?)

For context, what are the effects of the structure being wrong?

[2019-05-09 21:30] meshula commented on #367
and makeEmpty. Those were designed together with the box comparison algebra; i.e. all the operators should have the expected outcome when comparisons are made with other boxes.

[2019-05-09 21:32] ssteinbach commented on #367
Imath boxes are always 2d, right?   Imath doesn't encode ranges of a single dimensional number line?

[2019-05-09 21:45] meshula commented on #367
ImathInterval.h

[code]

It's API isn't fully consistent with box's.  i.e. it has makeEmpty but not makeInfinite. This more of an error of omission rather than a choice.

[2019-05-09 21:51] ssteinbach commented on #367
Ah, thanks!

[2019-05-09 23:42] jminor commented on #481
I think I see what is happening here. This is a flaw in our strategy for simplifying the AAF structure as we transcribe it into OTIO. We've had some push/pull with how aggressive the simplification is - and this appears to be another case of it being too aggressive.

If you want to see what's going on you can compare `otioview my.aaf` to `otioview my.aaf -a simplify=False` (or same for `otiocat`).

[2019-05-14 06:00] andrewmoore-nz commented on #482
Hey @freesonluxo,

Thanks very much for looking in to this. I've had some time to circle back around to some of this stuff again this afternoon and it's looking like you are in fact correct.

It is only AAFs from Premiere that contain nested sequences that I'm seeing this different structure and issue of a "SourceClip Missing Mob?" name.

Upon further inspection with Premiere, and staying only wit

[2019-05-14 06:16] andrewmoore-nz commented on #484
Hey @freesonluxo,

Have just tried this again using latest commit and still seeing the same issue.

Unfortunately I'm unable to send a copy of that AAF (or any other the other ones) where this issue is showing up. Best I can do is give you a copy of the OTIO code that is generated when parsed using the older commit for the same clip:

[code]

Currently, I'm having to roll back to that commit when

[2019-05-14 21:42] andrewmoore-nz commented on #470
Hey @jminor,

Finally had a chance (figured out how) to get your pull request and test and I can confirm that that has fixed two of those issues - the `Sequence` and `NestedScope` errors. Still seeing the `NoneType` error every now and then, but not nearly as often as the other two.

Would be good to get those changes merged in to the master branch when they're ready.

[2019-05-15 05:27] andrewmoore-nz commented on #481
Ah ha... okay, that's making more sense then. Thanks very much for the info, @jminor. I've been able to test the AAFs that are giving us the structural issues we have been seeing using the simplify=False flag.

This is actually a combination of two issues. This was initially prompted by the small test case of seeing how the different time effects are coming through in to OTIO. However, it was also

[2019-05-16 01:21] andrewmoore-nz commented on #398
Hey @jminor,

This is still an issue in AAFs coming from Premiere, as the `global_start_time` is simply coming through in the OTIO as `null`. The following AAF should start at 05:00:00:00, but the start time isn't recognized when using the latest OTIO PyAAF commits.

[FullTestSeq_v02_TimeshiftExport_5hours.aaf.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/3185013/FullTestSeq_v

[2019-05-16 01:23] andrewmoore-nz commented on #484
Can confirm that not a single one of our AAFs from Media Composer can be read by OTIO due to this error.

[2019-05-16 21:45] freesonluxo commented on #470
Hm. Strange. That line

advanced_authoring_format.py
[code]

is wrapped in a try-except. It should never be throwing an AttributeError. I know you pasted the error before, but can I see a traceback again? Is it an AttributeError?

[2019-05-17 22:59] ssteinbach commented on #482
Was media composer able to correctly read the AAF with that structure?