[2020-11-03 16:06] meshula commented on #829
The wikipedia article https://en.wikipedia.org/wiki/Tempo_map has a nice example of a tempo map.

Yes, an OTIO file currently represents a linear time domain. We are currently working on the next revision of OTIO, which formalizes time coordinate systems, and transformations between them. A tempo map can be explicitly represented in that formulation.

We would welcome you to join the discussion on

[2020-11-03 16:16] pauldavisthefirst commented on #829
I have spent many, many months working on the issues of representing musical and audio/wallclock time in the context of Ardour (https://ardour.org/). This work is still ongoing. It is incredibly challenging to do right and I regret I have no time or mental bandwidth to get involved in the discussion once more. I did leave a few notes on the fundamental problems here: https://ardour.org/timing.html

[2020-11-03 17:48] meshula commented on #829
Time computation is indeed complex and difficult to get right, one of the primary motivations of this project is to work through the issues, such that computations are transportable and reproducible between NLEs. I appreciate the notes you've left here for us, thanks!

[2020-11-03 17:54] jminor commented on #829
@pauldavisthefirst thanks for writing this, https://ardour.org/timing.html which clearly explains the difficulty encountered with loss of precision when round-tripping data through a function that requires snapping. Is it fair to say that the "superclock" approach is simply to use such a high clock rate that the loss due to snapping/rounding is minimized?

I don't have a musical background, but it

[2020-11-03 18:10] pauldavisthefirst commented on #829
I'm not familiar with how those sorts of video effects wouldd be implemented, but I suspect they are similar.

Musical tempo ramps are (almost) always exponential: humans perceive that as a smooth speed up ... imagine speeding up over 4 bars of music: you increase by 25% in the first bar, then another 25% in the next bar etc. But because the changes are "stacking" on each other, this creates an ex

[2020-11-03 18:10] pauldavisthefirst commented on #829
I'm not familiar with how those sorts of video effects wouldd be implemented, but I suspect they are similar.

Musical tempo ramps are (almost) always exponential: humans perceive that as a smooth speed up ... imagine speeding up over 4 bars of music: you increase by 25% in the first bar, then another 25% in the next bar etc. But because the changes are "stacking" on each other, this creates an ex

[2020-11-17 09:15] cds1503 commented on #830
It doesn't seem to be a simple NTSC eqauls True problem.
I also have the same issue. The problem occurs when there is an Effect:Time Remap.

[2020-11-23 20:53] tin2tin commented on #667
Unfortunately, the work on the wheel doesn't solve installing otio into the Bender python folder. Blender is run as admin and Cmake is installed - Windows 10:

[code]

[2020-11-24 00:35] Celeborn2BeAlive commented on #667
You are not installing the wheel here, you are installing `opentimelineio` directly and `pip` is trying to build a wheel out of the source distribution, since no wheel is provided for windows on pypi (https://pypi.org/project/OpenTimelineIO/#files).

Try with this pre-built wheel (otio v0.13.0): https://drive.google.com/file/d/1W74dDldQ1Y3SsdrWeWa2s6BNipKT4nSu/view?usp=sharing

Once downloaded in

[2020-11-24 07:34] tin2tin commented on #667
Thank you for sharing this. Sounds like it is just a matter of making it avalible for Windows users too on pypi? That would be so great!

Unfortunately, I'm getting an "This app can't run on your pc" error, but I guess it is because I'm on Intel and it is an AMD build?

[2020-11-25 10:52] tin2tin commented on #667
@Celeborn2BeAlive Is it possible for you to upload it to pypi? I know it is not the latest version, but it is still better than just getting an error, when trying to install as described in the otio readme.

Is otioview working in your wheel? From a command line I try `otioview "path_to_my_file\my_file.edl"`, but unsuccessfully?

[2020-11-26 15:38] donquibeats commented on #813
Firstly, really sorry it took me a month to even see these replies. I got pulled onto a different bit of the project and have only just looped round to this question.

I remain stuck in the same position as before though, in fact it's a little worse. I am trying to do AAF and XML exports from an Otio object, but in OTIO 0.11.0 it throws errors that don't get thrown by 0.13.0. However, I can't succ

[2020-11-28 02:20] Celeborn2BeAlive commented on #667
@tin2tin I don't have upload rights to do that, but @ssteinbach could do it I guess

[2020-12-02 19:44] ssteinbach opened #833 "OpentimelineIO subdirectory/package is installed twice into the install directory"
After installing

.
├── __init__.py
├── __init__.pyc
├── _opentime.so
├── _otio.so
├── adapters
│   └── ...
├── algorithms
│   └── ...
├── console
│   └── ...
├── core
│   └── ...
├── cxx-libs
│   └── ...
├── ...
├── `opentimelineio` <--- incorrect
│   └── ...
└── ...

23 directories, 251 files

[2020-12-07 22:54] reinecke commented on #666
In #667 @Celeborn2BeAlive has this script for windows wheel building: https://gist.github.com/Celeborn2BeAlive/f6a475e863726d767a6a0669c692e90e

This, along with the above instructions for Mac and Linux should be ported to GitHub actions.

[2020-12-08 01:16] meshula opened #835 "Split Swift bindings into otio-swift"
## Feature Request

Split Swift bindings into otio-swift

## Description

Create a new repo under ASWF for otio-swift and migrate the build there.

Modify the swift build so that it can find and bind to the correct OTIO dylibs.

Unresolved, where should the OTIO dylibs be found?

Does otio-swift match our resolved naming convention?

[2020-12-08 01:18] meshula opened #836 "Split C bindings into otio-c"
## Feature Request

Split C bindings into otio-c

## Description

Create a new repo at ASWF named otio-c and put the C bindings there.

What is our resolved binding name convention? cotio? otio-c?

[2020-12-09 02:22] #736 closed

[2020-12-09 10:57] donquibeats opened #838 "Python usage of OTIO stops working in PyInstaller bundled packages"
### Build Problem

In an application that (among other things) uses OTIO to generate AAF and FCP XML files, everything works as expected in the Windows & PyCharm development environment, or running the Python scripts directly.

When the application is bundled using PyInstaller for distribution to other users, calls to OTIO functions throw errors.

## To Reproduce

OS: Windows 10, Python: 3.7

PyIn

[2020-12-09 11:10] donquibeats opened #839 "FCP XML outputs not recognised by Resolve 17"
## Feature Request & Description

When creating an FCP XML file by calling `otio.adapters.write_to_file()`, the default output does _not_ include a format structure (within `<project><children><media>`).

Because this `<format>` is absent, DaVinci Resolve won't load the XML file as a valid timeline. No errors are thrown, but no timeline appears in Resolve.

Transplanting a format tag from a differ

[2020-12-09 11:12] donquibeats commented on #839
[FCPXML_formatTagExample_9Dec20.txt](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/5665459/FCPXML_formatTagExample_9Dec20.txt)

This attachment is an example of the <format> section of the XML file, that I had to copy into the OTIO-generated XML file in order to make Resolve recognise it.

[2020-12-09 11:41] donquibeats commented on #813
Just to update, I have logged a new issue #838 for the problem I was having as it now seems quite different to the original point of this issue #813

[2020-12-09 15:16] splidje opened #840 "Adobe Premiere project adapter (.prproj)"
I'm creating this in order to mention I've begun working on an Adobe Premiere project adapter:

https://github.com/splidje/OpenTimelineIO/tree/adobe_premiere_project_adapter

[2020-12-09 20:44] reinecke commented on #840
Hi @splidje, thank you for getting involved!

I'm curious what guide you have for parsing the project file format, is there something akin to the specification [Apple publishes for the FCP file format](https://developer.apple.com/library/archive/documentation/FinalCutProX/Reference/FinalCutProXXMLFormat/Introduction/Introduction.html#:~:text=With%20the%20Final%20Cut%20Pro,Final%20Cut%20Pro%20X%201

[2020-12-09 21:04] reinecke commented on #830
I think we'd need an example FCP xml file to validate what's happening with the time warp, but I do have evidence of the wrong start offset coming through when using NTSC rates.
For example, I have a `clipitem` with these fields (only relevant timing fields included):
[code]

And the `file` element under that `clipitem` has these fields (only relevant timing fields included):
[code]

`source_range

[2020-12-10 10:11] splidje commented on #840
Hi @reinecke, thanks for your reply.

I've so far just been reverse engineering the format. The use case would be situations where you want to automate something based on an edit made in Premiere, but have no access to Premiere - perhaps a machine without a UI.

I'll go the route you've mentioned above and create an adapter plugin package.

[2020-12-10 10:27] splidje commented on #840
Is there some kind of naming convention? Does otio-premiereproject work as a name?

[2020-12-10 11:00] splidje commented on #840
OK, here 'tis:
https://github.com/splidje/otio-premiereproject

[2020-12-10 11:13] splidje opened #841 "otioview doesn't seem to alter clip length due to a TimeWarp effect"
adding this is a bug rather than a feature, as if I have a clip on a track which is e.g. slowed to half speed, then the rest of the track in otioview will be out of sync.

[2020-12-10 19:21] reinecke commented on #840
@splidje That's great! Please keep us updated on your progress. We'll be sure to send interested parties your direction when they ask about `.prproj` support!

Please feel free to contact us either on our [mailing list](https://lists.aswf.io/g/otio-discussion) or on the [slack channel](https://academysoftwarefdn.slack.com/archives/C019PV5UKGW) (you'll need to join the [ASWF Slack](https://slack.as

[2020-12-10 19:21] #840 closed

[2020-12-10 19:43] reinecke commented on #840
@splidje Please feel free to tell me if you're not looking for feedback at this time, but I was taking a quick look at your adapter code and noticed you have `254016000000` hard coded in a lot of places. For those reading your code that are unfamiliar with Premiere's internal model (and so you don't have to copy/paste the number as much), it might be useful to create a constant at the top of the f

[2020-12-10 19:54] reinecke commented on #759
Fixed by #795.

Validated using the above test code with git revision `44f8ce8e0d39cf5f4a7aa2d45879655810a8a56a` and got this result:

`ValueError: Frame rate mismatch.  Timecode '01:00:01:24' has frames beyond 23`

[2020-12-10 19:54] #759 closed

[2020-12-10 20:13] hisergiorojas commented on #758
@ssteinbach I would like to help with setting up OTIO new website..

[2020-12-10 23:05] reinecke commented on #830
One other interesting observation:
I took the same EDL I got the fields above from, imported to premiere, then re-exported to FCP XML. The exported version includes the `<ntsc>TRUE</ntsc>` element in the `timecode` rate.

@msheby Which app did your original XML file come from? FCP 7 or Premiere?

[2020-12-11 01:19] reinecke commented on #830
@msheby If you get a chance, could you pull down #843 and see if your issue is addressed?

[2020-12-11 13:18] vvzen opened #844 "OTIO Version numbers as integers"
## Feature Request

OTIO major, minor, bugfix version numbers exposed as integers on the `otio` module

## Description

Hi!
I'm writing some functionality to "translate" a Hiero sequence into a OpenTimelineIO Timeline, based also on this PR:  https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/284 (which I was thinking of contributing to at some point)

Currently in our studio we're on `0

[2020-12-11 20:22] meshula commented on #844
If you'd like to experiment, the version info is baked by setup.py. Look for METADATA_TEMPLATE, and you'll see how it works.

[2020-12-11 22:13] davidbaraff opened #845 "OpenTimelineio should support Swift Package Manager (SPM)"
## Feature Request

This is a new feature

## Description

We should be able to build the C++ libraries (and later the Swift bindings) via SPM.

[2020-12-14 05:24] davidbaraff opened #847 "cycles in SerializableObjects cause crashes"
## Bug Report

If C++ OTIO is compiled with INSTANCING_SUPPORT then cyclic references are handled fine.  Without it, however, the following code causes a crash:

[code]

However, we need to distinguish the above with the following, which needs to remain legal:
[code]

That is, during serialization, the object `soA` will be encountered more than once, yet this should not yield an error (because it

[2020-12-15 23:52] reinecke commented on #839
This sounds a lot like #499 has been long standing but I think it's slightly different. Would you be able to provide a sample OTIO that exports broken, but works with the added `format` XML?

[2020-12-16 10:03] donquibeats commented on #766
[Tests-2020-12-16.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/5701808/Tests-2020-12-16.zip)

I am still able to reproduce this error in DaVinci Resolve 17.0B build 13.

The above attachment contains an example AAF (and equivalent FCP XML and OTIO). The AAF file imports fine into Premiere but not Resolve, giving the error message described above.

[2020-12-16 10:13] donquibeats commented on #839
[Tests-2020-12-16 for Resolve FCP XML issue.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/5701861/Tests-2020-12-16.for.Resolve.FCP.XML.issue.zip)

Sure. Attached is a zip file containing 2 XML's and the equivalent OTIO.

The XML marked 'original' is what comes straight out of OTIO's adapters.write_to_file(). Resolve, instead of reading it correctly, treats the entire timeline

[2020-12-16 12:26] splidje commented on #840
Hello! I always welcome feedback, thanks for taking a look.

Totally agree about the hard-coded value. I think I was in my brute-force mode attempting to see if I could make sense of the format.

I've added the constant and created functions for the conversion. Also, it's adding the raw values to the metadata now too.

All in this commit:
https://github.com/splidje/otio-premiereproject/commit/18db

[2020-12-16 14:27] donquibeats commented on #838
With the help of Igor Riđanović, I have been able to make changes to the PyInstaller .spec file which allow a compiled application to call AAF exports successfully.

In the Analysis() part of the spec file, when feeding additional data files via the datas= parameter, these extra additions made a big difference:

`('..\\venv\\Lib\\site-packages\\opentimelineio_contrib', 'opentimelineio_contrib'),

[2020-12-16 14:27] #838 closed

[2020-12-16 14:28] donquibeats commented on #838
The above example for datas= was for Windows, here's my Mac version:

`('../venv/lib/python3.7/site-packages/opentimelineio_contrib', 'opentimelineio_contrib'),
               ('../venv/lib/python3.7/site-packages/opentimelineio', 'opentimelineio')`

[2020-12-16 14:32] donquibeats commented on #813
With help, I found a fix/workaround for the issue that I spun off as #838

Apologies for hijacking this similar issue to start with.

I don't know whether the original problem of this issue #813 is still outstanding for other people?

[2020-12-18 05:06] davidbaraff opened #851 "Timeline::set_tracks(nullptr) lead"
## Bug Report

Passing null to Timeline::set_tracks() leads the C++ state in a bad way: there's an implicit assumption that _tracks is always a valid pointer.  If null is passed, we should create it like the constructor and just create a new empty stack, exactly as the constructor does.

## To Reproduce

In Python:
import opentimelineio as otio
t = otio.schema.Timeline()
t.tracks = None
t.audio_tr

[2020-12-21 15:06] neilpercy commented on #770
Thanks for the really useful info, I'm very close to getting this working but failing at the last hurdle.

I followed @maptz 's guide and (eventually) got python and pip installed (thank you!), but then the fun started....

KDEnlive complained it couldn't find "python**3**" executable when I tried to export a timeline - after a bit of digging I renamed the freshly installed python.exe  (3.7.9) to

[2020-12-21 15:45] ssteinbach commented on #770
With the heavy caveat that I'm not familiar with KDEnlive, and haven't tried the guide referenced above:

`pip list | grep OpenTimelineIO`

should list OTIO.

Then, from python, check:

`import opentimelineio as otio`

Finally, check to see that FCPXML is in the list of adapters:

`'xml' in otio.adapters.suffixes_with_defined_adapters()`

(should return `True`)

[2020-12-21 22:37] meshula commented on #770
@ssteinbach I'm noticing the following in my Windows install. Is this indicative of an error in the generated manifest?

[code]

[2020-12-23 21:19] neilpercy commented on #770
me saying mpatz's **_'guide'_** is probably a bit misleading - its the instructions two post above mine:-

Just so we're on the same page - this is for a **Windows 10** install:-  I'm presuming GREP is Linux only ???
(unless it can be used in one of the development tools, VS2019 ??)

thanks for the help,

neil

[2021-01-05 21:04] reinecke opened #855 "Gather use cases for color metadata in OTIO."
Compile a set of user stories for specific use cases for color information modeled in otio.

Example:
- As an assistant editor I'd like CDL transforms to come into my NLE so that I can pass them along to VFX vendors

[2021-01-05 21:07] reinecke opened #856 "Survey references for how other systems model color pipelines."
We should look at what people are currently doing to model color existing DCCs and their pipelines and assess strengths/weaknesses of these approaches.

Examples from USD:
- [USD Attribute Color Space API](https://graphics.pixar.com/usd/docs/api/class_usd_attribute.html#Usd_AttributeColorSpaceAPI)
- [USD stage Color Configuration API](https://graphics.pixar.com/usd/docs/api/class_usd_stage.html)

[2021-01-06 00:01] reinecke opened #857 "Model color space expression in OTIO (e.x. Rec. 709, ACES Linear, Rec. 2020, etc.)"
In image pipelines it can be useful to know the intended colorspace of a timeline as well as the media composed into that timeline when trying to either re-create a "look" or find out what someone earlier in the pipeline may have been using in their work context (often to try and locate mismatches).
OTIO should have a way to describe colorspaces used in certain contexts.

[2021-01-06 00:06] reinecke opened #858 "Implement color spaces and transforms in the OTIO schema"
#170 and #857 define how color transforms and color space are expressed in OTIO. Those definitions should be used to express color information within a timeline.

Some things that we may chose to communicate:
- The Color Space of a piece of media an editor used when building a timeline
- The color space used for a timeline in an NLE
- CDL transforms attached to clips in an EDL
- Per-clip LUTs appl

[2021-01-08 00:08] IgorRidanovic commented on #855
I’m writing a contrib adapter for [Colourlab Ai](https://www.colourlab.ai/). Our software provides automated color matching of multiple shots to a reference shot.

Colourlab Ai is generally used in combination with another NLE. For example, a user can “fetch” a DaVinci Resolve Studio timeline into Colourlab Ai, perform color matching, and then “sync” the grade with the Resolve timeline. The user c

[2021-01-08 10:08] Tilix4 commented on #813
This will be closed by #837!

Thanks to @meshula

[2021-01-08 19:36] jminor opened #860 "MIME Type and UTI?"
We should clarify the MIME Type and UTI that are appropriate for OTIO files.

Currently our documentation says:
[code]

What is the right MIME / UTI to use? Is this something we need to register with a standards body?

[2021-01-08 21:19] meshula commented on #860
It makes sense to register a mime type, although a generic binding to json is confusing, in the same way the binding to xml or txt might be. I'd recommend adopting .otio instead, in order that applications can filter directory views, and desktop environments like Apple's Finder can display an OTIO icon. As to the UTI, com.pixar.opentimelineio makes sense as these are usually bound to the originato

[2021-01-10 07:40] hisergiorojas commented on #573
@ssteinbach I want to work on this issue.

[2021-01-11 20:06] jminor commented on #573
Thanks @hisergiorojas - we got your signed CLA. If you want to work on this issue, feel free to submit a pull request for review.

[2021-01-12 22:33] reinecke opened #864 "opentimeline.io must be https"

[2021-01-12 22:42] reinecke commented on #864
Decided to address under the umbrella of #748

[2021-01-12 22:42] #864 closed

[2021-01-16 06:52] tin2tin opened #866 "Existing ProTools parser project"
Came across this project which parses ProTools projects: https://github.com/zamaudio/ptformat
Posting a link here as it may come in handy at some point.

[2021-01-18 12:55] vvzen commented on #844
Closing as per discussion on the Slack channel. The official way to do that is described here in the wiki: https://wiki.aswf.io/display/HOME/Python+Package+Versioning

[2021-01-18 12:55] #844 closed

[2021-01-20 15:11] vvzen commented on #806
Hi all,
I'm having the same issue here, with a different file (I'll check if I can share it and I'll update the comment eventually).
I don't think it's coming from OTIO, it seems to be caused by the aaf2 module.

Here's the full traceback, for reference:
[code]

[2021-01-20 18:56] ssteinbach opened #870 "Python docstrings without *args, **kwargs"
## Bug Report

### Incorrect Functionality and General Questions

In the python docstrings, as noted in the discussion for this PR:
https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/789

`*args, **kwargs` is visible rather than the specific arguments to the functions.  This makes it significantly more difficult to use the documentation as a _discovery_ mechanism for understanding the AP

[2021-01-20 22:19] #573 closed

[2021-01-21 22:31] ssteinbach commented on #833
Addressed by #764

[2021-01-21 22:31] #833 closed

[2021-01-21 22:34] ssteinbach opened #872 "include semantic versions in the built C++ library names"
currently they include the python info but not the version info:  `_opentime.cpython-38-darwin.so`

[2021-01-21 23:26] meshula commented on #872
Notes here on "doing it right." https://github.com/pvanhoof/dir-examples

[2021-01-22 04:32] hisergiorojas commented on #708
@jminor I want to work on this issue.

[2021-02-02 00:07] reinecke opened #876 "FCP 7 XML: Time Remaps result in incorrect OTIO Frame range"
This github issue is capturing info from a slack thread: https://academysoftwarefdn.slack.com/archives/CMQ9J4BQC/p1605578837228200

### Incorrect Functionality and General Questions

The original TC information is properly contained in xml, but TC is expressed differently in OTIO View. This seems to be caused by a Time Remap.

## To Reproduce

See attached example files: [fcp_xml.tar.gz](https://g

[2021-02-02 01:12] cds1503 commented on #876
I kept trying to figure out how to calculate for that issue.
First, due to the NTSC option, rescale to 23.976 -> 24 before proceeding (startTime),
As for the duration, the value is normal, so I only changed the fps.
Then, when there was a Time Remap, I read the metadata and calculated it in various ways.
Mainly, the speedfkin and speedfkout values in the graphicdict are calculated as retimed TC IN

[2021-02-02 01:37] cds1503 commented on #876
Second, xml is also xml, but fcp_xml is not read, so fcp_xml is converted to xml and used.
So, I wonder if there is a problem in the process of converting.

[2021-02-02 18:06] jminor commented on #756
@ldsxp with the recent build changes in OTIO, can you try again to see if you can switch to the latest instead of using the old pure python branch?

[2021-02-03 06:09] ldsxp commented on #756
Next time I update, I will try again. I tried several times but failed to install

[2021-02-05 18:55] reinecke commented on #856
The ACES Metadata file moves some color information (S-2019-001):
https://www.oscars.org/science-technology/aces/aces-documentation

[2021-02-09 10:56] Simran-B opened #881 "/std:c++11 is not a valid MSVC compiler flag"
## Bug Report

### Build Problem

The root `CMakeLists.txt` tries to set C++11 as standard for pybind11:

[code]

However, MSVC does not support this argument:

`cl : Command line warning D9002: ignoring unknown option "/std:c++11"`

https://docs.microsoft.com/en-us/cpp/build/reference/std-specify-language-standard-version?view=msvc-160

Beware: `/std:c11` sets C11 as standard, not C++11!

## To R

[2021-02-10 21:48] meshula commented on #881
Confirmed the issue, it's a warning not an error, which is why it's not being flagged by the CI. It seems like everything builds fine, so perhaps the best answer is to simply delete the line.

[2021-02-11 17:15] apetrynet commented on #267
Closing ticket.
Adapter released as plugin available through [pypi](https://pypi.org/project/otio-mlt-adapter/)

[2021-02-11 17:15] #267 closed

[2021-02-12 06:51] peachey opened #884 "Large positive integers in OTIO JSON file misinterpreted as negative"
## Bug Report
### Incorrect Functionality

A positive integer value greater than 2**31 - 1 in an OTIO JSON file will be read incorrectly by `opentimelineio.adapters.read_from_file` and may be misrepresented as a negative value due to 32-bit integer overflow.

## To Reproduce

Run this python script:

[code]
using the input JSON OTIO file `test_input.otio` which is as follows:

[code]
Then `diff te

[2021-02-12 20:39] meshula commented on #884
That's a good catch . Since (unsigned, int, long, etc) vary between machines and architectures, I think it would be reasonable to store uint64_t for UInt, _always_. It's fishy to me that we are storing a Uint in an int in the first place. Does anyone recall if there was a principled reason to to use int in the first place?

[2021-02-12 20:47] jminor commented on #884
I don't think the memory size of this will be limiting, so 64-bits seems fine, but surely OTIO needs to support signed integers, not just unsigned.

[2021-02-12 21:19] peachey commented on #884
I believe that if a signed int is seen by the rapidJSON reader it would call the Int (or Int64 if magnitude large enough) routine rather than the Uint routine, so signed integers would be fully supported in any case.  I did already test the unconditional use of uint64_t for the Uint routine and that worked fine, but I thought it might be worth saving memory by doing the test on the value.  Perhaps

[2021-02-12 21:21] meshula commented on #884
Are we using json-schema, and specifying that some attributes have a "minimum" property of zero? If no, I do wonder how we wind up in Uint in the first place, since json itself doesn't know about unsigned integers.

If I'm not mistaken, int types wind up coerced into the storage_union which is big enough for two pointers. So going with 64 bits across the board is going to fine on 32 and 64 bit arc

[2021-02-16 19:39] ssteinbach opened #885 "setup.py/pip --prefix argument not handled properly"
## Bug Report

### Build Problem

The `setup.py`/`cmake` system incorrectly handles the `pip` / `setup.py` argument `--prefix`.

## To Reproduce

Either run `setup.py install` with `--prefix` or `python -m pip opentimelineio --prefix`.  For example:

`rm -rf /var/tmp/test_otio/* ; python -m pip install path/to/opentimelineio --ignore-installed -vvv`

The C++ shared libraries and headers will be mi

[2021-02-17 17:37] Tilix4 commented on #813
@meshula Re-opening this discussion.

Doing `python -m pip install git+https://github.com/PixarAnimationStudios/OpenTimelineIO.git` on Windows now gives me:

[code]

Full message in:
[otio_bug_windows_log.txt](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/5997512/otio_bug_windows_log.txt)

[2021-02-17 18:13] meshula commented on #813
More info: I see in your log that pybind11 is failing to find Python...

[code]

[2021-02-17 18:18] Tilix4 commented on #813
I also tested with: https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/886

I get the same error.

[2021-02-17 18:19] Tilix4 commented on #813
But two lines above it says `-- Found PythonInterp: E:/Logiciels/Stax/Dev/blender-2.92.0-c13754e6475e-windows64/2.92/python/bin/python.exe`, this isn't related?

[2021-02-17 18:29] meshula commented on #813
yes, that's related. It's Python's libs it didn't find

[2021-02-17 18:46] meshula commented on #813
[code]
yields
[code]

There must be something different about where the Python libraries are located for Blender. Do you know where they are?

[2021-02-17 18:50] #885 closed

[2021-02-18 01:21] meshula commented on #845
Note, this means building the C++ libraries specifically, in this repo, as opposed to building the C++ libraries in the swift bindings repo, which already happens.

[2021-02-18 01:22] meshula commented on #836
The new repo exists now.

[2021-02-18 01:22] #836 closed

[2021-02-18 01:26] meshula commented on #781
https://github.com/OpenTimelineIO/OpenTimelineIO-C-Bindings/issues/2

[2021-02-18 01:26] #781 closed

[2021-02-18 01:27] meshula commented on #780
https://github.com/OpenTimelineIO/OpenTimelineIO-C-Bindings/issues/3

[2021-02-18 01:27] #780 closed

[2021-02-18 01:28] meshula commented on #779
https://github.com/OpenTimelineIO/OpenTimelineIO-C-Bindings/issues/4

[2021-02-18 01:28] #779 closed

[2021-02-18 01:29] meshula commented on #778
https://github.com/OpenTimelineIO/OpenTimelineIO-C-Bindings/issues/5

[2021-02-18 01:29] #778 closed

[2021-02-18 01:30] meshula commented on #777
https://github.com/OpenTimelineIO/OpenTimelineIO-C-Bindings/issues/6

[2021-02-18 01:30] #777 closed

[2021-02-18 01:31] meshula commented on #776
https://github.com/OpenTimelineIO/OpenTimelineIO-C-Bindings/issues/7

[2021-02-18 01:31] #776 closed

[2021-02-18 01:32] meshula commented on #775
https://github.com/OpenTimelineIO/OpenTimelineIO-C-Bindings/issues/8

[2021-02-18 01:32] #775 closed

[2021-02-18 01:38] meshula commented on #574
@ssteinbach have we hidden demangled_type_name, or is this still an issue?

[2021-02-18 02:04] meshula commented on #813
Following the instructions on the blender website, I see the libraries land in

c:\blender-git\lib\win64-vc15\python\37\libs and 39\libs

to make this work, there probably needs to be a way to pass an argument to pip to tell it where this directory is, and then pass the location from pip to cmake, such that find_package(Python) can subsequently discover the libraries.

We are working through enabl

[2021-02-18 02:12] meshula commented on #813
Further reference: Installing into Blender is documented in @Tilix4 's project: https://gitlab.com/Tilix4/vse-io

[2021-02-18 05:06] davidbaraff commented on #845
FYI, there are some issues with the Readme.md and Examples subdirectories.
I have fixed them up here:

https://github.com/davidbaraff/OpenTimelineIO-Swift-Bindings.git <https://github.com/davidbaraff/OpenTimelineIO-Swift-Bindings.git>. (branch fixup)

I will submit this as a PR, except that if we do
$ swift build
$ swift test

it fails trying to get to the tests which needs to read in a datafile f

[2021-02-18 07:55] Tilix4 commented on #813
There isn't any way to tell CMake to take the current running python? Because I've launched pip using the Blender's internal python, CMake doesn't handle any reference to it?
Or maybe am I totally misunderstanding the issue...

Actually I wrote this before testing it, and I raised the issue after my tests. Then this is not a way to make it work...

[2021-02-18 18:08] meshula commented on #813
CMake is properly finding the runtime components. It isn't finding the python.lib for linking with C++. That's the failure. Blender puts the python linking libraries in a different place than the CMake Python find script expects. That's why I'm saying we would need to tell CMake where the Blender build puts the linking library in particular. The rest is fine.

[2021-02-18 18:54] jmertic commented on #815
Here is a template of the charter with the relevant changes specific to this community included for the TSC to review...

https://github.com/AcademySoftwareFoundation/foundation/pull/5

[2021-02-18 22:53] ssteinbach commented on #835
This is done here: https://github.com/OpenTimelineIO/OpenTimelineIO-Swift-Bindings

[2021-02-18 22:53] #835 closed

[2021-02-18 22:56] ssteinbach commented on #828
It looks like 3.9.1 is released:
https://www.python.org/downloads/release/python-391/

I'm not sure about how the python_requires works, but I know we do some manual checks at the top of the `setup.py` to guard against ancient pip/setuptools versions.

[2021-02-19 01:32] meshula commented on #881
Fixed! Thanks for the report

[2021-02-19 01:32] #881 closed

[2021-02-19 03:21] ssteinbach commented on #828
Note that there are a bunch of build warnings we'll need to tackle in 3.9:

[code]

[2021-02-19 06:34] meshula commented on #828
That looks like motivation to get pybind11 updated

[2021-02-19 06:36] ssteinbach commented on #828
yeah, hoping that addresses this issue.  Note that pybind11 is also seeing some weird CI failure: #874

[2021-02-19 21:05] reinecke opened #890 "ImageSequenceReference: If target_url_base is empty string, target_url_for_image_number raises IndexError"
### Incorrect Functionality

It is sometimes useful to generate a base file name for an image without the full URL path leading up to the file name. One would expect to be able to set `target_url_base` to an empty string (the default value) to achieve this. However it does not work as expected:

[code]

Results in:
[code]

If we set `target_url_base` to an string of any length greater than zero, t

[2021-02-20 19:26] #890 closed

[2021-02-23 03:32] ssteinbach commented on #333
closed by #873

[2021-02-23 03:32] #333 closed

[2021-02-25 00:24] JoshBurnell opened #895 "Transition duration incorrect in CMX 3600"
Hey, guys,

The [cmx_3600.py](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/src/py-opentimelineio/opentimelineio/adapters/cmx_3600.py) adapter appears to use a duration for Transitions that doesn't conform to the CMX 3600 spec.

According to [this spec](https://xmil.biz/EDL-X/CMX3600.pdf) (Page 30), the duration is stored in a "RATE" field.

[This guide](http://www.edlmax.com

[2021-02-26 02:59] ssteinbach commented on #772
closed by #882

[2021-02-26 02:59] #772 closed

[2021-02-27 13:09] Viraj-Rana008 commented on #704
I would like to contribute to this issue.

[2021-02-27 19:40] meshula commented on #704
The bindings, written in C++, are in src/py-opentimelineio.

[2021-03-03 07:47] cds1503 opened #903 "FCPX_XML Rate Issue"
This github issue is capturing info from a slack thread: https://academysoftwarefdn.slack.com/archives/CMQ9J4BQC/p1614651960098600

if you look at 370 lines of fcpx_xml adapter based on the current Master Branch, the rate is transformed into an integer as “int(float(rate) / float(total))“. If then the rate is 23.98 or 29.98, it comes out as 23.98->23 29.98->29.

[2021-03-03 07:48] cds1503 commented on #903
@eric-with-a-c

[2021-03-03 21:35] #884 closed

[2021-03-04 00:24] reinecke opened #904 "Clarify the form and constraints of target_url"
OTIO has long used `target_url` as a way to refer to assets referenced by a timeline (such as media files). However the ruleset for how these URLs are formatted has been "wild west" since the fields to store them are strings.

We should explicitly specify how these urls are formatted. Considerations include:

- Convention about URL scheme formatting
- Clarifications and examples for the most commo

[2021-03-04 00:38] meshula commented on #904
I think we should probably follow something like this:

https://restfuljson.org

In a nutshell, string encoding and escaping per: https://tools.ietf.org/html/rfc7159
URL encoding per: https://tools.ietf.org/html/rfc3986

Additional meta-data associated with the media referred to by the URL are specified by https://tools.ietf.org/html/rfc6906

[2021-03-04 02:31] ssteinbach commented on #904
I think in addition to specifying the constraints, we should provide a couple of functions, in C++ and in python, that let you convert from filesystem paths to correctly encoded urls, and back, including support for relative and absolute file paths.  The unit tests alone would benefit from this.

Probably be a good idea to add a test of some kind to `otiostat` and run it on the .otio files in the

[2021-03-05 16:55] ssteinbach opened #905 "Lock the CI on an older version of PIP for python2"
It seems that CI is no longer working for python2 because:

[code]

[2021-03-09 09:55] Tilix4 opened #907 "Issue on OSX with AnyDictionary object"
## Bug Report

### Incorrect Functionality and General Questions

Describe the issue here.

## To Reproduce
⚠️ This is a tricky one

This is an inconsistent behaviour between OSX and Windows.
I spotted the issue while using OTIO with Blender, and I have no idea about how to reproduce it either way, then it includes other dependencies, sorry for that.

### Reproduce (have to be executed on Mac and

[2021-03-09 13:51] ginwakeup opened #908 "Media references missing in AAF file"
Hi, I have an aaf file exported with media to be embedded in, but when I read it from opentimelineIO, all the clips are missing the media reference.

I am using opentimelineIO 0.11.

Is there anything in particular needed to carry embedded media between different machines? The file is exported on a different machine that does have those medias on disk, while I do not have access to them on mine, b

[2021-03-09 17:56] meshula commented on #907
Thanks for the report. Pybind11 is wrapping any; we've just updated the version of pybind11 OTIO uses; we need to check if the latest pybind11 has an issue similar to what we just resolved for optional (https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/902).

[2021-03-09 19:19] #908 closed

[2021-03-09 19:19] ginwakeup commented on #908
Just closed as the aaf metadata support seems to have been introduced by 0.13.

[2021-03-11 23:12] rogernelson opened #910 "Unable to link with downstream project libraries that are not exported"
## Bug Report

### Build Problem

If trying to link with a downstream project that does not export its libraries (Imath in this example) this will occur when building:

[code]

## Additional Context

This occurs because opentime and opentimelineio call export in their CMakeFiles like this:
[code]

When exporting, all the dependencies must also be exported.  Meaning that opentimelineio and opentime

[2021-03-11 23:35] JoshBurnell opened #912 "cmx_3600 adapter incorrectly processing three-clip transitions"
I have a case of a three part Transition in a CMX 3600 EDL. It looks like so:

Clip A -> Dissolve -> Clip B -> Dissolve -> Clip C

Here's the EDL:
[code]

In that example, ABC0020 should have a duration of 97, however OTIO it showing it to have 50 frames.

There appears to be something specifically wrong here, in the logic that derives what is the "previous clip":
https://github.com/PixarAnimation

[2021-03-11 23:49] darbyjohnston opened #913 "Minor documentation fixes"
First of all, thanks for all of the nice documentation! I was just reading through it and noticed a couple of minor typos and small changes that could make the formatting more consistent. I'll create a PR for the suggested changes.

[2021-03-12 18:11] darbyjohnston opened #915 "Add include directories to OpenTimeConfig.cmake/OpenTimelineIOConfig.cmake"
The auto-generated OpenTimeConfig.cmake/OpenTimelineIOConfig.cmake files are missing the include directories for the OTIO headers which makes compiling C++ programs difficult. This can be fixed by adding the "INCLUDES" argument to the install command for OpenTime/OpenTimelineIO. I'll submit a PR with the proposed change...

[2021-03-13 02:18] darbyjohnston opened #917 "Add C++ examples"
It would be nice to have C++ examples demonstrating use of the OTIO API similar to the Python examples. Ideally the example code would be as similar as possible between C++ and Python so that new developers could see how the API is used in each language.

This could also address these issues:
https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/796
https://github.com/PixarAnimationStudio

[2021-03-15 21:46] JoshBurnell commented on #912
Turns out, the issue is actually in how the adapter is adjusting the duration of the clip *after* the transition. Specifically, in how it's defining the "next clip."

https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/84af5e5a30e4d14cf3434d6d055631e115ac1ee5/src/py-opentimelineio/opentimelineio/adapters/cmx_3600.py#L731-L749

To explain, here's an EDL with a simple dissolve:
[code]

In t

[2021-03-23 19:28] darbyjohnston opened #922 "Add C++ conveniences"
It would be nice to add a couple of convenience functions to streamline the C++ code that works with the SerializableObject::Retainer type, specifically functions for casting and operator overloads that makes the type feel more like a regular pointer.

Old:
[code]

New:
[code]

Old:
[code]

New:
[code]

[2021-03-24 16:29] #915 closed

[2021-03-24 16:31] #913 closed

[2021-03-24 23:34] meshula commented on #922
Just a thought, once you've added -> overloads to the retainer, the primary reason for fetching the pointer out of the retainer is less compelling.

I was thinking that dynamic_retainer_cast might more usefully be implemented in the same pattern as we can see in https://en.cppreference.com/w/cpp/memory/shared_ptr/pointer_cast where the smart pointer casts are used to up/down/reinterpret cast betwe

[2021-03-24 23:35] meshula commented on #915
closed by https://github.com/PixarAnimationStudios/OpenTimelineIO/commit/600a9d758b7633ab341448caa410152eef6da3f8

[2021-03-24 23:36] meshula commented on #913
closed by https://github.com/PixarAnimationStudios/OpenTimelineIO/commit/93f5e362813cb0c3095adf6e28aa8409894de015

[2021-03-25 00:29] reinecke opened #924 "Add Chunked or Segmented file reference"
## Feature Request

It would be useful to have a type of `MediaReference` that refers to a contiguous clip that has been "chunked" or "segmented" out over multiple files.

## Description

Much like an ImageSequenceReference(#69) there is a similar kind of single conceptual asset that can be spread over multiple files but rather than containing a single sample (frame) from that file, they contain a

[2021-03-25 01:52] darbyjohnston opened #925 "Add C++ versions of each_child()/each_clip()"
It would be useful to have the each_child()/each_clip() functionality available in C++ for iterating over objects in a timeline. Currently these functions are Python only, located in timeline.py and composition.py.

[2021-03-25 08:54] apetrynet commented on #924
Support for these chunked files would be very useful for archiving/packaging timelines with the `otioz` adapter for instance.

I'll copy one of my initial ideas from slack discussion in here for future reference.

[2021-03-26 16:39] meshula commented on #62
Referring to styles is pretty conventional across the board, think CSS. If style is stored per caption, to accommodate the way real systems work, a consumer of a TimedText object would have to perform an initial pass to gather all the styles into a dictionary. It seems to me that an internal referencing scheme for OTIO would be a prerequisite to implementing this in a useful way. As a suggestion,

[2021-03-26 18:15] KarthikRIyer commented on #62
The root dictionary suggestion seems similar to :
`One other thing I thought of was to have a list of styles inside Subtitle and then have a string id in each TimedText`, right?

I agree that style per TimedText isn't workable. What could be the issues with a root dictionary? If we have something like `map<string/long, TimedTextStyle>`, would that still have questionable usages?

[2021-03-31 16:32] Tilix4 commented on #813
Hi @meshula, Any news about this?

[2021-03-31 17:13] meshula commented on #813
Hi there, thanks for the follow up. In the last month or so, we've put some effort into making the Python set up easier to manage. None of us currently build Blender, so we haven't tested that yet. If you don't specify OTIO_PYTHON_INSTALL_DIR or a CMAKE_INSTALL_PREFIX, the OTIO build system will attempt to set up python according to the cmake standard command:

[code]

So at this point, my expecta

[2021-03-31 19:51] Tilix4 commented on #813
Thanks for this information.

I'm not sure but maybe there is a misunderstanding. I'm not talking about building Blender with OTIO, but installing OTIO into the embedded python of Blender. Something like: `/path/to/blender_python_exec -m pip install git+https://github.com/PixarAnimationStudios/OpenTimelineIO.git`, which was working until `0.11.0` but doesn't since.

Then to try it you may download

[2021-03-31 20:17] meshula commented on #813
To clarify, I have been focused on the cmake side of the problem. Pip uses cmake to install otio. otio uses cmake's find_package to discover details about Python's installation. Therefore to install into Blender, there has to be some way to tell cmake to use Blender's Python, instead of your system blender.

According to what I can find on stackexchange, running pip from blender's python should be

[2021-04-05 23:50] ssteinbach commented on #845
Addressed in the swift repository.

[2021-04-05 23:50] #845 closed

[2021-04-05 23:51] ssteinbach commented on #845
Closed by:  #871

[2021-04-08 20:38] apetrynet commented on #814
Not sure if this comment should go here, but could the move be a good occasion to move from master to main branch?

[2021-04-08 20:53] ssteinbach commented on #814
Good question!  We have been tracking that on this card: https://github.com/PixarAnimationStudios/OpenTimelineIO/projects/8#card-46141519

which we should make into an issue.  The short answer is that we wanted to wait until GitHub provides tooling for making this transition.

[2021-04-08 21:12] apetrynet commented on #814
Great! Since we need to swap remotes anyway it should be easy swap branch name in the same process.

[2021-04-08 21:17] ssteinbach commented on #814
Users don't actually need to do anything for the master->main change.  Github has machinery that will redirect things done against master to main.

[2021-04-12 20:53] avrata opened #938 "Non-ascii character in doc causing issues file_bundle_utils.py"
## Bug Report

### Incorrect Functionality and General Questions

I noticed a non-ascii char in "file_bundle_utils.py"

## To Reproduce

...
SyntaxError: Non-ASCII character '\xc2' in file /scratch/opentimelineio-0.14dev1_pixar.02/lib/python2.7/site-packages/opentimelineio/adapters/file_bundle_utils.py on line 113, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

[2021-04-15 17:22] ssteinbach opened #943 "Replace the pkg_resources plugin discovery system"
As noted in:
https://gist.github.com/ssteinbach/42b3fbccff60ad2409c9178272406c9a
and:
https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/928

There are problems with the `pkg_resources` based plugin discovery system.  That said, its very convenient.  We should consider replacing that system with a solution, possibly from here:
https://packaging.python.org/guides/creating-and-discovering-

[2021-04-19 15:20] Tilix4 commented on #813
Hi @meshula, is there any update about it?

Starting from now I'll spend some time trying to fix this issue and being finally able to pip install OTIO into blender's python.

[2021-04-19 16:27] Tilix4 commented on #813
@meshula, first step following https://opentimelineio.readthedocs.io/en/latest/tutorials/quickstart.html#to-build-otio-for-both-c-and-python-development

I get this error on both linux and windows:
[code]

[2021-04-20 08:50] Tilix4 commented on #813
Thanks, it worked. I'm digging into pip issue.

[2021-04-20 17:31] drettko opened #948 "CMX 3600 adapter ignores M2 effects exported form Davinci Resolve"
### Incorrect Functionality and General Questions

Currently, M2 (CMX 3600) events only get parsed if SRC and REC durations are different. When we export Davinci Resolve EDLs with speed changes, the SCR time range is set as if played with normal speed and the effect is ignored. I wonder what's the correct behavior?

## Resolve EDL (24FPS)

[code]

[2021-04-20 17:59] Tilix4 commented on #813
Daily report:
I can compare the successful (windows python3.7.9) and the failing one (blender python 3.7.7).

The weels building `bdist_wheel` fails in both cases and falls back on the `install`.

It seems to be an issue in the `src\deps\pybind11\tools\FindPythonLibsNew.cmake`, the `PYTHON_LIBRARY` var is always deduced from the python's executable and infers filepaths which cannot be overriden on

[2021-04-20 19:54] meshula commented on #813
Great progress, congratulations. As part of your process, I would recommend looking at your CMakeCache.txt. You can discover (1) what are the names of variables actually in use, and (2) how do the things you set relate to where they landed in the CMakeCache. It's a shame the Python ecosystem is so complex, but I guess it's to be expected after decades of experimentation by the community.

[2021-04-21 14:11] Tilix4 commented on #813
Okay, I managed to install into Blender's python by setting `PYTHON_INCLUDE_DIRS` and `PYTHON_LIBRARIES` by hand to target the local python libs and dirs.

Now I have to find a way to correctly target these resources from Blender's python. Do you have any input about pybind which could provide it on its own?
And why it works easily on unix but not on windows?

[2021-04-21 17:00] meshula commented on #813
By "correctly target these resources" do you mean setting up Blender to also see OpenTimelineIO? I think you can't point outside of Blender - https://blender.stackexchange.com/questions/172421/pythonpath-ignored - but there are a bunch of solutions - https://stackoverflow.com/questions/11161901/how-to-install-python-modules-in-blender

Unfortunately Python on Windows is very prickly compared to ot

[2021-04-21 17:50] Tilix4 commented on #813
No, I mean to tell the builder to find the system python instead of the current running python for the library and the include directories (which will force to have python3 installed to pip install into blender's python).
i.e:
`PYTHON_LIBRARIES=C:/Users/Felix/AppData/Local/Programs/Python/Python37/libs/python37.lib`
`PYTHON_INCLUDE_DIRS=C:/Users/Felix/AppData/Local/Programs/Python/Python37/include

[2021-04-21 18:26] Tilix4 commented on #813
NB: I'm facing the exact same issues with the https://github.com/pybind/cmake_example trying to pip install it into blender's python. I'll try to make it work and then report the modifications into OTIO's.

[2021-04-21 21:07] #813 closed

[2021-04-26 03:16] Chadt54 opened #952 "AttributeError: type object 'opentimelineio._opentime.TimeRange' has no attribute 'range_from_start_end_time_inclusive'"
[code]

[2021-04-26 04:02] ssteinbach commented on #952
This is a function in the `opentime` namespace, not a method on the `TimeRange` class:

[code]

[2021-04-26 04:08] ssteinbach commented on #952
Or maybe I'm misunderstanding this bug report.  Is that just happening on import?  On windows w/ python 3.7?

It looks like our CI is passing so is there more context on this?
https://github.com/PixarAnimationStudios/OpenTimelineIO/runs/2422614364?check_suite_focus=true

[2021-04-26 04:12] Chadt54 commented on #952
What you see above is all that I've done, in it's entirety. I just stumbled upon this project today, and went to try it out and this is what happened.

To answer your question; no more context, this is the full context. Just a Windows 10 machine, using Python 3.7.7

[2021-04-26 04:13] ssteinbach commented on #952
Can you try installing from pypi instead of from the GitHub HEAD?

`python -m pip install opentimelineio`

We've been tinkering with the build system so I'm curious to track this down.

Thanks!

[2021-04-26 04:16] Chadt54 commented on #952
Already tried that (that's why it says "Found existing installation: OpenTimelineIO 0.13.0"). That version doesn't work either, but it has a different error (more serious error; missing libraries).

[2021-04-26 04:17] Chadt54 commented on #952
This is from pypi

[code]

[2021-04-26 15:49] #938 closed

[2021-04-26 15:50] ssteinbach commented on #938
Closed by #939

[2021-04-30 01:23] reinecke commented on #666
Capturing some discussion notes from PRs and elsewhere about how to address some of the windows wheel building below.

For windows, I'm pretty certain we need to at least pull:

https://github.com/pybind/cmake_example/blob/6de957d06a372a7b106e5e3b8e29b97a8ec3afc7/setup.py#L10-L15

and:

https://github.com/pybind/cmake_example/blob/6de957d06a372a7b106e5e3b8e29b97a8ec3afc7/setup.py#L73

And replace

[2021-04-30 01:26] reinecke commented on #666
Also note, macOS 11 could be tricky as GitHub doesn't have runners widely available yet: https://github.com/actions/virtual-environments/issues/2486

Perhaps we should shard a new ticket for that.

[2021-05-03 22:21] apetrynet opened #959 "Add a github action for nudging or closing stale issues and PRs"
## Feature Request

As discussed in TSC meeting April 29th. Add a github action that helps keep issues and PRs moving forward or closing them.

## Description

There is a github action called [stale](https://github.com/actions/stale) which is made for this. It has an extensive set of options available to tailor the behavior we'd like.

## Context

Some issues or PRs go cold and are left unattended

[2021-05-06 19:20] reinecke commented on #670
We've decided we'd like for OTIO files to be explicit about null media references.

[2021-05-06 19:20] #670 closed

[2021-05-10 01:58] kid123jke opened #963 "Kid music"
## Feature Request

Is this a New Feature, or a Proposed Change to existing Behavior?

## Description

Describe the new feature, or describe the modification to existing behavior, and provide context as necessary to help with understanding how the feature relates to a workflow or functionality.

## Context

Add any other context here, such as simulated output, or screenshots, that might help clari

[2021-05-10 19:10] meshula commented on #963
Thanks for your interest. Please consider opening an issue following the guidelines in the issue template, with a specific question about OpenTimelineIO. For more general help, you might consider looking at the documentation, linked from the main readme, or reviewing some of the other issues people have posted over the years.

[2021-05-10 19:10] #963 closed

[2021-05-13 17:22] ssteinbach opened #970 "Add codecov token"
### Build Problem

Codecov has changed the policy.

## To Reproduce

See #969 are showing build errors from codecov wanting us to use a token instead of the current authentication scheme.

[2021-05-14 21:06] jminor commented on #190
See also: https://nomore2398.com for background on drop frame timecode.

[2021-05-14 21:24] jminor commented on #214
Summarizing some in-person & email threads on this subject from a while ago:
- Would we store RationalTime as just an integer, measured in flicks, without a rate?
- Would we store RationalTime's rate instead as a tick duration, measured in flicks?
- Storing a recognizable rate like "24" or "60" is more human-friendly than storing a tick duration in flicks (e.g. at 24 fps, each frame is 29400000 fl

[2021-05-14 21:32] meshula commented on #214
As representing time points at known media rates is what flicks does, and opentime is intended to represent time points at known media rates, as well as time points at arbitrary locations possibly between flicks samples, and future rates may not be evenly divisible by 1 tick, I think the closing argument is that flicks is not a suitable representation at a mathematical level.

[2021-05-16 21:30] meshula commented on #62
Perhaps it would make sense to store a map of named styles to style templates as a metadata entry on the Timeline object., and that storing that dictionary as a metadata anywhere else would be ignored.

[2021-05-16 22:01] KarthikRIyer commented on #62
Yeah, I can try this out

[2021-05-18 10:21] KarthikRIyer commented on #62
Note: Sample SRT files with formatting/styles for testing [here](https://ale5000.altervista.org/subtitles.htm)

[2021-05-19 16:48] #970 closed

[2021-05-19 20:20] #708 closed

[2021-05-20 01:36] reinecke opened #975 "Add documentation build and publish to github actions"
Thanks to #878 we now have C++ documentation with doxygen!
There are other bits of documentation that can be generated but we don't autogenerate any of it.

We should add github actions to build documentation packages and publish the artifacts.

Note: I expect this issue will need to be broken down a lot into more manageable chunks.

## Description

The types of documentation we have/should have i

[2021-05-24 05:51] IgorRidanovic opened #976 "AAF of Media Composer transcoded clip returns inaccurate timecode"
I have a Media Composer 2018.2 generated [AAF](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/6529975/linked_xcoded_SingleClip_03000200.zip) containing a single 23.976 sequence with a single 23.976 video clip. The clip was originally AMA linked and then transcoded to DNxHD which is a common media ingest practice in Media Composer.

The source clip's starting SMPTE timecode is 03:00:

[2021-05-26 21:18] IgorRidanovic commented on #976
Followup.

AAF2 is reading the timecode in question, but OTIO AAF adapter is not.

The absolute timecode value can be located in the video Mob at:
030020_2398->TimelineMobSlot->Segment->Sequence->Components->Timecode->Start

[2021-05-27 17:41] reinecke commented on #975
Per @jminor: We should take a look at how the [OpenColorIO docs](https://opencolorio.readthedocs.io/en/latest/quick_start/_index.html#quick-start) are working and see what is adoptable from that.

[2021-05-27 18:45] JoshBurnell opened #977 "EDL Adapter incorrectly processing EDL that ends with "hanging dissolve event""
I have an EDL that ends with a Transition between two clips.

In the EDL, it looks like this, a "hanging dissolve event":

[code]

That should result in an OTIO that includes three Clips with a Transition between the last two clips, like this:

<img width="192" alt="Screen Shot 2021-05-27 at 11 38 44 AM" src="https://user-images.githubusercontent.com/453227/119879663-4f75bd00-bee0-11eb-88cd-7a2509

[2021-05-28 18:39] darkvertex commented on #667
Not sure if this ticket is the right place for this, but I noticed when doing `python3.7 setup.py bdist_wheel` (from the v0.13 git tag) that even though it appears the process ended without errors for me, it looks like it installed dlls in site-packages, even though I did not ask it to install, I only wanted the .whl:

[code]

The resulting .whl was only ~500KB and does not contain any .dll's so I

[2021-05-29 01:39] meshula commented on #667
The conversation is underway in the PR meant to fix these issues: https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/957

[2021-05-31 18:54] KarthikRIyer commented on #62
I was looking into parsing styles from SRT files. Specifically [this](https://ale5000.altervista.org/other/SubRip_subtitles_capability_tester.zip) sample.

SRT text is formatted using HTML. For one TimedText, it could be like this:
[code]

So I think I'll need to make some changes to the classes I defined earlier. The current `TimedText` class has one content string, and one linked style object. I

[2021-06-02 17:20] Tilix4 commented on #828
I don't know if it's completely relevant, but I've tried both the current master and the reinecke's `feature/wheel-builds` branch with Python3.9 and I get this error when importing:
[code]

The funny thing is, I only get this error on my personal windows computer.

On my OSX and Windows at work, I get:
[code]

I've tried to investigate, without any success until now...

Everything works fine on Py

[2021-06-03 07:54] Tilix4 commented on #828
After some new experimentation, it seems no any opentimelineio version work on Python3.9, they all raise the `ModuleNotFoundError: No module named 'opentimelineio._opentime'` error.

[2021-06-03 12:17] vdtoorn commented on #828
I get the same error on python 3.8

[2021-06-04 01:14] meshula commented on #828
Separating out mac and windows for a second, is it possible we are being hit, on Windows, with the new platform specific dll search behavior? https://docs.python.org/3/library/os.html#os.add_dll_directory

If the _opentime.dll and .pyd files are in the same directory as the __init.py that invokes them, could you try adding a call to add_dll_directory to __init.py before the line of code that impor

[2021-06-06 09:11] AliRAMADA opened #979 "5000"

[2021-06-06 16:47] #979 closed

[2021-06-10 10:01] aguiot opened #984 "OpenTimelineIO for windows (python-2.7): No module named _opentime"
## Bug Report

Hi,

I'm trying to install the latest version of OpenTimelineIO (for windows python-2.7).
Unfortunately, I'm facing an issue.

### Build Problem

I'm trying to install the latest version of OpenTimelineIO.
It's working perfectly for linux (python-2.7/python-3.7) and for windows (python-3.7), but it fails for windows (python-2.7).

Everything seems okay during the pip install, here i

[2021-06-11 05:35] #984 closed

[2021-06-11 05:40] meshula commented on #984
@aguiot I noticed github automatically close this issue, because #986 should in theory address your issue. If the problem is not solved, please feel free to reopen this.

[2021-06-11 11:55] aguiot commented on #984
#986 solved my issue, thanks a lot @meshula

[2021-06-11 17:39] meshula opened #987 "Resolve installation into Blender"
This issue is to track building OTIO for installation into Blender, and also the creation of wheels that Blender can consume.

[2021-06-11 18:28] reinecke opened #988 "PyPI Publish github action"
## Feature Request

## Description

To automate the release process, make it more predictable, and improve our security footprint;  PyPI publishes should be handled by a github action using artifacts generated by build actions.

## Context

All previous OTIO releases have been done via a manual checklist. A source tarball is then hand built as well as wheels built in either docker or a macOS VM on

[2021-06-11 21:07] meshula opened #989 "Conda publish as a github action"
Once we have an action publishing to PyPi (https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/988), we should create an action to publish to Conda-forge.

For reference - https://valerioviperino.me/conda/for-pipeline-tds

[2021-06-12 20:06] JeanChristopheMorinPerso commented on #988
Indeed it's driven purely by the version of the package. Pip will excluded pre release versions by default.

[2021-06-12 21:13] JeanChristopheMorinPerso commented on #987
Blender on Windows (I wont talk about Linux since I don't know the situation there) doesn't ship with the Python headers. See https://developer.blender.org/T74470 and https://blender.community/c/rightclickselect/gtfbbc/ . So that is one problem on his own.

[2021-06-12 22:28] JeanChristopheMorinPerso commented on #987
@rogernelson I looked more deeply at Pybind11 cmake files and `PYTHON_EXECUTABLE` and `PYBIND11_FINDPYTHON`  are not mutually exclusive.

If `PYBIND11_FINDPYTHON`  it will call `pybind11NewTools.cmake` (see https://github.com/pybind/pybind11/blob/e08a58111dbea38d667b209f7543864d51a3b185/tools/pybind11Common.cmake#L195-L200), then if `PYTHON_EXECUTABLE` is not defined, it does some logic for venv,

[2021-06-12 22:37] JeanChristopheMorinPerso commented on #987
Regarding RV's `sysconfig` wrong behavior @rogernelson , that should get fixed in RV :wink: . It always annoyed me. `sysconfig` should always return paths that exist and are valid. When `sysconfig` returns wrong values, a bunch a tools in the Python ecosystem just don't work.

[2021-06-13 13:24] brechtvl commented on #987
I don't fully understand the context here. But for the large majority of Blender users, compiling Python modules from source is not something they are expected to be doing. The bundled Python version is not intended to be used for that, the recommendation is to use a standard Python install.

For add-ons it's most user-friendly to bundle binaries. But it would be great if OpenTimelineIO could prov

[2021-06-13 16:54] meshula commented on #987
The context is that we've been trying to build otio against Blender's bundled Python, with setup.py placing the build artifacts into the blender installation in the correct place.

The meta-context is that we want to be able to use otio within Blender.

The meta-meta-context is that the purpose of this thread is discover the right way to do this, make any changes necessary to our build, and then d

[2021-06-13 17:19] JeanChristopheMorinPerso commented on #987
To add to that, a large majority of the Python community is not expected to compile Python extensions (an extension being anything that is not pure python) from source.

Also this issue is for Blender, but I'm kind of "hijacking" it to make sure we support a bunch of other cases correctly as can be seen from the matrix of scenarios to be tested from my proposed change.

And bonus if we are able to

[2021-06-14 00:16] JeanChristopheMorinPerso commented on #987
@rogernelson You can try to build using https://github.com/JeanChristopheMorinPerso/OpenTimelineIO/tree/python_build_findpython. Let me know how it goes!

[2021-06-14 13:38] rogernelson commented on #987
@JeanChristopheMorinPerso
I tried your branch, and it seems to do the right thing for me.

RV Python 2.7
[code]

I also tried with RV and Python 3.7.6
[code]

If this same setup works for Blender, then this is great.

I work primarily with C++, so I'm not an expert on all this Python stuff, but I agree the RV values are wrong.  Since I'm working on integrating OTIO into RV's Python, I'll see if I

[2021-06-20 14:50] Viraj-Rana008 commented on #925
I want to work on this.
Is each_child()/each_clip() need to be added here
src/opentimelineio/composition.cpp , src/opentimelineio/timeline.cpp?

[2021-06-20 16:11] darbyjohnston commented on #925
Hi, thanks for the offer of help! The changes for this are actually finished and were merged last week:
https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/926

I guess I should close this issue to reflect that...

[2021-06-20 16:11] #925 closed

[2021-06-22 00:41] darbyjohnston opened #994 "C++ version of conform.py example"
Now that the C++ children_if()/clip_if() functionality is available it would be nice to have a C++ version of the conform.py example.

[2021-06-22 02:33] darbyjohnston opened #996 "C++ headers with separate declarations/definitions"
Currently a number of the C++ headers have the function declarations combined with the definitions, i.e.:
[code]

As a C++ developer it would be nicer to browse the class API if the function definitions were separated, i.e.:
[code]

This example is trivial but with large classes with a lot of implementation code it can obscure the class API. OpenEXR does this fairly consistently:
https://github.co

[2021-06-22 18:54] meshula commented on #996
If you're going to the trouble of breaking them out like that, it's worth, for each one, asking if it really belongs in the corresponding cpp file ~ in other words, asking why was this inline in the first place?

[2021-06-22 19:05] meshula opened #999 "c++ methods to be marked constexpr and noexcept as appropriate"
## Feature Request

We need to do a scrub on the C++ API to further annotate functions with constexpr and noexcept. Currently only const is in use.

For example,  in RationalTime,

[code]
could be
[code]

[2021-06-22 20:55] darbyjohnston commented on #996
Definitely, though a lot of them are templates so they need to be in the header files. I think these functions probably do not need to be inlined:
* RationalTime::RationalTime(double value, double rate)
* void SerializableObject::Reader::debug_dict()
* void SerializableObject::Reader::error(()
* void SerializableObject::Reader::_Resolver::finalize(error_function_t error_function)
* SerializableObj

[2021-06-23 01:53] meshula commented on #996
I agree on all of them except the constructor, that's preferably inlined no need to take a possible cache line load on such a common op

[2021-06-23 02:03] darbyjohnston commented on #996
Ah yes, sorry; for some reason I was under the impression that constructors were not inlined. I'll move the other ones to the .cpp file.

[2021-06-24 02:50] darbyjohnston opened #1001 "Add a child_if() function to complement children_if()?"
In PR https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/998 I suggested it might be nice to use the general purpose children_if() function to test if a composition has any child clips. @rogernelson pointed out that children_if() might be expensive since it iterates over every child, as opposed to just stopping at the first instance. So maybe it would be nice to have a child_if() functio

[2021-06-24 03:09] darbyjohnston commented on #996
I checked in a change to remove these functions from the headers in the PR:
- void SerializableObject::Reader::debug_dict()
- void SerializableObject::Reader::error(()
- void SerializableObject::Reader::_Resolver::finalize(error_function_t error_function)

[2021-06-24 17:12] reinecke commented on #999
@darbyjohnston said he could take a crack at this.

[2021-06-25 05:29] tin2tin commented on #987
If adding the python headers to Blender, you should say it out loud here: https://devtalk.blender.org/t/opentimelineio-devs-needs-bf-devs-to-solve-python-related-installation-problems/19192/14

[2021-06-30 16:44] JeanChristopheMorinPerso opened #1005 "Add a make target to build a Python wheel locally"
## Description

@ssteinbach mentioned that it would be nice to have a make target to build a Python wheel locally. I think it's effectively a good idea.

Something like `make wheel`.

[2021-07-01 17:01] jminor commented on #190
This came up in discussion again recently - specifically around the question of how much error is present from using a double-precision float instead of int/int for rate.

Could someone check my rough calculation here:

[code]

So if you had media with a running time of 100,000 years it would be off by 0.01 frames.

[2021-07-01 20:06] meshula commented on #190
@jminor your calculation is ballpark in line with my microsecond at 100 years seat of the pants earlier in the thread. I am reading your analysis as a vote against the need for int/int.

The anecdotes and evidence I have gathered basically boil down to variations of an argument along the lines of "I had a timeline over a day long, and a couple of hours into the second day, a frame was lost, when u

[2021-07-02 18:37] #987 closed

[2021-07-09 11:35] desruie opened #1011 "Add documentation for spatial coordinate system"
In the context of adding spatial coordinates to clips (end eventually other entities), we need a proper documentation that defines the coordinate system itself. This documentation should help interpreting the coordinates themselves. It should provide examples (graphics) that illustrate how those coordinates can be used to represent high-level spatial values (box, line, etc.). The documentation sho

[2021-07-12 21:25] timlehr commented on #821
I would argue for a submodule so the version can be updated by dependabot.

Here is another line that could use six:
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/master/contrib/opentimelineio_contrib/adapters/advanced_authoring_format.py#L106

[2021-07-13 17:02] reinecke commented on #145
For reference, the discussion thread #1009 has come up about this issue.

[2021-07-13 22:16] ssteinbach commented on #821
I think at this point I'd argue we should close this issue unless there is some kind of regression/missing functionality in what we have.

- the code we have (as far as I know) works, assuming no performance or other difference
- adding a dependency, especially one that can change, in code that is already "done" doesn't seem worth it to me

We've been trying to consistently comment code to make it

[2021-07-13 22:34] timlehr commented on #821
I think it's less of a problem for the few spots in the current code, but more of an issue when it comes to writing new code. I added a  new compatibility snippet while making AAF markers work, introducing one more of these workarounds. I was concerned it could balloon at some point.

[2021-07-13 23:02] meshula commented on #821
It's critical to mark the divergences and why the hacks are there, as a minimum. If we use six, I still prefer we copy it in. I've been doing the dependabot reviews, and every time a change comes in, I have to try to understand what's being changed, and make a prediction as to whether it'll regress our code. six would be minor, but still one more thing to think about.

[2021-07-22 15:08] Laurian commented on #62
I'm interested in reading titles and captions out of FCPX (and maybe simple effects like generators), I could try adding them to the adapter but I don't know how they should be represented in OTIO?

[2021-07-22 15:13] KarthikRIyer commented on #62
@Laurian There's a WIP PR (#805) that adds a representation in OTIO. I was working on an SRT adapter, but there's work left to be done on the OTIO representation to support styles.

[2021-07-22 15:50] Laurian commented on #62
Cool, I'll use your `TimedText.1` schema to represent things and look into how to do the import/export on the `fcp_xml.py` adapter for it, as I'm quite familiar with the FCPX format; I can map to that both `<title>` and `<caption>` elements, even when `<title>` points to a generator, the text data is in there and I guess I can "hide" all the other extra bits in the metadata field for now (is there

[2021-07-22 17:53] ssteinbach opened #1020 "Format all the C++ code according to the clang format file"
Once #706 is landed, we should apply it to existing code.

[2021-07-22 17:54] ssteinbach opened #1021 "Add make target `make format` that applies the .clang-format file to existing C++ code"
Once #706 lands, it would be a helpful to have a make target that applies the clang format to the C++ code.

[2021-07-22 17:55] #706 closed

[2021-07-22 17:57] KarthikRIyer commented on #1021
[code]

Is there a better way of doing this?

[2021-07-23 21:27] #1021 closed

[2021-07-23 21:31] meshula commented on #62
I'm curious what the other metadata from FCP contains?

[2021-07-23 22:25] jminor commented on #62
@Laurian yes, the general guidance is that an adapter should translate to/from the OTIO schema (in this case @KarthikRIyer 's proposed TimedText schema) and then to put anything else interesting into metadata. Specifically nested into a sub-dictionary within metadata that is clearly labelled. This makes that metadata visible and invites discussion about what else could/should be promoted into the

[2021-07-25 20:26] meshula commented on #62
This project

https://github.com/naomiaro/waveform-playlist

led me to this -

https://github.com/readbeyond/aeneas

aeneas looks like a gold mine of reference material.

[2021-07-26 16:07] Tilix4 commented on #828
Some inputs about that: I'm trying to install OTIO into Blender 2.93's Python, which uses python 3.9.2 on MacOS.

It doesn't work and I get this error:

[code]

While installing it into a locally installed Python 3.9.2 works.

[2021-07-26 16:29] Tilix4 commented on #828
I must precise I don't get this issue any more. Then the problem to address seems to be on the build stage only and not at the `import opentimelineio` one.
To confirm this behaviour, I installed OTIO into Blender's `site-packages` using the local python 3.9.2 and the import works perfectly.

[2021-07-28 23:03] reinecke opened #1027 "Add Test pass for build artifacts"
## Feature Request

With github actions producing wheels to deliver to pypi, it would be helpful to have a separate part of our build process to validate those exact artifacts before they can become candidates for pypi delivery.

## Description

At a minimum, smoke tests could be run that did something simple like:

1. Import otio
2. create an example timeline
3. write it to disk
4. read the timel

[2021-07-29 02:42] timlehr opened #1028 "AAF adapter: track timecode offsets clip source range"
## Feature Request

New feature

## Description

Currently the AAF adapter adds the track timecode to the source range of any clip. This allows for roundtripping of the information, but makes it cumbersome to retrieve the "real" source range for clips. This behaviour could be made optional with a new adapter argument, so that correct source range information is more easily accessible.

## Context

[2021-07-29 12:46] Laurian commented on #62
@meshula FCPX will have for subtitles placement and styling metadata:
[code]
 But other titles you can add can be similar
[code]
where `ref="r6"` points to the Apple Motion effect `<effect id="r6" name="Continuous" uid=".../Titles.localized/Build In:Out.localized/Continuous.localized/Continuous.moti"/>`

Similarly custom titles can have a lot of parameters (here's a BBC News caption one):
[code]
a

[2021-07-29 17:27] meshula commented on #62
Thanks ~ what prompted my question was wondering whether the extra data fell in the category of "extra non-portable stuff that should be preserved" or the category of "falls into the styling category". The examples seem to show styling/layout plus some animation parameters.

[2021-08-05 18:41] lgmventura commented on #667
Any updates on this issue? It also doesn't install on Linux, using `pip` in Blender. :(

[2021-08-05 18:46] reinecke commented on #667
@lgmventura Would you mind trying this command to install our new test wheels (from issue #1015):
`pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple opentimelineio==0.14.0dev1`

We've been working to improve the availability of pre-built wheels which addresses build issues for a lot of users. Please let us know if this works for you.

[2021-08-06 01:54] darbyjohnston commented on #917
I've added these C++ examples that correspond to the Python examples:
* conform.cpp
* flatten_video_tracks.cpp
* summarize_timing.cpp

I did not add a corresponding C++ example for ```shot_detect.py```, since that calls ```ffprobe``` as a sub-process which is a bit tedious to do in C++.

I also added examples for using the Python adapters from C++:
* python_adapters_child_process.cpp
* python_adap

[2021-08-06 01:54] #917 closed

[2021-08-06 01:59] darbyjohnston commented on #994
Merged with:
https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/995

[2021-08-06 01:59] #994 closed

[2021-08-06 02:11] darbyjohnston opened #1033 "Use const references when catching exceptions"
There are a couple of places that have code like this:
[code]

Which causes this warning with gcc 10.3:
[code]

[2021-08-06 02:16] darbyjohnston opened #1035 "Remove unused code in opentimelilneio"
The file ```src/operntimelineio/main.cpp``` isn't being used and should probably be removed.

[2021-08-06 02:19] darbyjohnston commented on #922
Merged with:
https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/923

[2021-08-06 02:19] #922 closed

[2021-08-06 16:04] lgmventura commented on #667
@reinecke it works! Thank you so much.

[2021-08-06 17:38] reinecke commented on #667
@lgmventura Good to hear! This is how our official builds in pypi will be set up for 0.14.0 when we release.

[2021-08-07 01:09] JeanChristopheMorinPerso opened #1037 "Pip deprecation warning for out-of-tree builds"
When running the latest pip version (21.2.3 as of this writing) to build a wheel or locally install OTIO, pip prints this deprecation warning:

[code]

Basically in a future version of pip, they will remove out-of-tree builds. We should test how things go with the `--use-feature=in-tree-build` flag to make sure everything works correctly before we get broken builds in CI.

More details can be foun

[2021-08-07 02:12] JeanChristopheMorinPerso commented on #1027
I like where you are going with this. Here is some more thoughts I have:

General testing good practices:
* A wheel should be first created and then used for running the tests. This tests the whole process of building the wheel, testing its installation and running the tests against the installed wheel.
* If we go wild we could even say we need to first build an sdist, then build a wheel from the

[2021-08-07 16:06] JeanChristopheMorinPerso opened #1039 "Python coverage is missing from Codecov reports"
With the update of the `codecov/codecov-action` action from v1 to v2, the coverage reports are off by a lot.

The update happened in https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1026 and the report on this PR reports:

[code]

So basically the covered lines went from 18387 to 6086. By looking at the reports in the UI:

Before: https://codecov.io/gh/PixarAnimationStudios/OpenTimelin

[2021-08-07 16:53] #519 closed

[2021-08-07 17:11] JeanChristopheMorinPerso commented on #1039
So I verified and the old uploader was effectively automatically calling `coverage xml`, see https://github.com/PixarAnimationStudios/OpenTimelineIO/runs/3164264965?check_suite_focus=true#step:11:1288.

[2021-08-07 19:27] meshula commented on #1039
Thanks for taking a look at this. There's been a lot of strangeness around codecov this week, and I'm glad you've got some insight into what's going on.

[2021-08-09 12:20] ValentinNikin opened #1042 "Walking <class 'aaf2.components.NestedScope'> not implemented"
### Incorrect Functionality and General Questions

I try to read structure of the aaf file timeline, and I got the next error.
[code]

## To Reproduce

1. Google Colab
2. Python 3.7
3. 0.13.0

## Additional Context

My aaf file https://drive.google.com/file/d/1sj66C3u_uj_5zmbBsEijqKB4zh98gyQd/view?usp=sharing. I think this problem occured when I generate aaf file with nested sequence. Aaf file gen

[2021-08-15 17:45] JeanChristopheMorinPerso commented on #667
Hi @lgmventura, thanks for taking some time to test the wheels! For posterity, can you tell us which platforms and python versions you tested on please?

[2021-08-15 19:50] lgmventura commented on #667
Hi @JeanChristopheMorinPerso, sure!
Platform: Ubuntu 20.04.
Python version: 3.9, which comes with Blender 2.93.0. Pip installed there through Python itself, using the script get-pip.py.

[2021-08-15 20:06] JeanChristopheMorinPerso commented on #667
Thanks for the info. FYI we don't compile wheels for Python 3.9 yet, which means that you basically didn't use wheels and so OTIO was compiled on your computer when you called `pip install`.

[2021-08-15 20:32] JeanChristopheMorinPerso commented on #828
@meshula I've tried 3.9 a couple of times on Windows and it was working from what I remember.

As for the other platforms, I haven't seen any problem lately when building with Python 3.9.1+.

[2021-08-18 17:27] darbyjohnston opened #1045 "Update Python code to use the new functions children_if()/clip_if()"
As a follow up to https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/925, this issue is for updating the Python code to use the new functions children_if() and clip_if().

[2021-08-22 05:12] cyborgbabe opened #1048 "Can't PIP instsall OpentimelineIO"
Hi everyone!
I'm going a tiny bit crazy trying to install OpentimelineIO so that I can export videos on Kdenlive, but so far it's been impossible. I'm operating on Ubuntu 21.04; KDA plasma 5.21.4.

I've installed PIP and upgraded the wheel requirements, and intalled Cmake, but when trying to install OpentimelineIO I keep getting an error sayig said file doesn't exist.

When repeating the command t

[2021-08-22 17:47] meshula commented on #1048
Is cmake in your path? I mean, if you type cmake does it run?

[2021-08-22 18:23] cyborgbabe commented on #1048
I'm not sure... when typing Cmake on the terminal it gives me this message

Usage

  cmake [options] <path-to-source>
  cmake [options] <path-to-existing-build>
  cmake [options] -S <path-to-source> -B <path-to-build>

Specify a source directory to (re-)generate a build system for it in the
current working directory.  Specify an existing build directory to
re-generate its build system.

Run 'cmake

[2021-08-23 11:42] Tilix4 commented on #828
Python headers will be included into Blender's build: https://developer.blender.org/D12228

[2021-08-23 11:42] Tilix4 commented on #667
Python headers will be included into Blender's build: https://developer.blender.org/D12228

[2021-08-23 19:12] cyborgbabe commented on #1048
Hi again!!

Cmake was actually not in my path, and after digging around a little bit I found this line of command

After which I was able to run

It still gave out a lot of error messages like

and ultimately failed to build a wheel for OpentimelineIO, but in the end it successfully installed the program! Thank you Meshula for pointing that out and hope this helps anyone with a similar problem n.n

[2021-08-23 19:12] #1048 closed

[2021-08-23 19:51] meshula commented on #828
That's nice to see!

[2021-08-23 21:29] meshula commented on #1048
Glad you got a successful install :) I hope next time it goes more smoothly!

[2021-08-24 22:38] reinecke opened #1050 "ALE adapter round-trip CDL Values"
## Feature Request

New feature

## Description

The ALE adapter reads CDL values into the `cdl` namespaces of clip metadata dictionaries from the `ASC_SAT` and `ASC_SOP` fields, however it does not write them back out. It would be helpful to have the ALE adapter round-trip this data. This would also match the EDL adapter behavior.

## Context

For how the adapter reads CDL values, look [here](htt

[2021-08-29 12:08] Viraj-Rana008 commented on #1050
I want to work on this enhancement.
So what we need is to append the ASC_SAT and ASC_SOP values in the line list (of _parse_data_line function). In the same format as done in the EDL adapter. Right?

[2021-08-30 23:41] reinecke commented on #1050
Hi @Viraj-Rana008 Thanks for your interest!
I'd look at the [write_to_string function in the adapter](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/8bc311f64b135dc206cc63eee2f4a34eced1c974/contrib/opentimelineio_contrib/adapters/ale.py#L270).

Note that at the moment, the adapter [builds a list of columns](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/8bc311f64b135dc2

[2021-08-31 20:45] timlehr opened #1055 "Expose AAF MOB usage metadata"
## Feature Request

New Feature

## Description

Sometimes Avid subclips need special treatment, depending on your workflow / pipeline. Currently it's not possible to identify subclips converted from AAF in the converted OTIO data. To enable this, we should include the source MOB "usage" attribute value in the metadata.

[2021-09-03 22:19] #1035 closed

[2021-09-03 22:20] #1033 closed

[2021-09-06 19:34] darbyjohnston opened #1060 "Error handling fixes"
As pointed out by @gfgit, there is an issue with the error handling in the new C++ functions ```Composition::child_at_time()```, ```Composition::children_in_range()```, ```Composition::children_if()```, and ```SerializableCollection::children_if()```.

The code currently looks like this:
[code]
But should look like this (similar to the surrounding code):
[code]
We don't need to check whether ```er

[2021-09-07 01:35] meshula commented on #1060
Repeating the notes on the PR here. The bug being fixed isn't a bug...

The reason the null checks were on the error_status was because we pass in a pointer, that can be null, which causes crashes upon dereference. Clearly that's confusing as there's ambiguity as to whether the error status is supposed to be checked, or if the error status is merely a place to write.

This code is meant to write t

[2021-09-07 16:43] darbyjohnston commented on #1060
I think there are two issues here; first, the PR does fix a legit bug in the error handling of the new functions I added. The changes in the PR will fix the functions so that they properly catch errors and return from the function when an error occurs.

The second issue is about passing ```error_status``` as a pointer in the C++ API; if it's expected to always be a valid pointer that should probab

[2021-09-07 17:57] meshula commented on #1060
I'm not comfortable with the notion that !error_status was interpreted by readers as evaluating a status, nor am I comfortable with *error_status evaluating status. I'd prefer an optional<ErrorStatus> as the only variant that actually expresses intent. Also I'd prefer that asterisk is not the test, but an explicit test, something like

[code]
Anything else, and we're asking people to memorize ambi

[2021-09-07 18:15] darbyjohnston commented on #1060
The asterisk isn't even the actual test, it dereferences the pointer so that ```ErrorStatus::operator bool()``` can be used to test whether the outcome is != OK. I think that combination of pointers and operators is maybe a bit confusing.

Using an optional is interesting, in that case would it be defaulted to null for all of the functions? The downside is that changing the API would require all C

[2021-09-07 18:22] meshula commented on #1060
Yes, it is the bool() operator that I am explicitly objecting to. Sadly, on further thought, passing an optional has the same problem I mentioned versus language bindings. For now, I'd be satisfied with a null pointer test followed by a test that is not a bool() conversion.

[2021-09-07 18:50] darbyjohnston commented on #1060
If we are allowing ```error_status``` to be null, how about defaulting it to null for all functions? That way it's self-documenting that it can be null, and allows a user of the API to ignore it if they don't want to do error checking.

[2021-09-07 19:55] meshula opened #1062 "An issue with the use of Imath in OpenTimelineIO."
This issue duplicates https://github.com/AcademySoftwareFoundation/Imath/issues/210

OpenTimelineIO is moving to use Imath for it's math computations and math representations. OTIO has a requirement to be able to specify a covering for the plane that is unique in a continuous domain. In other words, given a bound from (0, 1), and another from (1, 2), OTIO requires that a sample at the value 1 fall

[2021-09-07 20:56] ssteinbach commented on #1060
Should we have a macro for checking this?  something that wraps up the null check and returns a default error status thing if it is a nullptr?

[2021-09-07 21:39] ssteinbach commented on #1060
Thinking about it some more, if we used a `std::pair` to return {error, value} instead of error_status*` + mutable reference, that might work better

[2021-09-07 22:14] darbyjohnston commented on #1060
Maybe instead of a macro, a static function on ```ErrorStatus```:
[code]
Used like:
[code]

That's an interesting idea about std::pair; so the function:
[code]
Would look like this instead?
[code]
That might get a bit complex with some of the other functions:
[code]

[2021-09-07 23:38] ssteinbach commented on #1060
Right.  I would probably put the error first in the pair.  And you could wrap that in a macro:

`#define ERROR_WRAPPER(type) std::pair<ErrorStats, type>`
so you would have:
` ERROR_WRAPPER(std::pair<optional<RationalTime>, optional<RationalTime>>) handles_of_child(Composable const* child) const;`

maybe?  just a thought.  @meshula.  We could discuss it at the TSC meeting if people are interested i

[2021-09-07 23:45] meshula commented on #1060
Another variant is to not use a pair, but an explicit template because we don't actually want the polymorphic nature of pair.
e.g.
[code]

[2021-09-08 00:15] darbyjohnston commented on #1060
I wonder if that would make things more difficult for the language wrappings? It would also require updating all of the bindings and C++ client code which is a fair bit of work.

After thinking about it some more, my preference would be keeping the API mostly the same but with a couple changes to help improve the clarity:
* Add nullptr defaults to the C++ function declarations that take ```error_s

[2021-09-08 00:31] meshula commented on #1060
I don't expect it to be difficult to bind per se. The advantage is that modern languages generally have multiple returns, so the class would map onto a multiple return. It would be a tedious and time consuming change however!

Your latter suggestion is the lightest touch, and gets rid of the operator bool, so I'd personally be fine with that.

[2021-09-10 00:12] darbyjohnston commented on #1060
I updated the PR with my proposed changes, and also converted it to a draft since we are still iterating on the issue.

I didn't remove ```ErrorStatus::operator bool``` yet, since that would require updating all of the code and I just wanted to get feedback about the proposed changes. I just updated the code in the original PR to use the new member function instead of the operator.

[2021-09-11 03:25] #1001 closed

[2021-09-13 00:10] #470 closed

[2021-09-13 00:24] andrewmoore-nz commented on #483
@jminor @ssteinbach @reinecke Was any progress ever made on this concept? It seems that the use case for this is still very relevant.

[2021-09-13 20:07] ssteinbach commented on #483
To my knowledge, no one has worked on this.  Looking over this issue now, I think my suggestion would be, if you wanted to take a pass at it, to build out a google doc or documentation file in the repo itself that describes how the muted functionality would work in the data model.  That could outline which checks to existing functionality need to be added such that muted clips are handled differen

[2021-09-15 03:23] visajshah commented on #682
@reinecke Does this issue still need work? If so, I'd like to work on it.

[2021-09-17 23:50] darbyjohnston opened #1068 "Upgrade to C++14"
As discussed in https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1047

[2021-09-18 00:30] #1068 closed

[2021-09-18 20:47] darbyjohnston opened #1071 "Fix Makefile format: target"
The Makefile format: target recipe is indented with spaces causing it to run when ```make test``` is run (or maybe any target?). Replacing the spaces with tabs fixes the issue.

[2021-09-22 05:31] visajshah commented on #682
@reinecke @meshula I have made a PR resolving this issue. Please review, and let me know if any changes are needed.

[2021-09-22 16:36] meshula opened #1078 "Makefile should detect missing clang-format"
the Makefile has a pattern in it:

[code]

So it prints a small error message when the program is missing indicating that the target won't work. Adding that for clang-format would help people out in case they don't have it on their path. ~ @ssteinbach

[2021-09-22 16:37] meshula commented on #1071
Added a new issue for the Makefile clang-format detection #1078

[2021-09-22 17:27] #1071 closed

[2021-09-24 07:04] tin2tin commented on #667
@meshula An update including the win wheel is still missing from pypi.org?

[2021-09-24 16:16] meshula commented on #667
Thanks for noticing that. We have issues being automatically closed if a PR mentions them. Probably an undesirable feature...

The good news is we have the ability to make wheels as of yesterday, thanks @JeanChristopheMorinPerso, but we haven't published any yet.

[2021-09-24 16:20] ssteinbach commented on #667
I think this will happen once we make a new release, we typically don't put the head revision on pypi.

[2021-09-24 16:35] JeanChristopheMorinPerso commented on #667
Next steps are (if I'm not mistaken):
* Add support for Python 3.9 (and so 3.9 wheels) (https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/828). This work has already been started by me and the main issue that was blocking progress has been solved last week. So the rest of the work will be quick and I'm planning to look at that this weekend.
* Hook GitHub releases into GitHub actions s

[2021-09-26 04:27] JerryKon opened #1082 "KeyError of 'UsageCode'"
Before opening a bug report, please search open and closed issues to see if the problem has already been addressed. If there is such a report, and your issue is not adequately addressed there, please reference the issues in your new report.

## Bug Report

Please pick one of the following categories:

### Build Problem
[code]
Error Output

Traceback (most recent call last):
  File "<stdin>", line

[2021-09-26 19:33] darbyjohnston opened #1083 "Unicode file names on Windows"
File names with Unicode, for example "大平原.otio", cannot be opened on Windows with the C++ example programs.

[2021-09-26 19:44] darbyjohnston commented on #1083
PR: https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1081

[2021-09-29 11:08] JerryKon commented on #1082
Noticed that this is caused by a bad aaf file. The code works with normal aaf file.

[2021-09-29 16:32] #1082 closed

[2021-09-30 02:13] #828 closed

[2021-09-30 02:17] #1005 closed

[2021-09-30 17:14] #1078 closed

[2021-09-30 17:28] jminor opened #1089 "Spatial coordinate support in at least one adapter"
## Feature Request

Let's add support for spatial coordinates in at least one adapter.

## Description

Which adapters make sense? And which formats already have support for something similar?

[2021-09-30 17:29] jminor opened #1090 "Add spatial coordinate documentation into the docs folder"
## Feature Request

Let's add the documentation for the spatial coordinates feature into the OTIO docs.

[2021-09-30 23:28] #1083 closed

[2021-10-01 18:50] jminor opened #1092 "Support for Image Sequence References in Final Cut 7 XML Adapter"
## Feature Request

It would be great if the Final Cut 7 XML adapter supported ImageSequenceReferences.

## Description

I'm not sure if/how the FCP 7 XML format handles image sequences, so this would need some investigation or expertise to figure out the right way to convert them back and forth.

## Context

At the moment, if an OTIO has ImageSequenceReferences in it, then it can only be converte

[2021-10-01 18:54] jminor commented on #1092
For reference, the FCP 7 XML format is documented here: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/FinalCutPro_XML/AboutThisDoc/AboutThisDoc.html#//apple_ref/doc/uid/TP30001152-TPXREF101

[2021-10-01 23:42] JeanChristopheMorinPerso opened #1094 "VFX Platform compatibility"
In the last TSC meeting, we discussed about which VFX Platform years we support.

Meeting notes: https://docs.google.com/document/d/14PmEo9ukURmU9OKh4TAo02-e6cSqgnfHFgsURvlqFK8

Excerpt from the meeting notes:

I thought it would be nice to have a checklist to verify our compliance with the VFX Platform.

- [x] Linux (`glibc` 2.17): Our Python wheels are built using the `manylinux2010` docker imag

[2021-10-03 02:19] meshula commented on #1094
Everything here makes a lot of sense to me.

I would want to keep the Ubuntu 20 target irrespective of using the aswf docker images, which I of course support. To my thinking the Ubuntu 20 target covers the "real world" outside of the M&E echo chamber :)

[2021-10-06 23:43] #801 closed

[2021-10-08 09:00] JerryKon commented on #681
I am still getting this problem. And cannot find the way to solve this in #667 . I'm using the 0.13.0,python 2.7.

[2021-10-10 02:02] nitinkumartech opened #1096 "build_simple_timeline.py example is broken"
### Build Problem

python build_simple_timeline.py /mnt/e/yt/ex.xml

`Traceback (most recent call last):
  File "test.py", line 87, in <module>
    main()
  File "test.py", line 83, in main
    otio.adapters.write_to_file(tl, args.filepath)
  File "/home/cypher/miniconda3/envs/edit/lib/python3.8/site-packages/opentimelineio/adapters/__init__.py", line 191, in write_to_file
    return adapter.write

[2021-10-12 03:00] JerryKon opened #1100 "_opentime cannot be found in Windows"
### Incorrect Functionality and General Questions

_opentime cannot be found in Windows, Python 2.7.16, otio 0.13.0 installed with pip.
And cannot find how to solve it in issue #681 and #667 .

## Logs

    import opentimelineio as otio
  File "l:\packages\pg\third_party\plugin\otio\0.13.0\platform-windows\python-2.7.16\opentimelineio\__init__.py", line 35, in <module>
    from . import (
  File "

[2021-10-12 04:38] ssteinbach commented on #1096
I'll fire an issue about the FCPXML and EDL adapters.  For now I'm going to make a PR that adds a source_range call to `build_simple_timeline.py` so that it works as advertised.

[2021-10-14 00:24] jminor opened #1102 "Muted clips/tracks"
## Feature Request

Many audio and video editing applications and formats have a toggle to "muted" or enable/disable individual clips, tracks, effects or other elements. OTIO is missing this feature, which has led some of the adapters to include work-arounds involving metadata, gaps, or other mechanisms to fill this need. We should introduce a new property which represents this concept as a first

[2021-10-14 05:33] ci010 commented on #1100
Same issue here on windows x64 python3 in virtualenv.

I found a workaround that copy all the dll files under `Libs/site-packages/opentimelineio/cxx-libs/bin/` to  `Libs/site-packages/opentimelineio`. Then the _opentime.dll can be found.

[2021-10-14 05:39] meshula commented on #1100
We're working on getting wheels created regularly for Windows, things will be smoother when that's up and running. Keep an eye on this PR: https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1099

[2021-10-14 15:48] jminor commented on #376
Here's another example that illustrates the same problem.

[stack_with_clips.otio.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/7347540/stack_with_clips.otio.zip)

[2021-10-15 07:22] apetrynet opened #1103 "Support for Image Sequence Reference in the FCPX adapter"
## Feature Request

Like with issue #1092, it would be great if the Final Cut Pro X adapter supported  `ImageSequenceReference`'s

## Description

As with FCP 7 XML, some research must be done on support for image sequences in the [FCP-X XML format](https://developer.apple.com/documentation/professional_video_applications/fcpxml_reference)
The `videoSources` attribute of an [asset](https://develop

[2021-10-18 02:02] meshula commented on #1102
DAWs (Digital Audio Workstations) have the complementary features Mute and Solo. (Mute silences a track, Solo silences all but a track.) If you have multiple alternate clips for editorial to select amongst, Solo would mean "pick this one"; the alternative would be to mute each individually, and unmute one.

The question on visible() is important, and the fact that there is a question highlights th

[2021-10-19 00:24] darbyjohnston opened #1108 "Add license headers to source files"
All source files (*.h, *.cpp, and *.py) should have headers that identify the OpenTimelineIO license and copyright:
https://github.com/AcademySoftwareFoundation/tac/blob/main/process/contributing.md#license

For example:
[code]

[2021-10-20 09:43] apetrynet commented on #818
_gentle bump in case it's a bug and we want to fix it before 0.14 release._

[2021-10-20 20:53] jminor commented on #818
That sounds like a nice addition to the API. The rate argument could have a default value to match the current behavior.

[2021-10-21 09:41] JerryKon commented on #1100
I have no .opentimelineio/cxx-libs folder.

[2021-10-21 18:07] ssteinbach opened #1111 "`make` triggers header installation (should only be `make install`)"
The cmake scripts have a bug in them that installs the headers even when only building and not installing.

[2021-10-22 02:03] #1111 closed

[2021-10-22 03:23] ssteinbach commented on #1111
closed by: #1113

[2021-10-22 22:51] #574 closed, assigned to meshula

[2021-10-25 18:52] ssteinbach opened #1121 "rename master branch to "main""
We would like to rename the branch currently named "master" to "main".

https://github.com/github/renaming

Users shouldn't need to make any changes (unless they'd also like to rename the "master" branches in their clones/forks).  Documentation suggests all PRs and GitHub tooling will be updated by renaming the branch.

Using this issue as a scratch pad for tracking any issues/required changes tha

[2021-10-26 15:12] mrpurest opened #1123 "build_simple_timeline.py creates a file with: "global_start_time": null"
### Incorrect Functionality and General Questions

I am trying to create a super simple edit, and then pass this to resolve to render.
I am not sure why its failing but I notice 'global_start_time' is null. which seems wrong.

I tried running the :  build_simple_timeline.py   script, and it does the same thing....

maybe this is the expected behaviour?

## To Reproduce
centos 7
python2.7
OpenTimel

[2021-10-26 15:36] #1123 closed, assigned to nobody

[2021-10-27 17:47] #1121 closed, assigned to ssteinbach

[2021-10-27 20:34] #8 closed, assigned to nobody

[2021-11-02 09:55] Tilix4 commented on #667
Very nice! Thank you very much for your work!

[2021-11-02 18:46] ssteinbach commented on #907
_apologies in advance for the long answer_

# Why is the `.metadata` dictionary no longer a python `dict`

A follow up question came up on slack:

To explain what I meant, there are three major points:

1. It isn't a `dict`, in fact, it can't be of type `dict` because of the nature of python-wrapped C++
2. Even if it was possible (as was the case in the pure python implementation of OTIO), it prob

[2021-11-03 17:07] jminor commented on #815
Addressed by #1057

[2021-11-03 17:07] #815 closed

[2021-11-03 20:51] jminor opened #1133 "Verify VFX Platform compatibility"
Our README badge claims that we support VFX Platform 2018-2021, but we haven't (to my knowledge) built and run the tests on all of those recently.

Perhaps we could use our CI system to verify which VFX Platform versions OTIO is compatible with.

Reference: http://vfxplatform.com

[2021-11-03 20:53] jminor commented on #1133
Oops, this is a duplicate of #1094

[2021-11-03 20:53] #1133 closed

[2021-11-03 20:58] jminor commented on #1094
I agree that covering the VFX Platform in addition to (not instead of) the mainstream Ubuntu CI is a good idea.

[2021-11-03 21:51] rcunning opened #1134 "pip install for version 0.14 fails on Debian"
# Build Problem

[code]

### Incorrect Functionality and General Questions

Install fails with
[code]

## To Reproduce

1. debian:buster (Dockerfile FROM node:16)
2. 3.7.3
3. python3 -m pip install opentimelineio
4. 0.14
5. Compiler information:
[code]

## Expected Behavior

pip module installs correctly

## Logs

Full log:
[code]

[2021-11-03 21:56] JeanChristopheMorinPerso commented on #1134
Hello @rcunning , would you mind giving us the output of `python3 -m pip debug --verbose` please?

[2021-11-03 22:11] JeanChristopheMorinPerso commented on #1134
Actually, I re-read the description and you said you are using the `node:16` docker image. This image comes with pip 18.1. Our wheels in PyPI are using the `manylinux2010` tag and this is only supported since pip 19.0 (see https://pip.pypa.io/en/stable/news/#v19-0).

So I would recommend to `python3 -m pip install pip --upgrade --user` and that will solve your issue.

[2021-11-03 22:27] rcunning commented on #1134
@JeanChristopheMorinPerso Thanks so much - that would have been hard to find.

[2021-11-03 22:28] #1134 closed

[2021-11-04 20:45] timlehr opened #1135 "AAF adapter: animated parameters are omitted"
## Feature Request

Animated AAF properties are omitted during translation. We would want do add them back in.

## Description

**Updated: adressed issue of non-linear values**

Currently the AAF adapter does not transcribe any animated parameters / properties from the source AAF file. If a parameter is animated `aaf2.misc.VaryingValue` (e.g. animated grid effect), the parameter will be omitted fr

[2021-11-08 21:34] ssteinbach commented on #1135
I'm happy to discuss further in the TSC, but I feel like at least for now, this should remain in the domain of user-defined content, just for interchange within a pipeline and not part of the OTIO main project (yet):

- these kinds of values are embedded in a coordinate system. Is it a time curve?  Is it in the space of the clip?  of the track?  Of the output timeline?
- Given that they're in a co

[2021-11-09 15:33] ThomasWilshaw opened #1139 "Read the Docs line length"
Whilst looking through the docs  [here](https://opentimelineio.readthedocs.io/en/latest/tutorials/otio-serialized-schema.html?highlight=image%20sequence#imagesequencereference-1) I noticed some of the descriptive text in the documentation has a very long line length making viewing a bit of a pain. I have opened a PR to fix this issue and will have a look to see if it's the same any where else.

[2021-11-09 16:57] meshula commented on #1139
since you submitted a PR, I assume you didn't find any other unwrapped things?

[2021-11-09 17:55] ThomasWilshaw commented on #1139
There were a few other places but they were all single line commands rather than blocks of text and I assume should be left as a single line?

[2021-11-10 09:44] cuiyunpengit opened #1141 "AAF Reader: Errors on read attempts"
I got the following error when reading part of the .fcpxml file.

**'NoneType' object has no attribute 'find'**

[code]
## To Reproduce

1. Operating System: CentOS 7
2. Python version: Pythoin 2.7.18
3. OpenTimelineIO release version or commit hash: OpenTimelineIO==0.13.0

[2021-11-10 10:05] apetrynet commented on #1141
Hi, @cuiyunpengit
I'm not that familiar with the AAF adapter, but looking at the log you provided it seems the "fcpx_xml" adapter is actually used. Are you sure you passed an AAF file?
To make sure you use the AAF adapter you may provide the additional "adapter_name" argument in `otio.adapters.read_from_file(xml_path, adapter_name="AAF")`

Please also note that there is a 0.14.0 release of OTIO ou

[2021-11-10 10:18] apetrynet commented on #1141
Sorry, looking at this again.. The title confused me a bit :) Perhaps change it to FCP XML adapter.

Is your file an FCPX file or FCP7?
If the latter, try: `otio.adapters.read_from_file(xml_path, adapter_name="fcp_xml")`

[2021-11-10 10:20] cuiyunpengit commented on #1141
I try 'fcp_xml', now return this error.
![image](https://user-images.githubusercontent.com/35796004/141095250-4257272c-33d8-4877-b73c-7f0f82de79e9.png)

[2021-11-10 10:24] cuiyunpengit commented on #1141
When reading other fcpxml files, without `adapter_name='fcp_xml'`, it can be read normally.
![image](https://user-images.githubusercontent.com/35796004/141095846-0ff7ef9c-ce3f-4060-86d1-985f9ce34081.png)

[2021-11-10 10:27] cuiyunpengit commented on #1141
And file is FCPX.

[2021-11-10 10:41] apetrynet commented on #1141
So you're able to read other FCPX files and it's just the one file you mentioned initially that causes an error?
Perhaps there's something wrong with that file?
If you're the creator of the file, see if another export from fcpx produces a valid one. Or try looking at it and narrow down what differs between the ones that work and this one.

If you still have an issue, would you be able to produce a

[2021-11-10 11:07] cuiyunpengit commented on #1141
Yes, other files can be read. I re-exported a new fcpxml and tried to read it, but the same error was still reported. I intercepted some fragments and exported a fcpxml file for debugging. Finally, @apetrynet thanks for your help
[test.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/7512132/test.zip)
.

[2021-11-10 11:50] cuiyunpengit commented on #1141
I Found the reason, it was caused by the black field on the Custom layer. After I moved out of this layer, the exported fcpxml file can be read normally. And this layer from the generator that comes with the software. Now, this is not supported, I can only remove it now.  ´_>`
![image](https://user-images.githubusercontent.com/35796004/141107007-11bcca7b-f2b4-4b91-8788-a9946108d65c.png)

[2021-11-11 18:16] jminor commented on #790
Closed by #789

[2021-11-11 18:16] #790 closed

[2021-11-15 15:15] rogernelson opened #1146 "The RV application plugin test fails"
## Bug Report
### Incorrect Functionality and General Questions

The RV application plugin test fails when it is run.  Output:
[code]

## To Reproduce

1. Operating System: Mac OS 11.6
2. Python version: System (Python 2.7.16)
3. Example snippet that demonstrates the issue - if it's a build issue:
4. OpenTimelineIO release version or commit hash: 1ba6d78
5. Compiler information: Apple LLVM version

[2021-11-15 15:33] rogernelson opened #1148 "RV plugin test does not run on Mac"
## Bug Report
### Incorrect Functionality and General Questions
The RV plugin test does not run on Mac.

[code]

## To Reproduce

1. Operating System: Mac OS 11.6
2. Python version: System (2.7.16)'
3. Example snippet that demonstrates the issue - if it's a build issue:
4. OpenTimelineIO release version or commit hash: 1ba6d78
5. Compiler information: Apple LLVM version 10.0.0 (clang-1000.11.45.2)

[2021-11-15 18:38] #1146 closed

[2021-11-16 22:45] #1148 closed

[2021-11-17 14:28] ThomasWilshaw commented on #1102
I'd be interested in having a go at this. I assume a start would be to:
- Writing  set and get methods for `enabled`
- Add these to the Python bindings
- Add unit tests
- Update the FCPXML and EDL adapters

[2021-11-17 23:22] #307 closed

[2021-11-17 23:23] jminor commented on #307
Thanks to @freesonluxo @shahbazk8194 @timlehr and several others who helped to get this done :)

[2021-11-17 23:50] jminor commented on #1102
Yes, that would be great. Other schema enhancements have started with a brief markdown document describing the new schema and API so that others can provide comments & discuss. This has been very helpful to provoke some research on how other formats and programs handle the same concept so we can make sure the schema covers any challenges that might be lurking later when support is added to the ada

[2021-11-18 18:44] timlehr commented on #1135
Thanks for the feedback @ssteinbach!

I addressed some of your concerns regarding non-linear interpolation curves by adding optional per-frame baking of the property value to the proposal.

A working implementation is available as a draft #1151.

[2021-11-18 23:29] ThomasWilshaw commented on #1102
I've created a first raft proposal [here](https://gist.github.com/ThomasWilshaw/2c09007d9190fb8e959e51479cf72666), is this this a reasonable start? I'm very new to the code base so there are undoubtedly things I've missed or not thought about.  ALso I wassnlt sure where there best place to host the proposal was so let me know if there's somewhere better

[2021-11-20 19:09] meshula opened #1153 "Comprehensive C++ test suite"
## Feature Request

Full C++ test suite

## Description

We currently rely on the Python tests to fully exercise the C++ implementation. We should thoroughly test the C++ implementation, via C++.

## Context

This is a prerequisite for a 1.0 release.

I propose that we port the C binding tests to C++ as they are thorough, and can be transliterated to C++ with a small effort.

[2021-11-27 12:29] codingcatgirl opened #1159 "Kdenlive adapter no longer working"
## Bug Report

### Incorrect Functionality and General Questions

The kdenlive adapter does not seem to work any more. I looked into the python code a bit and it looks like it's expecting the kdenlive project file to look completely different than it does, it's likely that kdenfile has changed their file format and how they handle tracks in it quite significantly.

[code]

This problem has also be

[2021-11-27 13:06] codingcatgirl commented on #1159
I found the issue and submitted a pull request.

[2021-12-01 17:31] Tilix4 opened #1165 "RationalTime rate shouldn't allow to set 0 as value"
## Bug Report

### Incorrect Functionality and General Questions

Describe the issue here.

## To Reproduce

1. Operating System: Any
2. Python version: Python3.9
4. OpenTimelineIO 0.14.0

[code]

## Expected Behavior

Setting `0` as `RationalTime.rate` value must raise a `ValueError("Rate must be positive.")`.
I'm not sure a rate could be negative though, unless it means the movie must be played

[2021-12-01 18:07] meshula commented on #1165
Thanks for the report!

Note to the implementor of a fix: OpenTime itself doesn't throw exceptions from the foundational types of TimeRange and RationalTime. The expected implementation would be implemented on the assignment to source_range within Clip.

Currently, source_range is stored as `optional<TimeRange>`. Checked values in OpenTimelineIO itself either throw, or set an `ErrorStatus`. Due to

[2021-12-01 18:22] jminor commented on #1165
Another option is to do more rigorous validation at other times, like right before and after function calls that are expected to have completely valid timelines. Specifically, adapters.write_to_file and possibly read_from_file could validate the timeline including every time range.
By doing this validation only at moments when the whole timeline is being processed, we can check for both small and

[2021-12-01 19:20] rogernelson commented on #1165
What about using nodiscard with ErrorStatus:
[code]

Then the signature of set_source_status could be changed to
[code]
Resulting in a compilation error if any callers ignored the return value.  Of course, this implies that anywhere ErrorStatus is returned, it would need to be handled, but that's not necessarily bad...

[2021-12-01 19:31] meshula commented on #1165
The `[[nodiscard]]` tag is worth looking at for an overall API scrub, now that you mention it.

The reason I was thinking of the checked_optional pattern is that throughout the python bindings we have this pattern in dozens of places:

[code]

the most common method we use for setting in python is not the set_ functions, but rather the auto-magic property bindings. By introducing a new checked_opt

[2021-12-04 15:26] KarthikRIyer commented on #1103
I was looking at this.
It seems the `videoSources` attribute is just for psd files with multiple layers.

I tried importing an image sequence and them exporting an xml.

Simply exporting multiple images on the timeline does something like this:

[code]

Making a compund clip from the images does something like this:

[code]

There doesn't seem to be a specific image sequence tag. I'm not sure how

[2021-12-08 16:23] Tilix4 opened #1171 "Forbid nesting a Track into a Track or automatically insert a Stack in between"
## Feature Request

Proposed Change to existing Behavior

## Description

Appending a `Track` into a `Track` makes no sense if a `Stack` isn't inserted as a parent of an appended `Track`.

We could either decide to forbid appending a `Track` to a `Track` or automatically insert a `Stack` in between.

## Context

[code]

[2021-12-08 17:12] ssteinbach commented on #1171
Why should inserting a track inside a track be an error?  We allow nesting both tracks inside tracks and stacks inside stacks.

[2021-12-08 17:30] Tilix4 commented on #1171
Yes I know you allow it, I'm just raising that it doesn't make sense to me, for the Track > Track for sure, not sure about the Stack > Stack.

How would you represent into an editing software to have a Track inside a Track? In an architecture schema?

[2021-12-08 18:09] ssteinbach commented on #1171
This has examples of nested compositions:
https://opentimelineio.readthedocs.io/en/latest/tutorials/otio-timeline-structure.html

I don't see one on there for a track with a nested track specifically, but we could add that.  A track contains a sequence of items ordered in time such that one follows the next.  One of those items could itself be a track containing more items sequentially ordered in

[2021-12-08 18:11] ssteinbach commented on #1171
Here is a relevant unit test:
https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/b566b316b2fa4cb9254f0b5d4af4ed636513d0d3/tests/test_composition.py#L1144

[2021-12-08 18:15] meshula commented on #1171
Media composer calls them "single layer submaster".

[2021-12-08 18:18] ssteinbach commented on #1171
Ah yes, here: https://resources.avid.com/SupportFiles/attach/MCEffects.pdf

search for "submaster"

[2021-12-08 18:43] Tilix4 commented on #1171
I completely understand what you mean, but all your examples show a `Stack` having several `Track`s with their clips and put inside a "bigger" `Track`. That's my original point, saying: "I want`Track`s into a `Track`" would actually mean "I want a `Track` to contain a `Stack` with numerous `Track`s in it".

That being said, we could consider a `Track` is a `Stack` with only one single `Track` in i

[2021-12-08 19:19] ssteinbach commented on #1171
These are two separate concepts to us.  A stack and a track both compose their children in _time_.   Having a stack with three clips in it rather than three tracks each with one clip would render to the same thing but could mean something different organizationally.  You could also have two clips and a track containing three more clips in order.  Similarly, a track could contain three clips, or th

[2021-12-09 02:46] meshula commented on #1171
I think the summary you came up with, "stacks are temporarily coincident (i.e. things that start playing at the same time)" and "tracks are temporally adjacent (i.e. things that play one after the other, with a sneaky twist for blends)" is a really nice way to summarize it. This conception allows thinking more easily about a timeline composition as a flow graph. The choice of the terms "track" in

[2021-12-09 02:51] JeanChristopheMorinPerso commented on #1171
There is one I believe yes. BTW, I've been doing work on the python docs, and bringing back the docs that was lost in translation is part of the things I'm working on.

[2021-12-09 06:23] ssteinbach commented on #1171
Awesome!  That will be a huge help!  Thanks!

[2021-12-09 08:59] Tilix4 commented on #1171
I agree this helps a lot and completely makes sense. My first wonder was because I was thinking about it spatially, like a bookshelf, where the Stack is the support and the Track is the shelf, then putting a shelf on a shelf doesn't make sense and may require a support first. I came up with that because that's how NLE editors represent the editing.
Actually, putting it in a time based approach mak

[2021-12-09 17:35] jminor commented on #1171
It might be helpful to share a little more background on the design choices that lead to how OTIO is now. We considered several different options on how the composition structure works when designing Timeline, Stack, and Track.

In one extreme which is most similar to how NLE user interfaces are presented, Timeline and Stack could be the same thing, (e.g. a Timeline has a list of Tracks) and the s

[2021-12-09 19:06] KarthikRIyer commented on #1103
What if we checked the extension of src files, and if it's an image, interpret it as an image sequence.
We could check for formats supported by oiio, maybe?

[2021-12-09 20:07] apetrynet commented on #1103
Disclaimer.. I don't know much about fcpx an I haven't used fcp in a while.

How did you import the image sequence? Just dragging them in might not register as a sequence, but individual files like you mention.
I seem to recall there being a checkbox in the import dialog toggling if images should be treated as a sequence or not. (Or was that premier?)

[2021-12-09 20:10] KarthikRIyer commented on #1103
Yes, I dragged in the images. I haven't used fcp before. Just premiere. I googled about importing image sequences in fcp, all sources talk about just dragging them in and setting the duration if each image = 1 frame.

Yes, the checkbox for image sequence is in premiere.

[2021-12-10 00:27] Toadman30 opened #1172 "Could not build wheels for OpenTimelineIO"
I'm getting this error when trying to build python -m pip install .[dev]. Wondering if someone knows why.

zPushpin-VFX-Editor:OpenTimelineIO-main_0.15 user$ python -m pip install .[dev]
Processing /Users/user/Downloads/OpenTimelineIO-main_0.15
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already

[2021-12-10 01:38] JeanChristopheMorinPerso commented on #1172
Hello @Toadman30, can you tell us a bit more what you are trying to do? The issue title indicates you want to build wheels but the command you use (`python -m pip install .[dev]`) is for doing local development or installing from source. This command isn't used to created a wheel.

I also see `OpenTimelineIO-main_0.15` as being the name of the directory, which almost seems like you downloaded OTIO

[2021-12-10 14:59] foundry-markf opened #1173 "Windows Python debug pyd suffix"
## Bug Report

### Build Problem

I note in the current build scripts that the `d` suffix is added for debug builds on Windows

https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/main/CMakeLists.txt#L166-L171

However, in the Python build scripts, the .pyds have a `_d` suffix for a debug Python build on Windows, see

https://github.com/python/cpython/blob/3.7/PC/python_ver_rc.h#L13-L17

[2021-12-10 17:16] foundry-markf commented on #1173
I'd be happy to do so, as it's a one liner.

But... there's always a but...

Just having skimmed the contributors guide, I see a CLA is needed. My company has one for PyTorch, but it did take ages to get through our legal department. I expect this one to be a different CLA request, and am aware that it's nearly the holidays too, so it might take an absolute age to get through.

So really, depends

[2021-12-10 17:18] foundry-markf commented on #1173
I'll check with management. I'm aware of the CLA needed, and our legal department would need sign off, and being near the holidays, might be a while to push through.

[2021-12-10 17:28] JeanChristopheMorinPerso commented on #1173
That's alright. We are in no rush I think. But if you would prefer to see this fix soon, I can probably push a PR this weekend. Just let me know.

[2021-12-10 17:31] foundry-markf commented on #1173
I'm also in no rush, as we have a local edit. I was just being a good FOSS citizen and reporting it. :)

[2021-12-10 20:26] meshula commented on #1173
Is there such a thing as a debug wheel for windows? If so we might want to queue this up as part of the point release? Otherwise, there's no rush, I think.

[2021-12-11 01:01] meshula opened #1174 "decimal - binary - string round tripping"
## Feature Request

Use our own decimal/binary and binary/decimal conversion routines for representing time values in strings, instead of relying on each language's standard library, in order to guarantee round trip lossless conversions

## Description

it should be the case that any number of iterations of binary_num -> decimal string -> binary_num should result in identical values forever.
It oc

[2021-12-11 04:15] meshula commented on #1174
https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/682

[2021-12-15 23:43] #1135 closed

[2021-12-16 00:52] jlskuz opened #1177 "SVG Adapter erroneously assumes `media_reference` always has `target_url`"
## Bug Report

### Incorrect Functionality and General Questions

(@KarthikRIyer) The SVG Adapter erroneously assumes `media_reference` always has `target_url`. Eg. `GeneratorReference` does not have `target_url`

## To Reproduce

This can be reproduced with any otio (like [test.otio.zip](https://github.com/PixarAnimationStudios/OpenTimelineIO/files/7723737/test.otio.zip) that has a  `media_refere

[2021-12-17 16:59] KarthikRIyer commented on #1177
Thanks for reporting this!
I'm currently out of station. I'll take a look at this once I'm back.

[2021-12-17 17:14] apetrynet commented on #1177
@KarthikRIyer, skimming through the adapter, it seems not to support `ImageSequenceReference` either which might cause a similar error down the road.

Instead of `target_url` it has an `abstract_target_url()` method which produces a full path if you provide a frame number abstraction like: "%04d", "#" and so on.

[2021-12-17 23:37] reinecke opened #1178 "CMX_3600 adapter add premiere style"
## Feature Request

Add premiere CMX EDL style.

## Description

Premiere does not properly handle certain comments in CMX EDLs, presence of these comments will cause Premiere to use "UNKNOWN" for media names and will make them difficult to relink.

Specifically, inclusion of `FROM CLIP` or `FROM FILE` will cause Premiere's parser to fail.

By adding a `premiere` EDL "style", the adapter could mak

[2021-12-27 01:11] darix opened #1182 "Proper shared library handling for the C++ bindings"
## Feature Request

Proposed Change to existing Behavior

## Description

1. right now libopentime.so and libopentimelineio.so are lacking an soversion. it would be nice to assign a proper soversion for those.
2. allow the python extensions to use the shared library.

## Context

This would make it easier to package OpenTimelineIO and use it with other programs olive.

[2021-12-27 19:00] meshula commented on #1182
This would be a welcome PR!

It's a more complex request that it appears on first blush though, so I'd like to lay out what I'd hope to see in a PR:

For maintainers for whom SO version policy is not their day job, it is extraordinarily difficult to make sense of the SO versioning documentation. On other projects, SO versioning has been a bit of a challenge, as we've frequently got, sometimes urge

[2021-12-27 19:40] darix commented on #1182
For the question "when do we need to change the soversion" ... there are tools now and you do not have to do that manually anymore. Those can even be integrated into the testsuite or so.

- https://youtu.be/b1fO-RLtDME
- https://media.ccc.de/v/1234-libabigail-how-semantic-analysis-of-c-and-c-elf-binaries-can-be-used-to-analyze-abi-changes
- https://github.com/ansasaki/abimap

[2021-12-27 20:26] meshula commented on #1182
Thanks for the pointers!

[2021-12-27 20:34] JeanChristopheMorinPerso commented on #1182
I think the SO versioning is kind of tracked in #872.

As for allowing the python extension to use the shared library, it's technically doable, with a patch or two. But it could be made easier than having to manually patch OTIO (though, the patches are simple).

[2021-12-27 20:38] meshula commented on #1182
Thanks for the link. Semantic versioning and SOVERSION are related, but not the same thing. i.e. some semantic version bumps need to bump SOVERSION, and SOVERSION can bump for reasons not related to a semantic version bump.

[2021-12-27 20:52] JeanChristopheMorinPerso commented on #1182
Ah ok, I wasn't sure. But I guess it's still good to have both linked in GH.

[2022-01-03 18:00] gilou opened #1185 "Support for Blackmagic ATEM ISO DaVinci Resolve .drp files"
## Feature Request

Add an adapter to ingest the .drp / JSON file generated by blackmagic atem iso to be consumed by DaVinci Resolve as a project / timeline.

## Description

The file is a simple .JSON timeline to be consumed by Da Vinci as a project. Da Vinci can export to multiple format, but my goal is to get that ingested directly to be able to export as KDEnlive project. Da Vinci => AAF => OT

[2022-01-03 18:46] jminor commented on #1185
Hi @gilou, Welcome to the OTIO community :)

Take a look at this plugin which may be useful to you: https://github.com/eric-with-a-c/resolve-otio

Since Resolve already has support for a variety of import/export formats, I suggest experimenting with the FCP 7 XML and AAF formats which already have OTIO adapters. In particular we have found that the FCP 7 XML format tends to be well supported & eas

[2022-01-03 19:43] apetrynet commented on #1185
Hi @gilou!
If you decide to write an adapter you might also want to look into using this [template](https://github.com/OpenTimelineIO/otio-plugin-template) repo as a starting point. There's a suggested naming convention in the README.
Feedback on using the template is welcome.

[2022-01-03 21:02] gilou commented on #1185
The way I did it and had the most success was exporting as AAF (I tried random FCP XML versions, maybe not 7, but KDEnlive didn't like the output so much).. But my goal here is to avoid Resolve at all, as the blackmagic atem provides the file, but Resolve is quite painful to use on Linux without a properly supported graphic card and all. Also, I really want to avoid it ;)

Thanks for the otio reso

[2022-01-03 21:07] gilou commented on #1185
Perfect, somehow I didn't see the naming part in the template. That should get me nicely started. I'm assuming otio-drp-adapter might be good, assuming it doesn't matter if I tackle the whole .drp "spec" (I assume there is one) or not.. or maybe otio-blackmagicdrp-adapter... Will ponder haha, that's not the most important part, but let's start with a nice name..

Also the template and example is n

[2022-01-06 20:05] reinecke opened #1186 "Add enabled Flag to Transitions"
New Feature

## Description

In #1175 the `enabled` flag was added to the `Item` schema. This would also be useful to add to transitions as well.

[2022-01-06 20:06] reinecke opened #1187 "Add enabled Flag to Effects"
New Feature

## Description

In #1175 the `enabled` flag was added to the `Item` schema. This would also be useful to add to effects as well.

#1186 addresses adding this flag for Transitions.

## References

- [FCP 7 XML models this using the enabled element](https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/FinalCutPro_XML/Elements/Elements.html#//apple_ref/do

[2022-01-06 20:24] jminor commented on #1171
Hi @Tilix4 - did this discussion help to clarify how OTIO works? If so, I'm inclined to close this issue, but I wanted to check with you first.

[2022-01-06 20:31] reinecke opened #1188 "Gap python constructors have "effects" list mislabeled "effect""
## Bug Report

### Incorrect Functionality and General Questions

The python [gap constructors](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/990a54ccbe6488180a93753370fc87902b982962/src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp#L373-L394) accept a keyword argument `effect` which is a list of `Effect` instances:
[code]

## To Reproduce

Using the python

[2022-01-06 20:45] jminor commented on #1188
We haven't specified how effects are meant to composite in OTIO, but in looking at use cases from AAF we often see text title effects on Gaps (Filler in AAF). Other times, we see video effects (blur, tint, etc.) on a Gap which then applies to the image composite below the Gap. For example, a long Gap covering a whole sequence on a top track could then apply an effect to the whole thing.
One might

[2022-01-06 21:08] reinecke commented on #1188
Super useful context @jminor! It sounds like separate from this issue there are some design discussions to have about how to address those "effect on a gap" use cases - we can handle those elsewhere.

[2022-01-07 08:12] Tilix4 commented on #1171
Hi @jminor, it actually helped yes, thanks!

[2022-01-07 08:12] #1171 closed

[2022-01-11 01:48] gilou commented on #1185
And, work has started on my side, https://github.com/gilou/otio-drp-adapter is live, and already can eat a simple .drp file (and have it output using the .kdenlive format, which is my goal). I'll work a bit more on getting the ingestion work, then I guess I can start making it better or add features there..

[2022-01-11 13:13] gilou commented on #1185
And I realized there already was a otio.opentime.from_timecode(tc, rate) by tweaking my IDE… shame.. I'll see how we can document that, as it's obviously helpful to know it beforehand ;)

I think the template repos might be over-engineering for what I had in mind, I'd say a simple drp.py file would have worked, but at least I'll be able to make some feedback around it. And at least it can nicely b

[2022-01-11 15:23] apetrynet commented on #1185
I was about to mention the `otio.opentime` methods earlier, but it looked like you had a valid reason for creating your own time code class and I didn't want to step on any toes :)

Thanks for feedback on the template. I can understand it feels a bit over-engineered for a simple adapter. It's designed to be an entry point for all the plugin types OTIO supports (adapters, hooks, schemadefs and medi

[2022-01-11 16:19] gilou commented on #1185
It's quite straight forward, I'd say I had a harder time dealing with the tests, and pypy settings (that I don't use for now), but that's more because I'm not familiar with all aspects and how it fits in with OTIO (manifest, blah)... I blindly kept the CI stuff, which seems happy, and is quite welcome for most:
- it made me avoid doing Python3-only compatibility, and had me set up a py2 venv.. Not

[2022-01-11 16:28] gilou commented on #1185
Also question... Since I'm quite wary of this being used by SaaS services without much contribution / attribution, would an AGPL license make sense, and be compatible with the rest of OTIO, without hindering proper distribution once this is worth including (if .. :P) ?

I didn't think much of the proposed choice (Apache/MIT), but this crossed my mind.

[2022-01-11 17:05] meshula commented on #1185
With regards to the license, I'd just want to point out that in the US, at least, the AGPL is incompatible with many studio environments, so you'd run the risk of users hesitating to use the plug in, under some circumstances. It's also incompatible with the Apache license we use in OTIO, which means it wouldn't be incorporated in the OTIO distribution itself due to that incompatibility.

On the ot

[2022-01-12 20:26] gilou commented on #1185
And the adapter is live @ https://pypi.org/project/otio-drp-adapter/ !

Thanks for the help, let's see if that one is of any interest, and if it thrives. I mentioned it on BMD forum there: https://forum.blackmagicdesign.com/viewtopic.php?f=4&t=153644

As for the license, I'll just let it as Apache to avoid any issue, and I think it's good too have them in separate repos / responsability, it just m

[2022-01-12 21:08] JeanChristopheMorinPerso commented on #1185
If you are talking about something similar to `Framework :: OTIO`, yes it could be possible to request a new one just for OTIO, but it would require 10 or more packages using it at least, and a the classifier would need to be "notable". To quote members of PyPA:

(cf https://github.com/pypa/trove-classifiers/issues/20#issuecomment-609291342)

Note that we cannot randomly add new trove classifiers

[2022-01-12 21:16] gilou commented on #1185
Ah, indeed.. well, simplest is a list or a script to install external adapters, or we could do something like otio-core and have a distribution package OpenTimelineIO that includes all the "official" plugins (either through dependency, or manual install), similar to how ansible does it…I guess this would fit in an issue of its own, and I don't feel too competent and knowlegeable to actually imagin

[2022-01-12 21:18] apetrynet commented on #1185
Congratulations with your release!
Make sure to add your adapter to the list in the [wiki](https://github.com/PixarAnimationStudios/OpenTimelineIO/wiki/Tools-and-Projects-Using-OpenTimelineIO)

[2022-01-12 21:26] gilou commented on #1185
Done!

[2022-01-14 15:23] foundry-markf opened #1192 "Q: CMake config files and interdependencies"
Hi,

OTIO 0.14.0

I got approached with a question today, because in CMake, someone had done

[code]

resulting in the error
[code]
due to the `opentimelineio` import target requiring `opentime`.

I hadn't seen this in my own testing, because I had done
[code]
(although I can't find that in documentation from a quick browse, so I must've just figured it out at the time.)

It's brought up the subse

[2022-01-14 16:50] foundry-markf opened #1193 "CMake generated config files should be relocatable"
## Bug Report

### Build Problem
It is build related, but only observable by the consumer of the CMake package.

The CMakeLists.txt in the project have install and export commands that generate CMake config files that are written to `share/opentime` and `share/opentimelineio` in the install step. The pairs of files in these directories both have an issue in that the paths they contain, specificall

[2022-01-14 16:52] foundry-markf commented on #1173
Missed this question, sorry.

I've never seen a debug wheel on Windows. In practice, I suspect very few users run a debug Python interpreter. However, as it's in our package manager ecosystem, it is a case we deal with.

[2022-01-14 17:35] JeanChristopheMorinPerso commented on #1173
My opinion is we shouldn't upload debug wheels in PyPI. It's such a rare scenario that I don't think it's worth the effort on our side and the storage utilization in PyPI.

Though, we could have a job that makes it so that every time the C++ code or CMakeFiles are changed in a PR, we run a full build in debug mode and run the tests. That would ensure building in debug isn't broken by a future chan

[2022-01-15 01:02] meshula commented on #1193
Is there an earlier place in the code to apply the RELATIVE_PATH keyword, such that the OTIO_RESOLVED variables are themselves relative? Now that the cmake and setup.py scripts are cleaner than they used to be, perhaps the need for fully qualified paths is gone? I'm not sure, but think it's worth looking at.

[2022-01-15 01:05] meshula commented on #1192
The thought was that OpenTime might be more broadly interesting.

The OpenTime config file could stay as is, but it would make sense to add the OpenTime config information to the OpenTimelineIO config as well.

I think it's a reasonable user expectation that finding OpenTimelineIO itself is sufficient.

Are you able to prepare a PR for this?

[2022-01-16 14:33] KarthikRIyer opened #1196 "Add support for ImageSequenceReference to SVG adapter"
## Description

The SVG adapter doesn't support ImageSequenceReference.

Point to note (by @apetrynet):

[2022-01-16 14:41] KarthikRIyer commented on #1177
@apetrynet noted the need for ImageSequenceReference support in #1196

I was looking into this issue. The svg adapter doesn't seem to work well with audio tracks. That's something that needs some investigation.

It also failed for transitions at the end of the track. I've pushed a fix for that in #1195.

There are three transitions, at the same place, in the test otio file. Is that a valid scenari

[2022-01-17 08:59] gilou commented on #1185
Well, I'm happy with the result with .drp files, and KDEnlive will support read- (and write-)only adapters soon, there are things to improve on that adapter, but it works, so I'll close that issue. I'll follow whatever discussions may happen about the "future" of plugins, and how they're distributed or not with OTIO…

[2022-01-17 08:59] #1185 closed

[2022-01-18 08:50] foundry-markf commented on #1193
It's an interesting question. At the time of investigation, I didn't look further, as I didn't want to break any assumptions there might be on other uses of OTIO_RESOLVED and friends. So I made the change as local as possible.

[2022-01-18 08:58] foundry-markf commented on #1192
As far as I'm aware, in CMake, you can only export targets to a single config file.

Not at the present time. I asked management prior to Christmas about CLAs, but breaks/holidays/catching up has meant no progress. I can query again though since I've opened a few issue reports.

If I could though, I would recommend a single CMake config file, with all targets in it.
There is the [component ](https

[2022-01-21 19:05] reinecke commented on #407
It looks like `NeighborGapPolicy` already transitioned to an enumeration via the bindings.

For `TrackKind` and `MarkerColor`, as time goes on I think we've clarified that these aren't enumerations, they're constants for commonly used strings. I think we're embracing the power in allowing people to define whatever `MarkerColor` or `TrackKind` they need - most times one of the constant values from

[2022-01-21 19:05] #407 closed

[2022-01-25 15:01] camkerr opened #1201 "AAF Documentation Links Moved"
The two links in /docs/tutorials/adapters.md that link to the PDFs for:

- AAF Object Spec
- AAF Edit Protocol

have moved on the host server (amwa.tv) and the links now 404.

[2022-01-25 21:22] #1201 closed

[2022-01-29 19:10] yurivict opened #1204 "Python binding is broken: it ignores PYTHON_EXECUTABLE and installs into a wrong prefix"
1. When multiple puthon versions are installed ```PYTHON_EXECUTABLE``` is used to set which python to use.

I set PYTHON_EXECUTABLE=/usr/local/bin/python3.8 but 3.10 is still used

2. It installs python binding into the root directory / instead of the python site libs folder.

[2022-01-29 19:43] JeanChristopheMorinPerso commented on #1204
Hello, @yurivict . I imagine that you are trying to distribute OTIO in FreeBSD? I found https://github.com/freebsd/freebsd-ports/tree/main/multimedia/opentimelineio, but my FreeBSD knowledge is... non existent. But's I'll try to answer your questions or help you as best as I can.

You will need to set `Python_EXECUTABLE`, not `PYTHON_EXECUTABLE`. See https://github.com/PixarAnimationStudios/OpenTi

[2022-01-29 20:15] yurivict commented on #1204
This works, thanks.

I use cmake with PYTHON=ON.

[2022-01-29 20:37] yurivict commented on #1204
So this appears to be a bug that it doesn't install the python files when ```PYTHON=ON```.

On the other hand, using ```setup.py``` is a more suitable way for FreeBSD ports because it installs the binding separately.

[2022-01-29 20:44] yurivict opened #1205 "setup.py writes a wrong plist when the argument '--record {plist}' exists"
Python has a rarely used feature ```--record {plist}``` that writes plist into a file during the ```install```. FreeBSD ports framework is a rare user of this feature.

```OpenTimelineIO``` writes a wrong plist which causes this discrepancy between declared and actual plists:
[code]

(STAGEDIR list is a list of actually installed files, pkg-plist is a list of files returned by the ```--record``` f

[2022-01-29 20:50] JeanChristopheMorinPerso commented on #1204
OTIO doesn't know what is `PYTHON`. It knows about `OTIO_PYTHON_INSTALL`.

But yes I agree that if you can install OTIO using the `setup.py`, that is our preferred (and only officially supported) option to install the python bindings.

Though, just as a side note, it won't build the C++ libraries and install the C++ headers. It will simply build everything statically and create the python bindings

[2022-01-29 20:51] yurivict commented on #1204
Sorry, I meant ```OTIO_PYTHON_INSTALL```.

[2022-01-29 20:54] yurivict commented on #1204
Some projects install python files with a cmake option, some others don't. This can be confusing for users. IMO both ways to install python files should work to avoid confusion in the future,

[2022-01-29 20:57] yurivict commented on #1204
Ideally ```setup.py``` should be able to link against shared libraries built and installed by the C++ project, but I guess you don't currently support it.

[2022-01-30 01:05] meshula commented on #1204
Is that the resolution, allowing setup.py to use an externally supplied set of OTIO libs, in addition to the present mechanism? That sounds fine to me.

[2022-02-05 05:31] michdolan opened #1207 "otioview scene rect clips items at the end of track"
## Bug Report

### Incorrect Functionality and General Questions

When adding a new Stack to otioview, `frame_all` is run to scale the items in each track to fit the visible scene rect. The scaling function works well, but it doesn't seem to account for the width `TrackNameItem` adds to the scene. As a result, items toward the end of the track are clipped, so that when you are zoomed into the trac

[2022-02-05 15:42] michdolan commented on #1207
I found a simple solution. My initial thought of accounting for `TRACK_NAME_WIDGET_WIDTH` in `_adjust_scene_size` was correct, but I needed to scale that with `CURRENT_ZOOM_LEVEL`  and call `_adjust_scene_size` whenever the zoom level changes. Doing that, the scene rect width adjusts to the scaled items and matches the active width of the track.

I'll submit a PR with a fix. I'll need to get a CCL

[2022-02-05 17:36] yurivict opened #1208 "Versions went backwards: 0.91 from 3 years ago is higher than the current 0.14.1"
Update auto-discovering system finds the old version as new.

Could you please remove old higher tags?

[2022-02-05 18:36] JeanChristopheMorinPerso commented on #1208
@jminor @reinecke @meshula @ssteinbach This one is for you.

There seems to be a v0.91 tag, see https://github.com/PixarAnimationStudios/OpenTimelineIO/releases/tag/v0.91.

Diff between 0.10 and 0.9: https://github.com/PixarAnimationStudios/OpenTimelineIO/compare/v0.9...v0.10
Diff between 0.91 and 0.9: https://github.com/PixarAnimationStudios/OpenTimelineIO/compare/v0.9...v0.91

0.91 looks like a

[2022-02-05 22:51] meshula commented on #1208
yeah, I think that release was erroneously not 0.9.1. should probably delete the tag and re-tag

[2022-02-07 03:20] michdolan commented on #1207
This is fixed in my branch, which I'll open a PR for when I can:
https://github.com/michdolan/OpenTimelineIO/tree/otioview_track_fit

[2022-02-07 19:16] jminor commented on #1208
When I navigate to that commit, I see the message "This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository."

https://github.com/PixarAnimationStudios/OpenTimelineIO/commit/8211ce2dca726a9560b0bd1b4c23f20e590a8922

Same here:
https://github.com/PixarAnimationStudios/OpenTimelineIO/tree/v0.91

I will see if I can simply delete the v0.91 tag.

[2022-02-07 19:26] jminor commented on #1208
Deleted. @yurivict did that resolve the problem for you?

[2022-02-07 19:29] yurivict commented on #1208
Yes, thanks.

[2022-02-07 19:29] #1208 closed

[2022-02-07 21:48] #1159 closed

[2022-02-08 18:44] jminor commented on #483
FYI #1175 has landed now, so there is support for `enabled=False` on Items (Clip, etc.). Here is a PR that adds read support for this in the AAF adapter: #1212

[2022-02-11 18:12] jminor opened #1215 "Upgrade otioview to PySide6"
Currently otioview uses PySide2, which is quite old. In some newer versions of Python, or newer hardware (e.g. Mac M1) it is difficult to build or install PySide2. We should upgrade otioview to PySide6 (so named since it uses Qt 6).

At first glance, the API seems to have only minimal changes between PySide2 and PySide6, so maybe otioview could be made to work with both? If someone can do the port

[2022-02-15 23:04] meshula opened #1220 "PySide6 removes QRegExp"
## Problem: PySide6 removes QRegExp

[code]

QRegularExpression exists, but the regex syntax and class usage has changed substantially: https://doc.qt.io/qt-5/qregularexpression.html#notes-for-qregexp-users

It makes sense to port to the python standard `re` library, so that the code works in PySide2 and PySide6 without some sort of shim layer, or version selection code.

https://docs.python.org/3

[2022-02-17 18:22] #771 closed

[2022-02-18 00:26] timlehr commented on #1215
We had an internal OTIO presentation today and some of our departments expressed interest in using parts of otioview as a widget in our apps. Since we’re using PyQt (not PySide) we’d have to adapt the code a little, which is why making #616 a reality would be awesome. Since Qy.py doesn't support PySide6 yet, some work would need to be done on that end first though. I'd be happy to port the otiovie

[2022-02-21 17:46] werwack commented on #1092
Hello,
I'm using OTIO with a Blender add-on named Shot Manager (available [here](https://github.com/ubisoft/shotmanager)) and I'm facing the same issue with the XML file format. This format is already poorly supported by Adobe Premiere and DaVinci Resolve but it's better that nothing. It would be really great if at least we could generate a clean file with OTIO.
Thank you very much for your attent

[2022-02-21 17:58] werwack opened #1224 "Support for Python 3.10?"
## Feature Request

Is this a New Feature, or a Proposed Change to existing Behavior?
This is the continuity of existing feature.

## Description

Describe the new feature, or describe the modification to existing behavior, and provide context as necessary to help with understanding how the feature relates to a workflow or functionality.
I am the developer of [Shot Manager](https://github.com/ubis

[2022-02-21 18:10] meshula commented on #1224
Your Shot Manager project looks very cool!

If I'm not mistaken, your team is building OpenTimelineIO locally, rather than using a wheel. Is that correct? I notice also in your FAQ that it says you are working on getting a Mac build of OTIO working for Python 3.9. (https://ubisoft-shotmanager.readthedocs.io/en/latest/troubleshoot/faq.html)

I did a test build just now on Mac M1, with Python 3.10,

[2022-02-21 18:30] werwack commented on #1224
Hi Meshula,
Thanks for your interest in Shot Manager and your test on Python 3.10.

In fact we are not building our wheel anymore. We did that for OTIO 0.12 cause we had a fix to do somewhere (I don't remember what, it was made by a developer of the team at the time) and for OTIO 0.13 cause there was no wheel for Python 3.9 when Blender moved to it. I also had to drop off the wheel for Mac cause I

[2022-02-21 19:10] meshula commented on #1224
@JeanChristopheMorinPerso, @reinecke  ~ do you have any notes to share in this thread on what's necessary for automation around Python 3.10 OTIO wheels?

[2022-02-21 19:21] JeanChristopheMorinPerso commented on #1224
The best notes are going to be when I added Python 3.9 support I think, see https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1080/files for anyone interested in contributing.

As for Mac M1, that's a different story. I left some notes in https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1214.

So all in all, adding 23.10 support should be a straight forward task for anyone i

[2022-02-21 19:23] JeanChristopheMorinPerso commented on #1224
And for the curious, I've been running OTIO with Python 3.10 for a while now (locally) and I haven't hit any issues, at least on Linux.

[2022-03-02 01:49] #1215 closed

[2022-03-02 01:49] #1220 closed

[2022-03-03 15:03] KarthikRIyer opened #1228 "BDD Testing"
## Feature Request

Proposal to add BDD (Behaviour Driven Development) tests to the project.

## Description

I'm thinking of migrating to BDD tests in the Java bindings using [spock](https://spockframework.org/), a groovy framework. I thought it might be helpful to do the same for the python tests.

The idea of BDD testing is to write tests in a simple user/business friendly manner. The tests bec

[2022-03-04 19:10] reinecke commented on #1228
I’ve long been a fan of pytest and would support us switching over. It seems to have pretty wide adoption at this point and I think it would provide some tools that would simplify a lot of our test code.

While BDD testing in Spock is pretty elegant, the BDD solutions for python feel to me like they’d be heavy to maintain. Every test requires keeping two files in sync with one another and there is

[2022-03-07 11:26] gilou opened #1232 "Tracks (and maybe other instances) evaluate as False in Python, not that great?"
## Feature Request

Proposed Change to existing Behavior: otio.schema.Track instances evaluate to False, maybe True would be better?

## Description

Objects in Python/OTIO (probably not limited to Track) evaluate to False. Generally, non-empty items tend to evaluates as True in Python, so it feels a bit weird there, and requires extra checking when returning an existing Track.

This code will sho

[2022-03-07 20:14] reinecke commented on #1232
Hi @gilou,

Thanks for the feedback.

The tl;dr is that this behavior is by design to make OTIO as pythonic as possible. This would be a breaking change to the API and would likely make it less pythonic. See below for a suggestion for how to handle the specific use case cited in a pythonic way.

# Explanation

OTIO's composition types (`Track` and `Stack`), as well as `SerializableCollection` beha

[2022-03-07 20:14] #1232 closed

[2022-03-07 20:18] gilou commented on #1232
understood, I was not sure about the "actual" pythonic way there, but it makes sense… So a "True" track is in fact a Track with a length > 0 ? That seems reasonable, sorry about the noise ;)

[2022-03-07 20:30] reinecke commented on #1232
Yeah, that's pretty much it. This can be thought of in terms of "evaluates True" vs. "is True".

For example, this can feel a bit odd:
[code]

But, as it turns out, this behavior is consistent with Python's built-in types:
[code]

When using a non-boolean type with an `if` or `while`, you are implicitly converting that into a boolean value as shown above.

[2022-03-07 23:23] reinecke commented on #1228
The thumbsup from @apetrynet also reminded me, when he created the [plugin template](https://github.com/OpenTimelineIO/otio-plugin-template), we (accepted pytest into the otio ecosystem)[https://github.com/OpenTimelineIO/otio-plugin-template/blob/main/setup.py#L45] in a subtle way. So there is some precedent and example of how we can integrate pytest.

[2022-03-07 23:32] meshula opened #1233 "Enable code coverage for C++"
## Feature Request

Our code coverage currently covers the Python build, but could also cover the C++ build.

[2022-03-08 02:09] #1153 closed

[2022-03-08 10:57] gilou commented on #1232
Yup, no mistake here, but I only tested my proposition on empty tracks, which is not the scenario I'm aiming at, so basically, the way it behaves is the way I need it to and indeed fully Pythonic! My bad, no problem here, and thanks for clarifying!

[2022-03-08 18:45] reinecke opened #1234 "UnknownSchema objects should allow access to data fields as a dictionary"
## Feature Request

To allow developers to access data on objects of `UnknownSchema`, a dictionary-type interface should be exposed for the data fields.

## Context

When the deserializer doesn't recognize the schema of an object, it deserializes to an instance of `UnknownSchema`. Unfortunately, the `UnknownSchema` object only exposes `original_schema_name` and `original_schema_version` - this mea

[2022-03-08 23:50] meshula commented on #26
Flagging for TSC, should probably close

[2022-03-08 23:51] meshula commented on #28
flagging for TSC review, is there work to do here, or has the concern been addressed?

[2022-03-08 23:52] meshula commented on #102
RV support is now native, not a plugin maintained here.

[2022-03-08 23:52] #102 closed

[2022-03-08 23:54] meshula commented on #138
Shotgun is now Shotgrid. If there's a need to track Shotgrid integration please open a new issue.

[2022-03-08 23:54] #138 closed

[2022-03-08 23:58] meshula commented on #1172
Closing after three months, assuming issue was resolved. If that's incorrect, please feel free to reopen.

[2022-03-08 23:58] #1172 closed

[2022-03-09 00:00] meshula commented on #1045
closed by #1046

[2022-03-09 00:00] #1045 closed

[2022-03-09 00:05] meshula commented on #709
committed draft

[2022-03-09 00:05] #709 closed

[2022-03-09 00:09] meshula commented on #809
flagging for TSC review and to take a decision.

[2022-03-09 00:11] meshula commented on #1207
@michdolan Did you attempt the EasyCLA system?

[2022-03-09 15:45] rogernelson opened #1235 "C++ Unit tests always pass in release builds"
## Bug Report
### Incorrect Functionality and General Questions

When using a release build the c++ unit tests asserts will never be triggered.

## To Reproduce

1. Operating System: Any
2. Python version: N/A
3. Example snippet that demonstrates the issue - if it's a build issue: see below
4. OpenTimelineIO release version or commit hash: 0450ef461d52cebd397227a9d966352781a9353d
5. Compiler infor

[2022-03-11 16:13] michdolan commented on #1207
Yes, I have a CCLA approved now. I'll open the PR with this fix today.

[2022-03-11 21:21] #1207 closed

[2022-03-15 00:47] Gattung commented on #1224
This is the error I get when installing opentimelineio under shotmanager addon with Blender 3.1 which is using python 3.10

`Collecting opentimelineio
  Using cached OpenTimelineIO-0.14.1.tar.gz (2.2 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pyaaf2~=1.4.0
  Using cached pyaaf2-1.4.0.tar.gz (88 kB)
Us

[2022-03-15 05:19] meshula commented on #1224
Hello Gattung, thanks for the details. The cmake error indicates that the Python headers and libraries corresponding to the Python libraries in your copy of Blender are not being detected.

The one thing I recall from others' experiences in building OTIO with Blender is that if you can set up the build such that cmake can find corresponding headers and libraries, the build will succeed.

Unfortuna

[2022-03-18 08:58] werwack commented on #1224
Hi @Gattung,
I'm the developer of Shot Manager. Indeed at the moment the current wheel for OTIO is not compatible with the Python version in Blender 3.1 and 3.2 so its install is failing. And I recognize that this fail is not so well handled by the actual version of Shot Manager (V1.7.10).

I'm currently working on both topics and a new release of Shot Manager should be release next week.
On the O

[2022-03-18 18:06] jchen9 opened #1243 "AAF read adapter should look for type Clip when it's finding a Marker's parent element from the Track"
In merge request https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1239, it left markers with the Track if `target_track.child_at_time(marker.marked_range.start_time)` returns something that does not have `markers` property, for example `Transition`.

This is less-than ideal. Instead, it should probably look for `Clip` and attach the marker to the clip found.

[2022-03-19 01:18] meshula opened #1244 "Guard mac universal builds"
## Bug Report

https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1214 introduces a default to do universal binary builds on macOS. This is a fantastic addition, but of course, building for M1 is not possible on OS < 10.15. vfxplatform specifies support for 10.13 in CY2021, and since OTIO supports the current vfxplatform year, and the three preceding, we are stuck with 10.13 until the ye

[2022-03-21 17:14] rogernelson opened #1246 "Enable verbose mode on c++ unit tests"
## Feature Request

This a proposed change to an existing feature on the C++ unit tests. It would be nice to run the tests in verbose mode.

## Description

If we add the verbose mode switch to ctest we can know which subtest within the test caused the failure. Currently the output looks like this:
[code]
By adding the -V switch we will have this:
[code]
If we get a failure, this will allow us to

[2022-03-21 18:32] meshula commented on #1246
Looks like a good idea to me.

[2022-03-22 17:30] meshula opened #1247 "pyside 6.2.4 not working for otioview"
## Bug Report

otioview works if one does `pip install otioview==6.2.3`
otioview does not work if one does `pip install otioview==6.2.4`

the symptom is that the timeline does not render with 6.2.4, and the UI is unresponsive.

## To Reproduce

1. Operating System

macos 10.13 and greater
x86_64, and M1

2. Python version

verified under 3.9 and 3.10

[2022-03-23 18:01] meshula commented on #1224
I see the same thing.

[code]

[2022-03-23 18:06] JeanChristopheMorinPerso commented on #1224
The `__version__` variable is added by the `setup.py` script, [here](https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/2fd57a9e13996b91b4ac04169ef60b880db8f19b/setup.py#L195-L236). So if it's missing, check if you have any errors when running a build.

[2022-03-23 18:13] meshula commented on #1224
No problems reported:

[code]

[2022-03-23 18:20] meshula commented on #1224
Looks like that bit of setup.py is not running.  `__init__.py` in the published location does not have the DUNDER bits in it.

[2022-03-23 18:26] JeanChristopheMorinPerso commented on #1224
https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1238 is the culprit I think. `build_py` runs after `build_ext`.

[2022-03-23 18:27] meshula opened #1250 "module level dunder names not appearing in __init__.py"
## Bug Report

[code]

This is a regression from 0.14, see here: https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/1224

## Expected Behavior

[Description of the expected behavior.
](https://peps.python.org/pep-0008/#module-level-dunder-names)

[2022-03-23 18:28] JeanChristopheMorinPerso commented on #1250
The regression is caused by https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1238.

[2022-03-23 18:28] meshula commented on #1250
Per @JeanChristopheMorinPerso: https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1238 is the culprit I think. build_py runs before build_ext.

[2022-03-23 18:29] meshula commented on #1250
As part of a fix, let's add a test if possible, that the module level dunder names exist.

[2022-03-23 18:34] JeanChristopheMorinPerso commented on #1250
@meshula if you want you can assign this one to me. I can take care of it.

[2022-03-23 18:38] meshula commented on #1250
Thank you, that would be wonderful ~ I'm a bit slammed today!

[2022-03-23 23:15] JeanChristopheMorinPerso commented on #1250
Pull request created, but without tests. Testing that would either require to have PySide installed or we would have to parse the files which I feel is dirty...

[2022-03-24 05:33] avrata opened #1252 "Setting OTIO_PLUGIN_MANIFEST_PATH to "" causes load_manifest() error"
## Bug Report

### Incorrect Functionality and General Questions

Setting `OTIO_PLUGIN_MANIFEST_PATH` to `''` will cause `otio.plugins.manifest.load_manifest()` to error trying to load an empty file. This is a regression caused by !945 that I missed. Previously in this case the code checked `os.path.exists('')` which would be `False`, but now checks the existence of the `os.path.abspath('')` which

[2022-03-24 14:27] JeanChristopheMorinPerso commented on #1224
@werwack You can open a Pull Request that targets the master branch, and a 0.14.2 release could be made if the TSC determines it's the way to go. But what's important is to first create a pull request so the process/discussions can be started.

[2022-03-24 14:34] JeanChristopheMorinPerso commented on #1224
Oh, and maybe it wasn't clear, but the issue you found @werwack is not specific to Python 3.10. The issue should affects all python versions.

[2022-03-24 17:43] #1252 closed

[2022-03-24 19:07] meshula opened #1254 "Imath 3 dependence breaks vfxplatform compatibility"
Now that OTIO depends on Imath, we are out of compliance with our stated vfxplatform support.

cy2022 - 3.1.x
cy2021 - 2.4.x
cy2020 - 2.4.x
cy2019 - 2.3.x

We need to modify the dependencies as:

[code]

[2022-03-27 00:49] #1250 closed

[2022-03-27 01:50] #1224 closed

[2022-03-27 19:33] JeanChristopheMorinPerso commented on #1224
I created a PR and it got merged in master. Anyone interested can test the generated wheels by going to https://github.com/PixarAnimationStudios/OpenTimelineIO/actions/runs/2046354939 while being logged in, and download the `wheels` zip in the `Artifacts` section. Then extract the files from the zip file and `pip install <path to extracted files>` should to the trick.

[2022-03-27 20:27] werwack commented on #1224
Hi @JeanChristopheMorinPerso,
thank you for the PR and the support for Python 3.1.
Do you know if by any chance the corresponding wheel (whether for 0.14 or 0.15) will be pushed on PyPi? Or maybe I should include the wheels directly into my Blender addon?

[2022-03-27 21:14] JeanChristopheMorinPerso commented on #1224
Pushing to PyPI will require a release, which is out of my control. The best I can do is to tag the TSC members (@meshula, @jminor, @ssteinbach and @reinecke) and and ask if this can be added to the agenda of the next TSC meeting, scheduled on March 31 at 1pm EDT (see https://lists.aswf.io/g/otio-discussion/viewevent?repeatid=17408&eventid=1448520&calstart=2022-03-31 for more details).

[2022-03-28 12:25] werwack commented on #1224
@JeanChristopheMorinPerso Unfortunately I won't we available to attend to the meeting this Thursday, but I would appreciated if the push on PyPi could be discussed.
I also feel concerned about the issue related to the XML file format btw ([#839](https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/839)
Thanks to you all for your help and attention to these points!

[2022-03-28 16:22] meshula commented on #1224
@werwack With regards to fcp xml issue, the request is out for someone who can test the fix to submit a PR. It does seem straight forward, but needs someone familiar with the problem to give it a shot and verify that a fix works. We can raise it at the tsc.

[2022-03-30 17:29] meshula opened #1257 "each_clip no longer exists on Clip"
This change https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/926/files caused a regression, by inadvertently removing this method:

[code]

we need to add it back in

[2022-03-30 21:25] #1257 closed

[2022-03-31 17:25] reinecke commented on #1243
From the TSC Meeting: Do we want to add some API so `child_at_time` can filter down so we avoid returning transitions? Do we ever want a transition returned by this method?

[2022-03-31 22:49] #1254 closed

[2022-04-04 22:22] jchen9 opened #1261 "OTIOVIEW: Zoom in/out with mouse scroll wheel stopped working in PySide6"
In PySide2, you could use mouse scroll wheel to zoom in/out of a timeline.

This interaction stopped working when using `pyside6==6.2.3`.

[2022-04-06 16:56] avrata opened #1264 "rv_session adapter does not work with python 3+"
## Bug Report

### Incorrect Functionality and General Questions

While testing the rv adapter (not-plugin), I noticed that the subprocess is unable to properly handle str vs bytes in python 3 leading to:

[code]
It looks like we just need to account for this behavior difference between python 2 and 3. We should probably check to make sure other subprocess cases that are piping input/output are al

[2022-04-06 17:11] avrata opened #1265 "rv_session adapter does not handle unicode metadata"
## Bug Report

### Incorrect Functionality and General Questions

While using the rv_session adapter, we noticed that if we have unicode data in metadata, the adapter will fail with an error like:
[code]

## To Reproduce

1. Operating System: linux
2. Python version: 2.7
4. OpenTimelineIO release version or commit hash: 71aa2fa57c5498c7615d6a82e0d943e749577728

## Expected Behavior

We should be a

[2022-04-07 03:29] jminor commented on #1261
Fixed by #1262

[2022-04-07 03:29] #1261 closed

[2022-04-07 03:31] jminor commented on #1243
Yes, I think that is a good idea. The work-around #1239 has been merged for now, but your suggestion would be a cleaner fix.
Does it even make sense for child_at_time to ever return a Transition? Shouldn't a Transition always overlap a different child of the parent Composition?

[2022-04-11 18:17] #1264 closed

[2022-04-13 19:44] #630 closed

[2022-04-14 17:09] reinecke commented on #1265
@avrata Did #1267 fix this issue too?

[2022-04-14 17:29] reinecke commented on #28
The exception-based error reporting mechanism paired with controls via adapter args to fudge certain data is the way we'd like to proceed with this.

[2022-04-14 17:29] #28 closed

[2022-04-14 17:38] reinecke commented on #1244
We'd welcome a PR on this, but we don't currently plan to address it.

[2022-04-14 17:45] reinecke commented on #809
We think that once we break the contrib adapters out this concept becomes less important - the OTIO core is more collaboratively maintained than specific adapters are.

[2022-04-14 17:45] #809 closed

[2022-04-14 22:18] meshula commented on #1244
Will reopen if necessary.

[2022-04-14 22:18] #1244 closed

[2022-04-18 19:02] meshula opened #1272 "Use of external Imath is not set up correctly"
### Build Problem

Using an external Imath doesn't work because a flag forcing the use of the interned Imath is always YES.

[2022-04-19 01:10] meshula opened #1274 "xcode 13.3 doesn't like the use of the keyword final when 'virtual` is not defined on the function"
## Bug Report

xcode 13.3 doesn't like the use of the keyword final when 'virtual` is not defined on the function. This exposed a small chain reaction of other small polymorphic issues.

[2022-04-19 11:18] danielskovli commented on #1224
Just wanted to add that this method works well for me with Blender 3.1. Compiles and installs as expected.

[2022-04-19 17:01] meshula commented on #1274
closed by removing the prototype multiMediaReference h and cpp files.

[2022-04-20 22:59] jminor commented on #860
If we someday change the internal format of `.otio` files to something other than JSON, should/would the MIME type or UTI change?

[2022-04-20 23:08] apetrynet opened #1278 "Add documentation about Media Multi-References to RTD"
## Feature Request

Update documentation to include the new Media Multi-Reference schema

## Description

With #1241 merged, it would be great to add the implemented bits from this [doc](https://docs.google.com/document/d/13jrl2qtWBTSFqMTVQh28LWc16uYvQ79w-7TfX92JaIM/edit#heading=h.nkw1yjtl83a8) into the main documentation.

[2022-04-21 03:40] luochaojing opened #1280 "Did OpentimelineIO support clip duration when speed up or slow down？"
## Feature Request

Did OpentimelineIO support clip duration when speed up or slow down？

## Description
For example,
1. has a video media_reference，duration is [0, 10]。
2. Add it to a Clip。source_range = [0, 10]
3. 2.0x  Speed up the clip。Clip show in UI，display_range = [0, 5]。

How to  description **speed** and **Display_Range**？

opentime-io Timerange donnot consider speed now? maybe..

## Cont

[2022-04-21 04:00] meshula commented on #860
The mime/uti tell a compliant parser that it should be able to consume the file ~ so a change from json to binary wouldn't necessarily require new signatures. The extension isn't important either; an extension to mime-type mapping can be set, but it's not exclusive, one could declare the mime-type of foo.bar is image/x-exr and an exr parser would be expected to load and parse it. If you wanted to

[2022-04-21 04:06] meshula commented on #1280
Does the LInearTimeWarp address your question?

https://sandflow.github.io/otio-core-specification/#object-model-LinearTimeWarp

[2022-04-21 04:08] luochaojing commented on #1280
@meshula

[2022-04-21 04:12] luochaojing commented on #1280
@meshula
thanks for replying。

LinearTimeWarp is an effect descrition speed up or slow down。I kown it。

But my question is：when has a time_effect。Clip duration is not correct no more。I need 【display_range】to description the timerange show in UI。

[2022-04-21 04:20] meshula commented on #1280
When you ask a clip about its range, it is always in the clip's time coordinate system. So the clip doesn't know about the time warp. The time warp is between the clip coordinate system, and the parent coordinate system. Usually the clip's parent is a track. So if you call `clip.range_in_parent()`, you would see the result you expect, a shorter or longer time, because the clip is only shorter or l

[2022-04-21 07:29] luochaojing commented on #1280
It mean that，I can define a new class named  MyClip extern from  otio::Clip。And override "range" method  to calculate UI duration with LinearTimeWarp Effect？

[2022-04-21 19:22] #1272 closed

[2022-04-21 21:19] jminor commented on #1280
Eventually OTIO will include API to compute this, but today we recommend that you write a function to compute the duration you want, not by subclassing. If you subclass Clip, then that will affect serialization which you probably don't want.

[2022-04-22 20:55] jminor commented on #1090
The docs are here https://github.com/PixarAnimationStudios/OpenTimelineIO/issues/1090
but there doesn't seem to be a link from the table of contents.

[2022-04-22 20:58] JeanChristopheMorinPerso commented on #1090
@jminor someone would need to add it in https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/main/docs/index.rst#tutorials.

[2022-04-22 23:11] jminor commented on #1280
Also, we should clarify that when you adjust the `time_scalar` of a LinearTimewarp, this does not change the duration of the clip, rather it changes the speed of the media played during that clip. So a Clip that is 10 frames long, normally plays 10 frames of media, but with a 200% speed up (`time_scalar = 2.0`) that Clip is still 10 frames long, but plays 20 frames of media. That is why the Clip's

[2022-04-24 02:18] luochaojing commented on #1280
In OpentimelineIO Code
[code]

[code]
accordance the code，the clip is 200% speed up,  source_range is 20 frames long,  but the duration() method return 20 frames. But it should return 10 frames.

Did I understand true?

Can you should me the values of source_range、trimmed_range、duration in this case?  thanks a lot！

[2022-04-24 20:27] werwack commented on #1224
@danielskovli Thank you very much for the test on Blender. Unfortunately these wheels are based on a broken version of openTimelineIO because they are the one with the __version__ not working correctly.
@JeanChristopheMorinPerso @meshula Do you think there is a way to provide wheels based on a recent - fixed - built of OTIO?
I'm afraid all this is a bit out of my reach, in spite of my efforts to g

[2022-04-27 09:03] donquibeats commented on #766
This is unfortunately still an issue with Resolve 17.3 and 18.0.

Because of a separate Resolve bug with how it no longer likes to conform image sequences from FCPXML files (as of 17.4), being able to import AAF into Resolve is now more desirable for us. Is there anyone who could help point us in the right direction for this? We _might_ be able to rustle up a small amount of funds to pay someone t

[2022-04-27 19:56] jminor commented on #766
This is likely a change needed in the OTIO AAF adapter. Specifically in here: https://github.com/PixarAnimationStudios/OpenTimelineIO/blob/main/contrib/opentimelineio_contrib/adapters/aaf_adapter/aaf_writer.py
It probably needs to call `create_timecode_slot` and attach it to the right place. Hopefully that's enough of a start that someone else could jump in and give it a try.

[2022-04-28 10:03] MichaelPlug opened #1282 "Write color decision list in .ale files"
## Feature Request

Ale's adapter should read from _.otio_ the **color decision list**.

## Description

The ale's adapter doesn't import Color Decision List from _.otio_ to _.ale_.
I think we can import it, as a simple column, so we don't loss this informations during the adapting.

[2022-04-28 17:21] jminor commented on #1278
@rogernelson could you take a look at this?

[2022-04-29 05:16] thecargocultnz opened #1284 "setup.py fails on windows after v0.14"
Building OTIO on win10 seems to fail for every commit after the offical 0.14 version.
I 'cd' into the OTIO directory, then run setup.py install.
The error thrown is:

[code]

The file in question does exist, but named without that numeric suffix.

**This commit builds without error:**
strip the .dev1 suffix in setup.py (#1127)	4d2f668	Stephan Steinbach <61017+ssteinbach@users.noreply.github.com>	2

[2022-04-29 15:54] JeanChristopheMorinPerso commented on #1284
Hi @thecargocultnz , can you provide the full output of the command please? From the two lines provided it's kind of hard to know what's going on.

[2022-04-29 15:56] JeanChristopheMorinPerso commented on #1284
Also of you could try with 0.14.1, that would be awesome. The only difference between 0.14.0 and 0.14.1 should be a little fix we did for the packaging (and maybe one or two other commits) which I think could potentially fix your issue. It's just a wild guess though.

[2022-04-29 22:46] thecargocultnz commented on #1284
So it seems the issue is caused by the addition of the .dev1 suffix to the "version" metadata in setup.py.
The tip of 0.14.1 builds fine, whereas the previous commit on that branch does not.
I can confirm the cause by pulling the tip of "main" 0.15.0.dev1 (fails to compile), then removing the .dev1 from the version name (does compile).

Attached is the full console output from setup.py
[OTIOBuildE

[2022-04-29 22:51] JeanChristopheMorinPerso commented on #1284
If you `pip install .` instead, do you get the same error? Also, could you run `pip freeze` and tell us the version of setuptools?

[2022-05-02 22:29] jminor commented on #699
@darbyjohnston has put together some example OTIO content with the Netflix Open Content media here: https://github.com/darbyjohnston/otio-oc-examples

There is also some new example video media available here: https://dpel.aswf.io

[2022-05-02 22:31] jminor commented on #594
Fixed by #598

[2022-05-02 22:31] #594 closed

[2022-05-02 22:32] jminor commented on #593
Closed by #664

[2022-05-02 22:32] #593 closed

[2022-05-02 22:36] jminor commented on #139
@avrata @rogernelson @ssteinbach is this issue still relevant now that RV has native OTIO support? More broadly, should we retire the RV adapter entirely?

[2022-05-02 23:33] pedrolabonia commented on #839
Hey @ssteinbach, I'm pretty familiar with Resolve's API. You _could_ do that. There are some limitations on the editing part of Resolve's API, but you would need to find the media in the `MediaPool` object, set in/out and append in order each one on the timeline. You could even try to map repositions/effects, but as far as I know OTIO haven't tried to standardize that yet.

I'm pretty familiar wit

[2022-05-03 00:30] jminor commented on #839
@pedrolabonia if you want to go that route, I suggest extending this Resolve plugin: https://github.com/eric-with-a-c/resolve-otio

However, the XML tag fix outlined above is probably a quick fix for someone wanting to contribute to OTIO & able to test in Resolve.

Since Resolve supports so many import/export formats already, picking the best one isn't obvious. This is a great problem to have :) A

[2022-05-03 13:07] pedrolabonia opened #1286 "Can't install locally with `pip install -e .`"
Can't seem to install locally with `pip install -e .`

Main error is: `ModuleNotFound`

### Build Problem

[code]

## To Reproduce

1. Mac OS 11.6
2. Python 3.9.1
4. OTIO https://github.com/PixarAnimationStudios/OpenTimelineIO/commit/ea64d92024ba4b521132f548df9ceee4585dbd46
5. Compiler information:
[code]

## Expected Behavior
Expected to be able to install locally with editable mode. I can instal

[2022-05-03 13:21] JeanChristopheMorinPerso commented on #1286
Hi @pedrolabonia , editable installs are not working for now in OTIO due to the uncommon source files layout that OTIO uses.

The problem is that the `.egg-link` points to the root of the repo, which doesn't contain any source files, let alone the built extensions.

I personally still haven't figured out a solution to that (except the brute force approach which is manually editing the link to poin

[2022-05-03 13:25] pedrolabonia commented on #1286
Oh, I see.

Even then, installing without the `-e` flag still gives me the same error. Guess I should still manually alter the `egg-link` file?

[2022-05-03 13:52] JeanChristopheMorinPerso commented on #1286
`pip install .` should just work, but you'll have to `pip uninstall opentimelineio` to remove the artifacts installed when running `pip install -e .`.

No, it contains everything needed.

What you can try is this:
1. `python setup.py build_ext build_py` (that will create the build dir for you, with the python files and the built extensions
2. `pip install -e .`
4. Modify the `.egg-link` to point t

[2022-05-03 13:56] JeanChristopheMorinPerso commented on #1286
The other way is to simply copy the `.so` into `src/py-opentimelineio/opentimelineio` and add `src/py-opentimelineio` to your `PYTHONPATH`.

1. `python setup.py build_ext`
2. Copy copy the `.so`s into `src/py-opentimelineio/opentimelineio`
3. Set `PYTHONPATH` to `src/py-opentimelineio`

[2022-05-03 14:39] JeanChristopheMorinPerso commented on #1286
Obviously I'd really like to get the editable installs work, but we'll have to do research and it's possible that there is no solution for extensions right now.

[2022-05-03 14:58] pedrolabonia commented on #1286
Awesome!

`pip install .` did work. I guess I might have messed something up. There was an old global install I did on accident, that was probably it. The `.egg-link` solution didn't. Copying the `.so` modules and altering `PYTHON_PATH` works, although I used a [different method](https://docs.python.org/3/install/index.html#modifying-python-s-search-path), using the a `.pth` file in `site-packages

[2022-05-03 15:33] JeanChristopheMorinPerso commented on #1286
I personally don't think it should go into the contributing guide. It's way too hacky. I also wouldn't add this solution to the `setup.py` script because it wouldn't work for developers working on the extensions (`_otio` and `_opentime`).

[2022-05-03 16:14] #816 closed

[2022-05-03 16:14] #1108 closed

[2022-05-05 04:21] #839 closed

[2022-05-09 06:18] visajshah commented on #1188
Hey @reinecke and @jminor, requesting a review of the attached PR.

[2022-05-12 05:53] jminor opened #1295 "Backwards and forwards compatibility"
Currently OTIO can read old `.otio` files that were serialized with older schema versions, because there is a built-in schema upgrade system. However, if an `.otio` file is written with a brand new schema revision, then software linked with an older version of OTIO will not be able to read those files. If you attempt this, a SCHEMA_VERSION_UNSUPPORTED error occurs.

In a one-way pipeline, this is

[2022-05-12 13:33] rogernelson commented on #139
Hey sorry for the delayed response, I was using up my last week of parental leave.

I would say the issue is not relevant anymore:
1) The adapter is native in RV now
2) The adapter shipped with RV supports custom node creation

I think we had some discussion regarding splitting off all the adapters into their own repos to maintained by their owners (us, Autodesk, in the case of this RV adapter). M

[2022-05-12 20:21] meshula commented on #1295
There is quite a body of work around schema migration for XML (c.f. https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.174.6520&rep=rep1&type=pdf)

with xslt (for xml) one would set up a matcher for rev A, with a corresponding translation rule to rev B. so,

`new = xform(old, A_B_migrate)`

one could also set up a matcher for rev B, with a translation rule to A.

`old = xform(new, B_A_migra

[2022-05-12 20:56] reinecke commented on #1295
There are some versioning notions in the HLS and ISO BMFF (MP4) file formats.

For instance, HLS has a [version tag](https://datatracker.ietf.org/doc/html/rfc8216#section-4.3.1.2) which declares the maximum specification version used in the file. Later in the specification, it [outlines what features are available](https://datatracker.ietf.org/doc/html/rfc8216#section-7) for each specification ver

[2022-05-12 22:54] jminor commented on #1295
Here's a proof-of-concept schema downgrader script. Note that it does *not* use the opentimelineio module at all.

https://gist.github.com/jminor/4ab918836f1dba78789b29e0479931ca

[2022-05-12 22:56] jminor commented on #1295
Another side effect of our current strategy: if you open an old OTIO in otioview, you'll see the upgraded schema in the JSON sidebar. This can be very confusing, since otioview is logically a viewer, and the user (me without enough caffeine) might reasonably assume that it is showing you the contents of the file un-altered.

[2022-05-12 23:32] meshula commented on #1295
I like the downgrader, and that no fancy dependencies are required to pull it off. Since we can rev schemas piecemeal, to make a downgrader viable, do we need a schema to otio version table? Like

[code]
so that if I am targeting otio 0.16, a migrater would know to downgrade track.v2 to the track.v1, or if I target 1.5, I know that if I find a clip.v3, it must be moved to clip.v2, and then repeat,

[2022-05-12 23:43] jminor commented on #1295
Yeah, bundling the set of schema versions that match each OTIO release is a good idea. That is similar to the "brand" concept that Eric mentioned above, I think.

@reinecke I like the idea of writing out the oldest schema needed to represent a specific file, but I worry that it would make the serialization code more complex. Would it also mean that you would get a mix of versions of the same schem

[2022-05-13 16:16] meshula opened #1296 "PySide6 has removed all functions marked "obsolete" in Qt5"
## Bug Report

The following functions, at least, used by otioview have been removed in the latest version of PySide6.

[code]

Trying to run otioview with the latest pyside6 emits many errors, such as

[code]

I had a go at fixing things up, some are easy to correct, for example `matrix` becomes `transform`, `width` becomes `horizontalAdvance`.  Others are not so straightforward, as no equivalent

[2022-05-13 19:34] meshula commented on #1296
These have been addressed. https://github.com/PixarAnimationStudios/OpenTimelineIO/pull/1221

I have a stale install with path precedence :sob:

Thanks @darbyjohnston

[2022-05-13 19:34] #1296 closed

[2022-05-16 21:50] jminor commented on #814
The OpenTimelineIO repo has been moved here: https://github.com/AcademySoftwareFoundation/OpenTimelineIO

[2022-05-16 21:50] #814 closed

[2022-05-19 00:13] #1188 closed

[2022-05-19 21:40] reinecke opened #1307 "OTIO JSON adapter raises non-pythonic exception when file doesn't exist"
### Incorrect Functionality and General Questions

When using the OTIO JSON adapter to read a file that fails to open, the exception raised is inconsistent with Python and other adapters - `ValueError` is raised instead of `FileNotFoundError`.

## To Reproduce

1. Operating System: macOS 10.15.7
2. Python version: 3.9.7
3. Example snippet that demonstrates the issue: see below
4. OpenTimelineIO re

[2022-05-21 20:08] JeanChristopheMorinPerso opened #1310 "Update Pybind11 to 2.9.2"
## Feature Request

Update to Pybind11 to the latest version that supports Python 2.7 (which as of now is 2.9.2)

## Description

We are lagging behind a little bit in terms of Pybind11 versions. We are currently on 2.8.x while the latest is 2.9.2. The 2.9 series is the last to support Python 2.7. Pybind11 2.10 will drop support for Python 2.7.

## Context

Updating would allow us to have a better

[2022-05-21 22:10] JeanChristopheMorinPerso opened #1311 "Remove CannotComputeAvailableRangeError import from opentimelineio.core"
## Feature Request

Remove the import of ` CannotComputeAvailableRangeError` from the `opentimelineio.core` module.

## Description

This exception is made both available from `opentimelineio.core` and `opentimelineio.exceptions`. I believe it should only be made available from `opentimelineio.exceptions`.

## Context

I discovered this in the context of #1209  and initially removed it there, but

[2022-05-22 02:37] JeanChristopheMorinPerso commented on #1307
@reinecke I created a pull request to address this: https://github.com/AcademySoftwareFoundation/OpenTimelineIO/pull/1313.

[2022-05-23 23:33] #1310 closed

[2022-05-26 17:24] meshula commented on #1284
I just made a fresh Conda environment with Python 3.9, pulled top of tree, and successfully ran `python setup.py install`. I didn't encounter the issue around the .dev1 suffix. @thecargocultnz Have you got past this issue as well?

[2022-05-26 20:59] thecargocultnz commented on #1284
@meshula Only solution for me was to remove the .dev1 from the version name.

[2022-05-26 23:01] meshula commented on #1284
Okay, I think this might be it. You are installing inside a python embedded within visual studio. The first question, is that what you intend to do? The path where your build fails is this:

[code]

That path is 264 characters long.

The windows MAX_PATH constant is 260. (https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd)

Removing `.dev1` from the name, s

[2022-05-26 23:04] JeanChristopheMorinPerso commented on #1284
Ah, I always forget about that limit. I guess that is it indeed.

[2022-05-26 23:10] meshula commented on #1284
One way to mitigate this issue is to map a drive letter deep into the path. For example if you map `P:` (for Python) to
`c:\\program files (x86)\\microsoft visual studio\\shared\\python37_64` you'll be in the same situation as people installing Python in a shallow location like c:\python37. You'd have to set up your path so that P:\ takes precendence, so that you get the benefit of the shorter pat

[2022-05-29 18:03] jamesdeluk commented on #1159
Just a heads up, this didn't work for me.

[2022-05-29 20:47] apetrynet commented on #1159
Hi @jamesdeluk !
I don't think the fix was released yet. #1191 is merged in main so it'll most likely get rolled out with the upcoming 0.15 release. (Don't know the date for that though..)

[2022-05-29 20:59] jamesdeluk commented on #1159
I realise that, but if the fix is based on `global_feed="1"`, then it's possible the fix also will not work. That was my thinking anyway :)

[2022-05-29 21:06] apetrynet commented on #1159
Ah, sorry! I totally misunderstood. :man_facepalming:  Sorry about that.
Thanks for flagging this. I'm sure someone with their head attached to their shoulders can answer :smile:

[2022-06-01 21:27] meshula opened #1321 "FCP7 XML adapter issue: Py 3.9 changes default encoding behavior on 'open'"
Justin Webster reports (https://academysoftwarefdn.slack.com/archives/CMQ9J4BQC/p1653968371353599) ~

Since switching from Python 3.7 to 3.9, parsing FCP7 XML fails.
Python seems to be defaulting to ascii mode and requires that utf-8 encoding be explicitly set in the call to open()
[code]

Apparently recent Python releases behave differently and rely on the system specific environment to determine

[2022-06-01 22:28] reinecke commented on #1321
At the moment, the [FCP 7 XML adapter](https://github.com/AcademySoftwareFoundation/OpenTimelineIO/blob/main/src/py-opentimelineio/opentimelineio/adapters/fcp_xml.py) only implements `read_from_string` - a fairly quick and harmless approach would be to implement `read_from_file` - [example from the otio json adapter](https://github.com/AcademySoftwareFoundation/OpenTimelineIO/blob/bc9662523a18d96f

[2022-06-01 23:40] thecargocultnz commented on #550
I have just come across another instance of this issue in FCP7 XML. In my case, clips with duration and rate of 0 are causing "NaN" to be written into the OTIO JSON string. This is not valid in JSON so there's an issue there - but more importantly we do need some way to handle these cases, preferably without just bailing out completely.

In my case, it is totally possible to extract the duration o

[2022-06-02 01:12] thecargocultnz opened #1322 "FCP7 XML: Clip duration calculated incorrectly, causing out-of-sync timeline construction"
The attached FCP7 XML, exported from Premiere, includes a placeholder clip which declares a duration of 0 and a rate for that duration of 0. Apart from causing NaN values in the OTIO model, the current XML adapter does not correctly find the actual clip duration as used on the timeline, causing every subsequent clip on that track to be out of sync with the actual film, and with every other track i

[2022-06-07 20:41] diegodnavarro opened #1325 "Found more than one Source Clip (2) for sourceClipComposition case. This is unexpected"
## Bug Report
I am trying to use OTIO to get AAF data with python, I can open some AAF file & work with those with no problem but for some others I get an error.

[code]

## To Reproduce

1. Operating System: MacOS 15.5
2. Python version: 3.9.5
3. Example snippet that demonstrates the issue - if it's a build issue
[code]
4. OpenTimelineIO release version or commit hash OpenTimelineIO 0.14.1
5. Com

[2022-06-07 23:23] #1307 closed

[2022-06-09 17:14] jminor commented on #1311
I support the idea of having this exception in just one place. I'm not too worried about breaking things, since the fix would be trivial.

[2022-06-17 11:05] gplsteph opened #1328 "CMX 3600 does not handle correctly transitions"
## Bug Report

### Incorrect Functionality and General Questions

CMX 3600 reads everything in an EDL as Clips and then perform a conversion to `Transitions` when needed. However, instead of keeping the Clip before the transition (in the EDL), it removes it from the `Timeline` and keeps the `Clip` for the EDL transition, loosing meta data and possibly media for `Clip` at the end of the transition

[2022-06-20 20:35] go-bears commented on #989
@jminor @meshula is this still an open issue? I'd like to try to work on this. Saw your presentation at tech talk and with Evan Goldberg. I'd be newbie to the project.

[2022-06-20 20:48] meshula commented on #989
I don't think anyone's done any work on getting OTIO available via conda ~ so if you'd like to take it on, that would be welcome!

[2022-06-20 21:31] diegodnavarro opened #1334 "IndexError: No SlotID: 0"
## Bug Report
I am trying to use OTIO to get AAF data with python, I can open some AAF file & work with those with no problem but for some others I get an error.
[code]

## To Reproduce

1. Operating System: MacOS 15.5
2. Python version: 3.9.5
3. Example snippet that demonstrates the issue - if it's a build issue
[code]
4. OpenTimelineIO release version or commit hash: OpenTimelineIO 0.14.1 as wel

[2022-06-22 14:25] lpequignot opened #1335 "dll load failed on windows/python37 when installed with pip install --target"
Hello,

I'm having the same error reported on previous issues (most recently closed is #1100) when trying to import opentimelineio after having installed it with pip install with the option --target.

It works without the option --target, with --user option.

I'm on Windows/Python3.7 and I'm trying to install opentimelineio-0.14.1.

[code]

Here is the command line used and log.

[code]

Let me kn

[2022-06-22 15:36] lpequignot commented on #1335
Hello,

I finally found what was the issue, it was execute permissions on the *.pyd  files.

Sorry for the disturbance. I'm closing the issue.

[2022-06-22 15:36] #1335 closed

[2022-06-26 18:09] JeanChristopheMorinPerso commented on #989
I'm curious, should the conda package provide both the python bindings and the C++ library or it should be two separate packages? How is this normally handled in conda?

[2022-06-26 22:53] meshula commented on #989
It's inconsistent, and even when C++ libraries are available, the packaging is often incomplete. For example, boost python is in conda, and the C++ linking libraries are distributed, but the headers are not, the last time I checked.

As with pypi, I recommend that we don't attempt to distribute the C++ bindings via conda, and that if people need them, they should build from a corresponding tag on

[2022-07-02 08:44] MichaelPlug opened #1343 "Impossible convert from an ale to aaf using an OTIO"
I'm tring to use an otio to convert an ale file to an aaf, using a simple adapter like this:
[code]
It looks like an OTIO from an ale doesn't have the attribute tracks that is necessary to build an aaf.

[code]

[2022-07-07 17:07] reinecke commented on #1343
Hi @MichaelPlug- Would it be possible to send an example using one of the sample files from our [sample data](https://github.com/AcademySoftwareFoundation/OpenTimelineIO/tree/main/tests/sample_data) so we can try and reproduce what's happening?